<footer class="tpr-footer" role="contentinfo">
  
  <div class="tpr-footer__content-container">
    <div class="tpr-footer__content govuk-body">
      <a
        href="https://www.thepensionsregulator.gov.uk/en/website-policies"
        class="govuk-link"
        >Website policies</a
      >
      <a
        href="https://www.thepensionsregulator.gov.uk/en/website-policies/accessibility-statement"
        class="govuk-link"
        >Accessibility</a
      >
      <a
        href="https://www.thepensionsregulator.gov.uk/en/contact-us/contact-us-trustees-administrators-scheme-advisers"
        class="govuk-link"
        >Contact us</a
      >
    </div>
    <p class="tpr-footer__copyright govuk-body">
      © 2023 The Pensions Regulator
    </p>
  </div>
</footer>
