
<header class="govuk-header" role="banner" style="padding-bottom: 10px;border-bottom: 0px">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #3d3d3d; padding-top: 10px;">
    <div class="govuk-header__logo" style="width: 20%;padding-right: 0px;">
      <a href="/" class="govuk-header__link">
        <img src="/public/images/TPR-Logo-Header.svg" class="govuk-header__logo-image" alt="The Pension Regulator Logo" style="width: 150px; height: 72px;" />
      </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%;display: inline-block;border-left: solid 1px #7569ba;padding: 1rem 0 1rem 1rem;margin-left: 0px;margin-bottom: 0px;margin-top: 12px;">
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
            Managing pension schemes
        </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%; text-align: right;">
      <nav style="padding-top:2.1em;">
        <span style="font-size: 1rem;">John Smith &nbsp;|&nbsp; </span>
        <a href="login_1.html" class="govuk-header__link" style="font-size: 1rem;">
          Sign out
        </a>
      </nav>
    </div>
  </div>
</header>

<div class="govuk-header" role="banner" style="background-color: #f1f1f1;padding-bottom: 0px;border-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #ffffff; padding-top: 0px;margin-bottom: 0px;">
    <div style="background-color: #f1f1f1;margin-bottom: 0px;padding-left: 0px;">
      <nav style="padding-top:0.8em;padding-bottom: 0.9em;color: #000000;text-align: left;">
        <span style="font-size: 1rem;"><strong>North Start Limited</strong> &nbsp; <span style="color:#b1b4b6">|</span> &nbsp; PSR 10005486 &nbsp; <!--<a href="#0"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><style>svg{fill:#1d70b8}</style><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"/></svg></a></span>-->
        <span style="text-align: right;padding-left: 582px;">
          <a href="clients_1.html" style="font-size: 1rem;text-decoration: none;color:#1d70b8;">Change client</a>
        </span>
      </nav>
    </div>
  </div>
</div>

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" style="margin-top: 10px">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="schemes_1.html">Schemes</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="svd_dashboard_1.html">Scheme Validation Data</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">Add new submission</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        &nbsp;
      </li>
    </ol>
  </div>
</div>


 
