
<header class="govuk-header" role="banner" style="padding-bottom: 10px;border-bottom: 0px">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #3d3d3d; padding-top: 10px;">
    <div class="govuk-header__logo" style="width: 20%;padding-right: 0px;">
      <a href="/" class="govuk-header__link">
        <img src="/public/images/TPR-Logo-Header.svg" class="govuk-header__logo-image" alt="The Pension Regulator Logo" style="width: 150px; height: 72px;" />
      </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%;display: inline-block;border-left: solid 1px #7569ba;padding: 1rem 0 1rem 1rem;margin-left: 0px;margin-bottom: 0px;margin-top: 12px;">
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
            Managing pension schemes
        </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%; text-align: right;">
      <nav style="padding-top:2.1em;">
        <span style="font-size: 1rem;">John Smith &nbsp;|&nbsp; </span>
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
          Sign out
        </a>
      </nav>
    </div>
  </div>
</header>

<!--
<div class="govuk-header" role="banner" style="background-color: #000000;padding-bottom: 0px;border-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #ffffff; padding-top: 0px;margin-bottom: 0px;">
    <div style="background-color: #000000;margin-bottom: 0px;padding-left: 0px;">
      <nav style="padding-top:0.8em;padding-bottom: 0.9em;color: #ffffff;text-align: left;">
        <span style="font-size: 1rem;"><a href="admin_dashboard_1.html" style="text-decoration: none;color:#ffffff;">My dashboard</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 1rem;"><strong style="border-bottom: 4px solid #ffffff;padding-bottom: 8px;">My pension schemes</strong></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 1rem;"><a href="admin_notifications_1.html" style="text-decoration: none;color:#ffffff;">Notifications</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 1rem;"><a href="admin_help_and_support_1.html" style="text-decoration: none;color:#ffffff;">Help and support</a></span>
      </nav>
    </div>
  </div>
</div>
-->

<div class="govuk-width-container">
  <div class="govuk-breadcrumbs" style="margin-top: 10px">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="admin_schemes_1.html">My schemes</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#0">PSR 10965738 - North Start Limited </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        &nbsp;
      </li>
    </ol>
  </div>
</div>



 
