<header class="tpr-header" role="banner">
  <div class="trp-header__container govuk-width-container">
    <div class="tpr-header__logo">
      <a href="/" class="tpr-header__link">
        <img
          src="/public/images/TPR-Logo-Header.svg"
          class="tpr-header__logo-image"
          alt="The Pension Regulator Logo"
          style="width: 200px; height: 72px"
        />
      </a>
    </div>
    <div class="tpr-header__content tpr-header__navigation">
      <nav style="padding-top: 2em">
        <a href="/" class="tpr-header__link tpr-header__link--service-name">
         Manage Pension Schemes
        </a>
      </nav>
      {% if isUserAuthenticated %}
      <nav>
        <a href="/dashboard" class="tpr-header__link">
          {{ userFullName }} |
        </a>
        <a href="/account/sign-out" class="tpr-header__link"> Sign out </a>
      </nav>
      {% endif %} {% if isUserAuthenticated == false %}
      <nav>
        <a href="/account/sign-in" class="tpr-header__link"> Sign in </a>
      </nav>
      {% endif %}
    </div>
  </div>
</header>


