<div class="tpr-header">
  <div class="tpr-header__inner govuk-width-container">
    <span class="tpr-header__logo"
      ><img
        alt="The Pensions Regulator logo"
        class="tpr-header__logo-img--screen"
        height="75"
        src="/public/images/tpr-logo-header.svg"
        width="180" /><img
        alt="The Pensions Regulator logo"
        class="tpr-header__logo-img--print"
        height="75"
        src="/public/images/tpr-logo-footer.svg"
        width="180"
    /></span>
    <p class="tpr-header__label govuk-body">Exchange</p>
    <div class="tpr-header__content govuk-body">
      <a href="#" class="govuk-link">Scheme options</a>
      <a href="#" class="govuk-link">Logout</a>
    </div>
  </div>
</div>
<div class="tpr-context">
  <div class="tpr-context__inner govuk-width-container">
    <div class="tpr-context__context-1 govuk-body">Scheme valuation data</div>
    <div class="tpr-context__container">
      <div class="tpr-context__context-2 govuk-body">TEST SCHEME 10000008</div>
      <div class="tpr-context__context-3 govuk-body">
        <div class="tpr-context__context-3-inner">PSR: 10000008</div>
      </div>
    </div>
  </div>
</div>
