
<head>
  <meta charset="utf-8">
  <title>Home - Statement of Strategy risk assessment - <a href="https://url.uk.m.mimecastprotect.com/s/tRkqCPz2ysvBqmpTzfRFxscIw?domain=gov.uk">GOV.UK</a></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta name="theme-color" content="#0b0c0c">
  <link rel="icon" sizes="128x128" href="https://tpr-sos-prototype.onrender.com/public/images/tpr-logo-favicon.ico">
  <!--
  <link rel="icon" sizes="48x48" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.ico">
  <link rel="icon" sizes="any" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/favicon.svg" type="image/svg+xml">
  -->
  <link rel="mask-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-mask.svg" color="#0b0c0c">
  <link rel="apple-touch-icon" href="/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-icon-180.png">
  <link rel="manifest" href="/plugin-assets/govuk-frontend/dist/govuk/assets/manifest.json">
  <link href="/public/stylesheets/application.css" rel="stylesheet" type="text/css">
  <link href="/public/css/tpr.css" rel="stylesheet" />
</head>





