
<header class="govuk-header" role="banner" style="padding-bottom: 10px;border-bottom: 0px">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #3d3d3d; padding-top: 10px;">
    <div class="govuk-header__logo" style="width: 20%;padding-right: 0px;">
      <a href="/" class="govuk-header__link">
        <img src="/public/images/TPR-Logo-Header.svg" class="govuk-header__logo-image" alt="The Pension Regulator Logo" style="width: 150px; height: 72px;" />
      </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%;display: inline-block;border-left: solid 1px #7569ba;padding: 1rem 0 1rem 1rem;margin-left: 0px;margin-bottom: 0px;margin-top: 12px;">
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
            Managing pension schemes
        </a>
    </div>
    <div class="govuk-header__content govuk-header__navigation" style="width: 40%; text-align: right;">
      <nav style="padding-top:2.1em;">
        <span style="font-size: 1rem;">John Smith, Acme Actuaries Limited &nbsp;|&nbsp; </span>
        <a href="/" class="govuk-header__link" style="font-size: 1rem;">
          Sign out
        </a>
      </nav>
    </div>
  </div>
</header>

<div class="govuk-header" role="banner" style="background-color: #000000;padding-bottom: 0px;border-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #ffffff; padding-top: 0px;margin-bottom: 0px;">
    <div style="background-color: #000000;margin-bottom: 0px;padding-left: 0px;">
      <nav style="padding-top:0.8em;padding-bottom: 0.9em;color: #ffffff;text-align: left;">
        <!--
        <span style="font-size: 1rem;"><a href="admin_dashboard_1.html" style="text-decoration: none;color:#ffffff;">My dashboard</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        -->
        <span style="font-size: 1rem;"><a href="mvp1_my_schemes.html" style="text-decoration: none;color:#ffffff;">My pension schemes</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 1rem;"><a href="mvp1_notifications.html" style="text-decoration: none;color:#ffffff;">Notifications</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <span style="font-size: 1rem;"><a href="mvp1_help_and_support.html" style="text-decoration: none;color:#ffffff;"><strong style="border-bottom: 4px solid #ffffff;padding-bottom: 8px;">Help and support</strong></a></span>
        <!--
        <span style="text-align: right;padding-left: 860px;">
          <a href="clients_1.html" style="font-size: 1rem;text-decoration: none;color:#1d70b8;">Change client</a>
        </span>
        -->
      </nav>
    </div>
  </div>
</div>

<!--
<div class="govuk-header" role="banner" style="background-color: #f3f2f1;padding-bottom: 0px;border-bottom: 0px; margin-bottom: 0px; margin-top: 0px;">
  <div class="govuk-header__container govuk-width-container" style="border-bottom: 0px solid #ffffff; padding-top: 0px;margin-bottom: 0px;">
    <div style="background-color: #f3f2f1;margin-bottom: 0px;padding-left: 0px;">
      <nav style="padding-top:0.8em;padding-bottom: 0.9em;color: #000000;text-align: left;">
        <span style="font-size: 1rem;"><a href="mvp1_scheme_details.html" style="color:#000000;text-decoration: none;">PSR: 10010021 - Dummy scheme for testing</a></span>
        &nbsp;&nbsp;&nbsp;&nbsp;
      </nav>
    </div>
  </div>
</div>
-->








 
