
<html lang="en" class="govuk-template">

{% include "includes/head.html" %}

<body class="govuk-template__body js-enabled govuk-frontend-supported">

    {% include "includes/scripts_head.html" %}

    {% include "includes/header.html" %}

    <div class="govuk-width-container">

    <!--
    {% include "includes/beta.html" %}
    -->
        
        <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
          <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/RhkkCJNVpcpkEJqCVfQFyOPk-?domain=dashboard.html">Dashboard</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/7xEACKLWqc8Q5o2svhWF5u3g5?domain=schemes.html">My pension schemes</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/QrdlCLvXrcN0nWRHPi8FyzQwZ?domain=scheme_details.html">PSR 123456789</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/ZHF-CMJYvTxp4rqTWswF8VGGl?domain=scheme_valuation_data.html">Scheme valuation</a>
            </li>
          </ol>
        </nav>
        
        <main class="govuk-main-wrapper" id="main-content" style="padding-top: 20px;">
                  
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                    <!-- ///////////////////////////////////////  BODY  //////////////////////////////////////// -->

                    <!-- <span class="govuk-caption-l" style="margin-bottom: 5px;">PSR 123456789</span> -->

                    <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Scheme valuation</h1>

                    <!--
                    <h2 class="govuk-heading-m" style="font-size: 22px;" style="margin-bottom: 5px;">View schemes valuation data</h2>
                    -->

                    <table class="govuk-table" style="margin-bottom: 40px;">
                      <!--<caption class="govuk-table__caption govuk-table__caption--m">Active pension schemes</caption>-->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header app-custom-class">Submission ID </th>
                          <th scope="col" class="govuk-table__header app-custom-class">Effective date </th>
                          <th scope="col" class="govuk-table__header app-custom-class">Submitter</th>
                          <th scope="col" class="govuk-table__header app-custom-class">Submission date</th>
                          <th scope="col" class="govuk-table__header app-custom-class">Status</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row hover">
                          <td class="govuk-table__cell"><a href="https://url.uk.m.mimecastprotect.com/s/t2tSCNYZwUVYmW0CrtXFyD2XE?domain=svd_submission_details.html" style="color:#1d70b8;text-decoration: none;">56789012</a></td>
                          <td class="govuk-table__cell">12/07/2021</td>
                          <td class="govuk-table__cell">Peter Coward-Williams</td>
                          <td class="govuk-table__cell">02/09/2021</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" style="max-width: 240px;">SoS risk assessment in progress </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">78901236</a></td>
                          <td class="govuk-table__cell">07/11/2020</td>
                          <td class="govuk-table__cell">Ann Waterhouse</td>
                          <td class="govuk-table__cell">08/02/2021</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">64250923</a></td>
                          <td class="govuk-table__cell">14/06/2019 <!--&nbsp;(v2)--></td>
                          <td class="govuk-table__cell">Jonathan Wong</td>
                          <td class="govuk-table__cell">30/10/2019</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Accepted </strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;text-decoration: none;">64250922</a></td>
                          <td class="govuk-table__cell">14/06/2019 <!--&nbsp;(v1)--></td>
                          <td class="govuk-table__cell">Jonathan Wong</td>
                          <td class="govuk-table__cell">14/10/2019</td>
                          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Rejected </strong></td>
                        </tr>
                      </tbody>
                    </table>

                    <a href="https://url.uk.m.mimecastprotect.com/s/xsO2COP1xT5Dm8pU5uYFG5bLa?domain=submit_svd_1.html"><button type="submit" class="govuk-button" data-module="govuk-button">Submit a new scheme valuation</button></a>

                    <br>
                    <br>
                    <br>

                    <!-- ///////////////////////////////////////  END of BODY  //////////////////////////////////////// -->

                </div>
            </div>

        </main>

    </div>
    
    {% include "includes/footer.html" %}

    {% include "includes/tpr-stylesheets.scss" %}

    <style>

      tr.hover:hover {color: #000000;background-color: #f2f2f2;}

    </style>

</body>

</html>

