
  p {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  a {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  span {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-input {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .html {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-body {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-body-m {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-caption-l {
    font-family: "open sans", sans-serif;
    font-size: 1.2rem;
  }

  .govuk-caption-m {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-heading-xl {
    font-family: "open sans", sans-serif;
    font-size: 3rem;
  }

  .govuk-heading-l {
    font-family: "open sans", sans-serif;
    font-size: 2rem;
  }

  .govuk-heading-m {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-heading-s {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-footer__link {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-table__cell {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-panel {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-list {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-inset-text {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-hint {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-form-group {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-file-upload {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-checkboxes {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-label {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-table__header {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-table__caption--m {
    font-family: "open sans", sans-serif;
    font-size: 22px;
  }

  .govuk-button {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-button--start {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .dwp-timeline {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-tag {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  .govuk-warning-text {
    font-family: "open sans", sans-serif;
    font-size: 1rem;
  }

  /*

  .govuk-inset-text {
    border-left: 10px solid #483b8b;
  }

  .govuk-button {
    background-color: #0381a2;
    box-shadow: 0 2px 0 #000000;
  }

  .govuk-button:hover {
    background-color: #483b8b;
  }

  */
