
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Design history version 2</h1>

        <p class="govuk-body" style="margin-bottom: 30px;">This page describe all the changes in this version from previous version. <br><br>
          Contact details about the changes: <br>
          <strong>&#8226; Service:</strong> Kat  Chartrand, kat.chartrand@tpr.gov.uk  <br>
          <strong>&#8226; Prototype:</strong> Ramon Delgado, ramon.delgado@tpr.gov.uk
        </p>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">What has been changing from previous version?</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="200">Subject</th>
              <th scope="col" class="govuk-table__header">Description</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Prototype scope</th>
              <td class="govuk-table__cell">The prototype improves the initial concept for users to submit a new Scheme Valuation Data.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Value proposition</th>
              <td class="govuk-table__cell">This end-to-end view allows users to create and submit a new Scheme Valuation Data. </td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Version updates</th>
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                General improvements from version 1.
                <br>
                <br>
                <strong>Changes from users feedback in version 1 usability testing</strong>
                <br>
                N/A because we didn't test with users.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <p style="margin-bottom: 300px;"></p>

    </div>
</div>


{% endblock %}
