{% extends "includes/layout_svd_dashboard_3.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                
        <!--
        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>
        -->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 10px;">Manage submissions</h1>

        <!--
        <div class="govuk-tabs" data-module="govuk-tabs" style="margin-bottom: 0px;">
          <h2 class="govuk-tabs__title">
            Contents
          </h2>
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
              <a class="govuk-tabs__tab" href="#active">
                Active submissions
              </a>
            </li>
            <li class="govuk-tabs__list-item">
              <a class="govuk-tabs__tab" href="#historical">
                Historical submissions
              </a>
            </li>
          </ul>
          <div class="govuk-tabs__panel" id="active" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
          </div>
          <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="historical" style="border: 1px solid #b1b4b6; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
          </div>
        </div>
        -->

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">SUBMISSION</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Submission effective date 19/11/2023</h2>
          <span class="govuk-caption-m">Created by Chris Hill on 22/09/2023</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">IN PROGRESS</strong>
          <a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage submission</a>
        </div>
        -->

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">SCHEME VALUATION DATA</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Submission effective date 19/11/2023</h2>
          <span class="govuk-caption-m">Created by John Smith on 06/06/2023</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">IN REVIEW</strong>
          <a href="#0" style="text-decoration: none;color:#1d70b8;">View submission</a>
        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">SCHEME VALUATION DATA</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Submission effective date 25/09/2022</h2>
          <span class="govuk-caption-m">Created by Chris Hill on 14/08/2021</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">UPDATING</strong>
          <a href="#0" style="text-decoration: none;color:#1d70b8;">Manage submission</a>
        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">SCHEME RETURN</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Submission effective date 14/10/2022</h2>
          <span class="govuk-caption-m">Created by Chris Hill on 06/07/2021</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">UPDATING</strong>
          <a href="#0" style="text-decoration: none;color:#1d70b8;">Manage submission</a>
        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">SCHEME RETURN </span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Submission effective date 23/09/2021</h2>
          <span class="govuk-caption-m">Created by Alison Prichard on 19/07/2020</span>
          <strong class="govuk-tag govuk-tag--green" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">ACCEPTED</strong>
          <a href="#0" style="text-decoration: none;color:#1d70b8;">View submission</a>
        </div>

        <a href="#0"><button class="govuk-button" data-module="govuk-button" style="margin-top: 10px;">Add new submission</button></a>

        <hr style="margin-bottom: 30px;">

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 10px;">Documents templates</h2>

        <p>Your spreadsheets must to use our latest templates depending on the effective date of the last scheme. Make sure that you have downloaded the <a href="#0" target="blank" style="color:#1d70b8;">correct template</a>.</p>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Data valuation templates</th>
              <th scope="col" class="govuk-table__header">Updated on</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Actuarial Data (AC)</a></td>
              <td class="govuk-table__cell">27/02/2020</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Covenant Data (CD)</a></td>
              <td class="govuk-table__cell">27/02/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Recovery Plan (RP)</a></td>
              <td class="govuk-table__cell">13/11/2019</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Funding and Investment Strategy (FIS)</a></td>
              <td class="govuk-table__cell">27/02/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Actuarial Valuation (AV)</a></td>
              <td class="govuk-table__cell">06/04/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Schedule of Contribution (SC)</a></td>
              <td class="govuk-table__cell">06/04/2020</td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="556">Return templates</th>
              <th scope="col" class="govuk-table__header">Updated on</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Section 1 (schemes), 2 (memberships), and 3 (finances)</a></td>
              <td class="govuk-table__cell">14/03/2020</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Section 4 (AE schemes)</a></td>
              <td class="govuk-table__cell">17/03/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Section 5 (micro schemes) </a></td>
              <td class="govuk-table__cell">21/02/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Section 6 (effective date information)</a></td>
              <td class="govuk-table__cell">24/08/2019</td>
            </tr>
          </tbody>
        </table>

        <!--
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Supporting documents templates</th>
              <th scope="col" class="govuk-table__header">Updated on</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Lorum ipsum est</a></td>
              <td class="govuk-table__cell">27/04/2021</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Colabra tentare sempre supuniam</a></td>
              <td class="govuk-table__cell">12/09/2020</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Download Aliquam tanarias supra</a></td>
              <td class="govuk-table__cell">14/10/2010</td>
            </tr>
          </tbody>
        </table>
        -->

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <!--<div style="border-top: 4px solid #1d70b8;margin-top: 10px;"></div>-->

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 70px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Acme Limited</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 5px;">PSR 12010256 </p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage account</a></p>
          </div>
        </div>
        -->

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 79px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Collaborators</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;">
               Peter Coward <br>
               Sonia Kowasky <br>
               Anne Douglas <br>
               Mark Green <br>
               Sebastian Tower <br>
               Jonathan Sinclair <br>
               Maria Sutherland <br>
               Michael Sumerfield <br>
               Alison Prichard <br>
               Viktor Orkasita <br>
               Rafael Gonzalez <br>
               John Riley <br>
               Tara Columbus 
            </p>
            <a href="#0"><button class="govuk-button" data-module="govuk-button" style="margin-top: 10px;margin-bottom: 20px;">Invite new collaborator</button></a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage collaborators</a></p>
          </div>
        </div>

        <div class="dwp-timeline" style="margin-top: 30px;">
          <h1 class="govuk-heading-m" style="margin-bottom: -10px;">Scheme activity log</h1>
          <ol class="dwp-timeline__events" style="margin-top: 0px;">
            <li class="dwp-timeline__events--entry" style="margin-bottom: 20px;">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Team</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1" style="font-size: 16px;">11 May 2023</p>
                <p class="govuk-caption-m" style="color: #000000;">New collaborator Tara Columbus added to scheme team.</p>
            </li>
            <li class="dwp-timeline__events--entry" style="margin-top: 20px; margin-bottom: 20px;">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1" style="margin-bottom: 5px;">Submission</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1" style="font-size: 16px;">04 May 2023</p>
                <p class="govuk-caption-m" style="color: #000000;">Alison Prichard updated the Actuarial Data in SUB 277083.</p>
            </li>
            <li class="dwp-timeline__events--entry" style="margin-top: 20px; margin-bottom: 20px;">
                <h2 class="govuk-heading-s govuk-!-margin-bottom-1" style="margin-bottom: 5px;">Submission</h2>
                <p class="govuk-caption-m govuk-!-margin-bottom-1" style="font-size: 16px;">14 Mar 2023</p>
                <p class="govuk-caption-m" style="color: #000000;">Viktor Orkasita uploaded the Actuarial Data in SUB 277083.</p>
                <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View scheme all activity </a></p>
            </li>
          </ol>
        </div> 

        <style>
          .dwp-timeline {
              font-family: Arial, sans-serif;
          }
          .dwp-timeline__events {
              border-left: 3px solid #483b8b;
              list-style-type: none;
              padding: 0;
          }
          .dwp-timeline__events--entry {
              margin: 32px 0;
              padding-left: 18px;
              position: relative;
              top: -10px;
          }
          .dwp-timeline__events--entry::before {
              background-color: #483b8b;
              content: '';
              height: 3px;
              left: -1px;
              position: absolute;
              top: 10px;
              width: 11px;
          } 
        </style>

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 15px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Help and support</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View tutorials</a></p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View FAQs</a></p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Make an enquiry</a></p>
          </div>
        </div>
        -->

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 10px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Collaborators</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;">
               Peter Coward <br>
               Sonia Kowasky <br>
               Anne Douglas <br>
               Mark Green <br>
               Sebastian Tower <br>
               Jonathan Sinclair <br>
               Maria Sutherland <br>
               Michael Sumerfield <br>
               Alison Prichard <br>
               Viktor Orkasita <br>
               Rafael Gonzalez <br>
               John Riley <br>
               Tara Columbus 
            </p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage collaborators</a></p>
          </div>
        </div>
        -->

    </div>

</div>




{% endblock %}
