// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "OpenSans", "Open Sans", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

//START TPR Styles

/* ================ TABLE OF CONTENTS ================
1. Global styles
2. Link Styles
etc.

================ END TABLE OF CONTENTS ================ */


/* ================ 1. GLOBAL STYLES ================ */

html {
    box-sizing: border-box;
    scroll-padding-top: 50px;
  }

  /* * {
    vertical-align: middle;
  } */

  *:before,
  *:after {
    box-sizing: inherit;
  }

  body, .govuk-body {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    /* margin-bottom: 30px; */
  }

  h1 {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px !important;
    font-weight: 600 !important;
    letter-spacing: 0em !important;
    line-height: 68px !important;
  }

  h2, .govuk-label--m {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 23px !important;
    font-weight: 600 !important;
    letter-spacing: 0em !important;
    line-height: 36px !important;
  }

  h3, .govuk-fieldset__legend--m, .govuk-label--s {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
    font-weight: 600 !important;
    letter-spacing: 0em !important;
    line-height: 28px !important;
    margin-bottom: 12px;
    /* padding-top: 20px !important; */
  }

  h4 {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
  }

  h5 {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
  }

  p {
    color: #3d3d3d;/* Eclipse */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 24px !important;
  }

  label {
    color: #3d3d3d !important;/* Eclipse */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-weight: 600;
    letter-spacing: 0em !important;
    line-height: 1.5 !important;
  }


  li {
    color: #3d3d3d;/* Eclipse */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
  }

  .govuk-hint {
    color: #585858;/* Zambezi */
    font-family: 'Open Sans', sans-serif;
    font-size: 16px !important;
    font-weight: 400;
    letter-spacing: 0em !important;
    line-height: 1.5 !important;
    margin-bottom: 16px !important;
  }

  .govuk-select {
    color: #3d3d3d !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 28px !important;
  }

  .govuk-heading-xl, .govuk-label--xl {
    border-bottom: 1px solid #cacaca;
    margin-bottom: 30px !important;
    padding-bottom: .75em;
    width: 100%;
}

@media (min-width: 40.0625em) {
  .govuk-heading-m {
    margin-bottom: 6px;
  }
}

.govuk-panel__body {
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px !important;
    font-weight: 700 !important;
    letter-spacing: 0em !important;
    line-height: 52px !important;
    margin-bottom: 16px;
}

.govuk-panel__title {
    color: #ffffff !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px !important;
    font-weight: 400 !important;
    letter-spacing: 0em !important;
    line-height: 40px !important;
    margin-bottom: 10px;
}

.govuk-grid-column-one-third, .govuk-grid-column-two-thirds {
    padding: 0 !important;
}

.govuk-grid-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.govuk-width-container {
    max-width: 1050px;
    margin-right: 15px;
    margin-left: 15px;
  }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(20px, calc(20px + env(safe-area-inset-right)));
      margin-left: max(20px, calc(20px + env(safe-area-inset-left)));
    }
  }

  @media (min-width: 40.0625em) {
    .govuk-width-container {
      margin-right: 30px;
      margin-left: 30px;
    }
    @supports (margin: max(calc(0px))) {
      .govuk-width-container {
        margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
        margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
      }
    }
  }

  @media (min-width: 1020px) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
    @supports (margin: max(calc(0px))) {
      .govuk-width-container {
        margin-right: auto;
        margin-left: auto;
      }
    }
  }

  @media (min-width: 40.0625em) {
    .govuk-body {
      margin-bottom: 24px;
    }
  }

  .tool-container {
    border: 4px solid #cacaca;
    padding: 4.5% 5.25% 1.5% 5.25%;
    margin: 36px 0;
}

@media (min-width: 40.0625em) {
  .govuk-heading-s {
    margin-bottom: 8px !important;
  }
}

.govuk-error-message {
  color: #a91717 !important;
  font-weight: 600 !important;
}

#bott-mar {
  margin-bottom: 20px !important;
}

.intro-hint {
  margin-bottom: 12px;
}

input {
  border: 1px solid #3d3d3d !important;
}

.govuk-grid-column-two-thirds {
  padding: 0 10px 0 0 !important;
}

@media only screen and (max-width: 360px) {
  .govuk-grid-column-two-thirds {
    padding: 0 !important;
  }
}

.govuk-grid-column-one-third {
  margin-top: 6px;
  padding: 0 0 0 20px !important;
}

.govuk-width-container {
max-width: 1110px !important;
}

.govuk-input:focus {
  border-width: 2px !important;
  box-shadow: inset 0 0 0 2px #3d3d3d !important;
  outline: 4px solid #fed100 !important;
}

.govuk-input--error {
  border-color: #a91717 !important;
  border-width: 4px !important;
}
.govuk-input--error:focus {
  border-color: #3d3d3d !important;
}

.govuk-form-group--error {
  border-left: 5px solid #a91717 !important;
}

.govuk-error-summary {
  color: #3d3d3d !important;
  border: 5px solid #a91717 !important;
}

.govuk-error-summary__list a:link, .govuk-error-summary__list a:visited {
  color: #a91717;
}

.govuk-error-summary__list a:active {
  color: #a91717 !important;
}
.govuk-error-summary__list a:hover {
  color: #CD2e35;
}

.govuk-error-summary__list a:focus {
  color: #3d3d3d !important;
  background-color: #fed100;
  box-shadow: 0 -2px #fed100, 0 4px #3d3d3d;
}

.govuk-error-summary:focus {
  outline: 4px solid #fed100;
}

@media (min-width: 40.0625em) {
  .govuk-error-summary {
    margin-bottom: 36px;
  }
}
.govuk-radios__label:before {
  border: 1px solid;
  border-color: #3d3d3d !important;
  background: #f5f5f5; //added because I forgot
}

.govuk-radios__label:after {
  border: 10px solid #006EBC;
}

.govuk-radios__input:focus + .govuk-radios__label:before {
  box-shadow: 0 0 0 4px #fed100 !important;
}

.govuk-radios__input:checked + .govuk-radios__label::after {
  opacity: 1;
  outline: #3d3d3d solid 3px;
  outline-offset: 6px;
}

  /* ================ END Global Styles ================ */

  /* ================ XX. BUTTON STYLES ================ */

button, .govuk-button {
    background-color: #0381a2 !important; /* Eastern blue */
    border: none;
    border-radius: 8px;
    box-shadow: none !important;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    padding: 13px 27px; /* padding: 5px 20px; */
    margin: 14px 0px 26px 0px; /* margin: 0 auto; */
    text-align: center;
    transition-duration: 0.2s;
    /* width: 200px; */
  }

  button:hover, .govuk-button:hover {
    background-color: #483b8b; /* Violet */
  }

  button:active,
  button:focus,
  .govuk-button:active,
  .govuk-button:focus {
    background-color: #fed100 !important; /* Tangerine yellow */
    color: #3d3d3d !important;/* Eclipse */
    box-shadow: 0 2px 0 #3d3d3d !important;
    // border-bottom: 2px solid #3d3d3d;
  }

  button.secondary-btn {
    background-color: #006ebc; /* Royal blue */
  }

/* @media only screen and (max-width: 360px) {
    .govuk-button {
        width: 320px;
    }
} */

  /* ================ END Button Styles ================ */

  /* ================ START Link Styles ================ */

  a:link {
    color: #006EBC; /* Royal blue */
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 0.3em;
  }

  a:hover {
    color: #557B97; /* Kashmir blue */
    /* font-weight: 700; */
    text-decoration-thickness: 3px;
  }

  a:focus, .govuk-link:focus {
    background-color: #fed100; /* Tangerine yellow */
    box-shadow: 0 -2px #fed100, 0 4px #3d3d3d;
    // border-bottom: 4px solid #3d3d3d;
    color: #3d3d3d !important; /* Eclipse */
    text-decoration: none !important;
  }

  a:visited {
    color: #483b8b; /* Violet */
  }

  .pageanchornavigation__list li, .guidenavigation li {
    line-height: 1.75 !important;
  }

  /* ================ END Link Styles ================ */

  /* ================ START Panel Styles ================ */

.govuk-panel {
    margin: 20px 0 24px 0;
    padding: 36px 10px;
    border: none;
}

.govuk-panel--confirmation {
    background: #1E7E34 !important;
}

@media only screen and (max-width: 360px) {
  .govuk-panel__body {
    font-size: 26px !important;
    line-height: 40px !important;
    // margin-bottom: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .govuk-panel__title {
    font-size: 23px !important;
    line-height: 36px !important;
    // margin-bottom: 5px;
  }
}

@media only screen and (max-width: 360px) {
  .govuk-panel--confirmation {
    padding: 24px 32px 16px 32px !important;
    min-height: 200px;
  }
}

  /* ================ END Panel Styles ================ */

  /* ================ START Inset Text Styles ================ */

.govuk-inset-text {
    font-weight: 600 !important;
}

  /* ================ END Inset Text Styles ================ */

  /* ================ START Table Styles ================ */

.govuk-table__header {
    background-color: #ededed;
    font-weight: 700;
}

.govuk-table__cell, .govuk-table__header {
    font-size: 16px;
    padding: 20px;
}

.govuk-table__caption--m {
    font-size: 18px;
    font-weight: 600;
}

  /* ================ END Table Styles ================ */

  /* ================ START Header Styles ================ */


.govuk-header {
    border-bottom: 50px solid #0B0030;
    background: #483B8B;
}

.govuk-header__container {
    padding: 15px;
    border-bottom: none !important;
}

.govuk-header__link:link, .govuk-header__link:visited {

}

/* ================ END Header Styles ================ */

/* ================ START Footer Styles ================ */

.govuk-footer {
    background-color: #ededed;
    padding: 40px;
}

.govuk-footer__licence-description, .govuk-footer__licence-logo, .govuk-footer__copyright-logo {
    display: none;
}

/* ================ END Footer Styles ================ */

 /* ================ START Breadcrumb Styles ================ */

 .govuk-breadcrumbs {
    border-bottom: 1px solid #cacaca;
    margin-bottom: -30px;
    padding: 0 0 10px 0;
 }

 .govuk-breadcrumbs__link:link, .govuk-breadcrumbs__link:visited {
    color: #006EBC;
    text-decoration: none;
}

.govuk-breadcrumbs__link:hover {
    color: #557B97;
    text-decoration: underline;
}

/* ================ END Breadcrumb Styles ================ */

/* ================ START List Styles ================ */

  .govuk-list--number {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 28px;
}

/* .govuk-list--bullet {
  list-style-type: none;
}

.standardinformation ul li::before, .pageanchornavigation ul li::before, .highlightinformation ul li::before {
  content: "•";
  color: #483b8b;
  display: inline-block;
  width: 1.5rem;
  margin-left: -1.5rem;
  font-size: 2rem;
  vertical-align: middle;
} */

/* ================ END List Styles ================ */

/* ================ START Back to Top Styles ================ */

.app-back-to-top {
    background-color: #ffffff;
    border-top: 1px solid #cacaca;
    height: 48px;
    width: 100%;
    margin-top: govuk-spacing(4);
    margin-bottom: govuk-spacing(6);
  }

//   @include govuk-media-query($from: tablet) {
    .app-back-to-top {
        display: none;
      position: absolute;
      bottom: 0;
    //   left: 0;
      margin-top: auto;
      margin-bottom: govuk-spacing(8);
      padding: 10px 0;
      text-align: right;
    }

    @media (min-width: 40.0625em) {
        .app-back-to-top__link {
          margin-right: 22.65%;
        }
    }

    @media (max-width: 640px) {
        .app-back-to-top {
          text-align: center;
        }
    }

    .js-enabled .app-back-to-top--fixed {
      position: fixed;
      top: calc(100% - #{govuk-spacing(8)});
      bottom: auto;
      left: 0;
    }

    .js-enabled .app-back-to-top--hidden .app-back-to-top__link {
      @include govuk-visually-hidden-focusable;
    }
//   }

  .app-back-to-top__icon {
    display: inline-block;
    width: .8em;
    height: 1em;
    margin-top: -(govuk-spacing(1));
    margin-right: govuk-spacing(2);
    vertical-align: middle;
  }

  /* ================ END Back to Top Styles ================ */

  /* ================ START Form Input Styles ================ */

  .govuk-input {
    color: #3d3d3d;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

/*   @media (min-width: 40.0625em) {
    .govuk-input {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  } */
