{% extends "includes/layout.html" %}

{% block pageTitle %}

Select an address{% endblock %}
{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="confirm-address" method="POST">

  <div class="govuk-width-container">
<p>6 addresses found for <b>1</b> and <b>WR1 1NL</b>. <a href="find-an-address">Search again</a></p>
<div class="govuk-form-group">
<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          {% include "includes/psr-number.html" %}
        <h1 class="govuk-fieldset__heading">
            Select an address
        </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address" name="select-an-address" type="radio" value="1 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address">
                1 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address-2" name="select-an-address" type="radio" value="10 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address-2">
                10 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address-3" name="select-an-address" type="radio" value="11 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address-3">
                11 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address-4" name="select-an-address" type="radio" value="101 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address-4">
                101 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address-5" name="select-an-address" type="radio" value="110 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address-5">
                110 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
        <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="select-an-address-6" name="select-an-address" type="radio" value="111 Washington Street, Worcester, WR1 1NL">
            <label class="govuk-label govuk-radios__label" for="select-an-address-6">
                111 Washington Street, Worcester, WR1 1NL
            </label>
        </div>
    </div>
</fieldset>
</div> <input class="govuk-button" type="submit" value="Use this address">
<p class="govuk-body govuk-!-margin-bottom-0"><a href="address-manual" class="govuk-link">Enter address manually</a></p>
</div>

<br>


  <p><a href="../tasklist.html" class="govuk-link">Save and return</a></p>

</form>

</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
