{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="tpr-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form action="check_answers" method="post"> 

              <a href="multiple_uploads.html" class="govuk-back-link govuk-!-margin-bottom-3">Back</a>

            <p class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 30px;">Upload a copy of the actuarial valuation, recovery plan and schedule of contributions</p>

            <div id="file-upload-1-hint" class="govuk-hint">
                This must be a document that includes the following:
                   <ul class="govuk-list govuk-list--bullet govuk-hint">
                       <li>a copy of the actuarial valuation, which has been signed off by the scheme actuary</li>
                       <li>a copy of the recovery plan</li>
                       <li>a copy of the schedule of contributions
                       </li>
                   </ul>
               </div>

            <div class="govuk-form-group">
                <div class="govuk-form-group">
                  <h3 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="file-upload-1">
                      Upload file
                    </label>
                  </h3>

                
                  <div id="file-upload-1-hint" class="govuk-hint">
                  This must be a PDF file.
                  </div>
                  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file" aria-describedby="file-upload-1-hint">
                </div>
            </div>
              
              <button type="submit" class="govuk-button" data-module="govuk-button">
                Upload
              </button>

            </form>
            </div>
      </div>
    </main>
</div>
        
  
        
        {% endblock %}            