{% extends "includes/mvp1_submit_layout_3_back.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">Upload statement of strategy</h1>

        <!--
        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          Your file must be in XLS format.
        </div>
        -->

        <div class="govuk-form-group" style="margin-bottom: 20px;">
          <label class="govuk-label" for="sort" style="margin-bottom: 15px;">
            <strong>Select the template that you used to fill and upload the statement of strategy
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="none" selected></option>
            <option value="a">A100</option>
            <option value="b">B200</option>
            <option value="c">C300</option>
            <option value="d">D400</option>
            <option value="e">E500</option>
          </select>
        </div>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Description of statement of strategy's templates
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorum ipsum here...
          </div>
        </details>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            <strong>Upload file</strong>
          </label>
          <div id="signIn-hint" class="govuk-hint" style="margin-top: 10px">
            The file must be a PDF.
          </div>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        <!--
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1" style="margin-bottom: 10px;">
            <strong>Enter any comments about this file (optional)</strong>
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
        -->

        <form action="mvp1_submit_upload_2.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
