{% extends "includes/mvp1_submit_layout_3_back.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">Review the details before submit your valuation data</h1>

        <!--
        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          Your file must be in XLS format.
        </div>
        -->

        <table class="govuk-table" style="margin-bottom: 40px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Statement of strategy</th>
              <td class="govuk-table__cell">Used template: A100 <br>Effective date: After 15/07/2022 <br> Number of members: 100 or more  <br> Scheme in deficit: Yes <br> Type of submission: Fastrack</td>
              <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8">View PDF</a></td>
              <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8">Change</a></td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Supporting document</th>
              <td class="govuk-table__cell">Actuarial valuation <br>  Schedule of contributions <br> Recovery plan</td>
              <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8">View PDF</a></td>
              <td class="govuk-table__cell"><a href="#0" style="color: #1d70b8">Change</a></td>
            </tr>
          </tbody>
        </table>

        <div class="govuk-warning-text" style="margin-bottom: 0px;">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This submission will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.
          </strong>
          <br>
          <br>
          <p>By submitting your scheme valuation data, you are confirming that, to the best of your knowledge, the details you are providing are correct, and you understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.</p>
        </div>

        <form action="mvp1_submit_confirmation.html">
          <div class="govuk-button-group" style="margin-top: 10px;">
            <button class="govuk-button" data-module="govuk-button">Submit your scheme valuation data</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel  </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
