{% extends "includes/mvp1_submit_layout_4.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation" style="margin-top: 40px;background-color: #F2F0FF;">
          <h1 class="govuk-panel__title" style="color: #000000; font-size: 28px;margin-bottom: 20px;">
            Based on your responses your scheme valuation data must to use the template:
          </h1>
          <div class="govuk-panel__body">
            <span style="color: #000000; font-size: 40px;"><strong>ABC123 </strong></span>
          </div>
          <div class="govuk-panel__body">
            <span style="color: #000000; font-size: 19px;">Version 2.1 </span>
          </div>
          <div class="govuk-panel__body">
            <a href="#0" style="color: #006ebc; font-size: 19px;">Download template in word format </a>
          </div>
        </div>

        <p class="govuk-body" style="margin-top: 30px;">Once you download and finish to populate the requested information, you will need: </p>

        <ol class="govuk-list govuk-list--number">
          <li>Print the document</li>
          <li>Ask the Chair of Trustee to sign the document</li>
          <li>Scan the document and save as PDF</li>
          <li>Upload the PDF when submitting your scheme </li>
        </ol>

        <p class="govuk-body">
          If your PDF is ready, you can <a href="mvp1_login.html" style="color:#1d70b8;">Submit your scheme valuation data</a> now.
        </p>

        <p class="govuk-body">
          <a href="mvp1_website_2.html" style="color:#1d70b8;">Return to scheme valuation data guidance page</a>
        </p>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    </div>

</div>

{% endblock %}
