{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="tpr-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/QrdlCLvXrcN0nWRHPi8FyzQwZ?domain=scheme_details.html">PSR 123456789</a>
              </li>
            </ol>
          </nav>

            <form onsubmit="event.preventDefault(); NavigateToNextPage();">
 
            <a href="sos.html" class="govuk-back-link govuk-!-margin-bottom-3">Back</a>

            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                  Success
                </h2>
              </div>
              <div class="govuk-notification-banner__content">
                <h3 class="govuk-notification-banner__heading">
                  ABCSchemeSection1_31_03_2022 Statement of Strategy V05.xlsx have been uploaded successfully
                </h3>
              </div>
            </div>
                    
            <p class="govuk-heading-l" style="margin-bottom: 20px; margin-top: 30px;">How do you want to upload your supporting documents?</p>

            <p class="govuk-body">We will ask you to upload the following documents:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a copy of the actuarial valuation signed off by the scheme actuary</li>
              <li>a copy of the recovery plan</li>
              <li>a copy of the schedule of contributions</li>
            </ul>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="radioForPage3" name="whereDoYouLive" type="radio" value="england">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                        I'll upload seperate documents
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="radioForPage2" name="whereDoYouLive" type="radio" value="scotland">
                      <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                        I'll combine the three elements into a single document
                      </label>
                    </div>  
                  </div>
                </fieldset>
              </div>
              
             
                 <button type="submit" class="govuk-button" data-module="govuk-button" "javascript:void();" onclick="navigatetonextpage();"> 
                      Continue
                 </button>

              </form>
        </div>
     </div>
    </main>
</div>


<script>
    var NavigateToNextPage = function()
    {
        if (document.getElementById('radioForPage3').checked)
        {
            window.location.href = "upload_actuarial_valuation.html";
        }

        if (document.getElementById('radioForPage2').checked)
        {
            window.location.href = "upload_valuation_information.html";
        }
    }
</script>
        
        {% endblock %}             