{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
    <main class="tpr-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
            <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="https://url.uk.m.mimecastprotect.com/s/QrdlCLvXrcN0nWRHPi8FyzQwZ?domain=scheme_details.html">PSR 12345678</a>
              </li>
            </ol>
          </nav>

            <form action="SOS1" method="post">
 
            <a href="start_now.html" class="govuk-back-link govuk-!-margin-bottom-3">Back</a>
                    
            <p class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 30px;">There is a problem with your spreadsheet.</p>

            <p class="govuk-body">We have found 25 errors on you spreadsheet</p>

            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                  Contents
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#past-day">
                      Errors
                    </a>
                  </li>
                </ul>
                <div class="govuk-tabs__panel" id="past-day">
                  <h2 class="govuk-heading-l">Errors</h2>
                  <p> Open the spreadsheet and fix the items listed below. You will only be able to submit your spreadsheet once they are fixed.</p>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Reference ID</th>
                        <th scope="col" class="govuk-table__header">Error</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-7</td>
                        <td class="govuk-table__cell">Enter a date in the format dd/mm/yyyy.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-8</td>
                        <td class="govuk-table__cell">Select ‘Yes' if the scheme has reached its relevant date on or before the effective date of the valuation or 'No' if it has not.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-9</td>
                        <td class="govuk-table__cell">Select ‘Yes’ if the scheme meets the 'small scheme' definition on the effective date of the valuation and ‘No’ if it does not.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-10</td>
                        <td class="govuk-table__cell">Select ‘In surplus’ if the scheme is in surplus on a technical provisions basis at the effective date of valuation or ‘In deficit’ if it is in deficit.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-11</td>
                        <td class="govuk-table__cell">Select 'Fast Track' if the scheme follows a Fast Track approach or 'Bespoke' if it follows a Bespoke approach.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-12</td>
                        <td class="govuk-table__cell">Select 'Yes' if the scheme meets the 'Fast Track low-risk scheme' requirements or 'No' if the scheme does not meet the 'Fast Track low-risk scheme' requirements.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">FIS-7</td>
                        <td class="govuk-table__cell">Enter a percentage value greater than 0%.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">FIS-8</td>
                        <td class="govuk-table__cell">You must answer this question if you  indicated that the scheme is 'pre-relevant date' in question CS-8.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">FIS-9</td>
                        <td class="govuk-table__cell">Select ‘Yes’ if the rates of contributions are determined unilaterally by the trustees and only the trustees can reduce those rates or suspend payment of contributions or ‘No’ if they are not.</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">CS-12</td>
                        <td class="govuk-table__cell">Select 'Yes' if the scheme meets the 'Fast Track low-risk scheme' requirements or 'No' if the scheme does not meet the 'Fast Track low-risk scheme' requirements.</td>
                      </tr>
                    </tbody>
                </table>
                      <p class="govuk-body">
                        <a href="validation_all25.html" class="govuk-link govuk-link--no-visited-state">View all 25 errors</a>
                      </p>
                </div>
                <br>
              
              <button type="submit" class="govuk-button" data-module="govuk-button"> 
                Upload again
              </button>

              </form>
        </div>
     </div>
    </main>
</div>
        
        {% endblock %}  