{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">View uploaded actuarial data</h1>

        <div class="govuk-inset-text" style="margin-bottom: 20px;">
          This is the actuarial data that you submitted. <br>You cannot update this data unless TPR ask you for updates.
        </div>

        <table class="govuk-table" style="margin-bottom:20px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="350"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 1 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 2 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 3 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 4 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 5 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 6 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 7 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 8 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 9 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Question 10 </th>
              <td class="govuk-table__cell">Your respond here...</td>
            </tr>
          </tbody>
        </table>

        <form action="#0">
          <div class="govuk-body" style="margin-top: 30px;">
            <a class="govuk-link" href="#0" style="color: #1d70b8">Download uploaded actuarial data in a PDF</a>
          </div>
        </form>

        <!--<p><a href="mvp1_submit_submission_details.html" style="color:#1d70b8;">Back to submission details</a></p>-->

        <form action="mvp1_submit_submission_details.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Return to submission details</button>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
