
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-caption-l" style="margin-bottom: 10px;margin-top: 0px;">Old protoypes</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <h1 class="govuk-heading-l" style="margin-bottom: 40px;">Submit your scheme valuation data </h1>

          <h2><a href="version-5/new-service.html">Version 5</a></h2>
          <strong class="govuk-tag">
            experimental
          </strong>
                <p class="govuk-body">changes based on internal feedback from SMEs</p>

                <a href="https://dvd-design-history.onrender.com/sprint-7/">Design history</a>

                <hr>


          <h2><a href="version-4-2-1/new-service.html">Version 4.2.1</a></h2>
                <p class="govuk-body">changes to content following UR with user with access needs</p>

                <a href="https://dvd-design-history.onrender.com/sprint-6/">Design history</a>

                <hr>

                <h2><a href="version-4-2/new-service.html">Version 4.2</a></h2>
                <p class="govuk-body">alternate version where everything is a spreadsheet but return of the tasklist</p>

                <a href="https://dvd-design-history.onrender.com/sprint-6/">Design history</a>

                <hr>

          <h2><a href="version-4-1/new-service.html">Version 4.1</a></h2>
          <p class="govuk-body">alternate version where everything is a spreadsheet and no questions on screen</p>

          <a href="https://dvd-design-history.onrender.com/sprint-6/">Design history</a>

          <hr>
          <h2><a href="version-4/new-service.html">Version 4</a></h2>
          <p class="govuk-body">exploring cashflow tables and changes from UR</p>

          <a href="https://dvd-design-history.onrender.com/sprint-5/">Design history</a>

          <hr>
          <h2><a href="version-3-2/new-service.html">Version 3.2</a></h2>
          <p class="govuk-body">changes to flow and content based on design review</p>

          <a href="https://dvd-design-history.onrender.com/sprint-4/">Design history</a>

          <hr>
          <h2><a href="version-3-1/new-service.html">Version 3.1</a></h2>
          <p class="govuk-body">Based on finding from UR in sprint 2 and work done around current data items</p>

          <a href="https://dvd-design-history.onrender.com/sprint-4/">Design history</a>

          <hr>

          <h2><a href="version-3/new-service.html">Version 3</a></h2>
          <p class="govuk-body">Based on finding from UR in sprint 2 and work done around current data items</p>

          <a href="https://dvd-design-history.onrender.com/sprint-3/">Design history</a>

          <hr>

          <h2><a href="version-2/tasklist.html">Version 2</a></h2>
          <p class="govuk-body"><a href="https://miro.com/app/board/uXjVPzesnzk=/?share_link_id=643883757591">new flow</a> which breaks down the long up to date pages </p>

          <a href="https://dvd-design-history.onrender.com/sprint-2/">Design history</a>

      <hr>

          <h2><a href="version-1-0-1-1/tasklist.html">Version 1.0.1.1</a></h2>
          <p class="govuk-body">content changes to version 1.0.1</p>

          <a href="https://dvd-design-history.onrender.com/sprint-1/">Design history</a>

      <hr>

          <h2><a href="version-1-1/tasklist.html">Version 1.0.1</a></h2>
          <p class="govuk-body">updated patterns and dynamic version of verison 1</p>

          <a href="https://dvd-design-history.onrender.com/sprint-1/">Design history</a>

      <hr>
           <h2><a href="version-1/tasklist.html">Version 1.0</a></h2>
           <p class="govuk-body">based on the orginal '<a href="assets/images/marcflow.jpeg">Data capture - Shared patterns (Shopping basket)</a>' flow created by Marc Belle</p>
           <div class="govuk-warning-text">
           <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
           <strong class="govuk-warning-text__text">
             <span class="govuk-warning-text__assistive">Warning</span>
             This prototype is not dynamic
           </strong>
         </div>
           <a href="https://dvd-design-history.onrender.com/sprint-1/">Design history</a></p>
            <hr>
        </div>
      </div>

  </div>
</div>

<br>
<br>
<br>

{% endblock %}
