{% extends "includes/layout_clients_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div style="background-color: #FFEFCB;border-left: 8px solid #F3AB34;padding: 1rem;margin-top: 20px;">
        <div style="background: none;padding: 0;margin-bottom: 0;">
            <p style="margin-bottom: 0px;"><strong>System announcement</strong><br>The system will be unavailable on the weekend of 3-4 July, between 11pm and 7am, due maintenance.</p>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 30px;">My clients </h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Client name</th>
              <th scope="col" class="govuk-table__header" style="text-align: center;">Schemes</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="schemes_1.html" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">North Start Limited</a></td>
              <td class="govuk-table__cell" style="text-align: center;">2</td>
            </tr>
            <tr class="govuk-table__row">
             <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Samuel & Silverstain Consultants Limited</a></td>
              <td class="govuk-table__cell" style="text-align: center;">9</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Atlanta & Company Corporation</a></td>
              <td class="govuk-table__cell" style="text-align: center;">5</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Alistar Brothers LLP</a></td>
              <td class="govuk-table__cell" style="text-align: center;">3</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Omega UK Limited</a></td>
              <td class="govuk-table__cell" style="text-align: center;">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Espiron Associates LLP</a></td>
              <td class="govuk-table__cell" style="text-align: center;">4</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Mandarin Republica Corp</a></td>
              <td class="govuk-table__cell" style="text-align: center;">1</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Pentagon Consulting Limited</a></td>
              <td class="govuk-table__cell" style="text-align: center;">4</td>
            </tr>
          </tbody>
        </table>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 10px 20px 5px 20px;margin-top: 115px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 5px;">John Smith</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 5px;">Pension Consultant </p>
            <p style="margin-bottom: 5px;">TPR 12010256 </p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage my account</a></p>
          </div>
        </div>
        -->

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 115px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Help and support</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View tutorials</a></p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View FAQs</a></p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Make an enquiry</a></p>
          </div>
        </div>

    </div>

</div>




{% endblock %}
