{% extends "includes/layout.html" %}

{% block page_title %}Before you start{% endblock %}

{% block backHidden %}{% endblock %}


{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}
{% block content %}

    <main id="content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/psr-number.html" %}
                <h1 class="govuk-heading-l">There's a new way to submit your valuation results summary</h1>

                <p class="govuk-body">We’ll ask you some questions to make sure we hold the right information for the scheme.</p>

                <p class="govuk-body">Before you start, make sure you have the:</p>

                <ul class="govuk-list govuk-list--bullet">
<li>effective date of the most recent scheme funding (part 3) valuation</li>
<!-- <li>scheme name</li>
<li>principal employer's name in full</li>
<li>chair of trustees' name and address</li> -->
                </ul>

<p class="govuk-body">We'll let you know whether you need to use the new service to submit your valuation summary, or if you can use Exchange.</p>
                <form action="valuation-date" method="POST">





                    <div class="form-group">
                            <input type="hidden" name="check-scheme-inprogress" value="true">
                            <input class="govuk-button" type="submit" value="Continue"  />
                    </div>
                </form>


            </div>
        </div>




{% endblock %}
