{% extends "includes/layout_reviewer_dashboard_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div style="background-color: #FFEFCB;border-left: 8px solid #F3AB34;padding: 1rem;margin-top: 10px;margin-bottom: 10px;">
        <div style="background: none;padding: 0;margin-bottom: 0;">
            <p style="margin-bottom: 0px;"><strong>System announcement</strong><br>The system will be unavailable on the weekend of 3-4 July, between 11pm and 7am, due maintenance.</p>
        </div>
      </div>

      <div style="background-color: #f0edff;border-left: 8px solid #483b8b;padding: 1rem;margin-top: 20px;margin-bottom: 10px;">
        <div style="background: none;padding: 0;margin-bottom: 0;">
            <p style="margin-bottom: 0px;"><strong>Task notification</strong><br>Ann, you have been assigned to a new task to <a href="#0" style="color:#1d70b8;">review data to the scheme valuation data 75634528</a> for PSR 10965738.</p>
        </div>
      </div>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 15px;">My dashboard </h1>

        <h3 class="govuk-heading-m" style="margin-bottom: 5px;margin-top: 10px;">My tasks </h1>

        <table class="govuk-table" style="margin-bottom: 20px;margin-top: 0px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="330">Task</th>
              <th scope="col" class="govuk-table__header" width="130">Assigned from </th>
              <th scope="col" class="govuk-table__header" width="90" style="text-align: right;">Deadline</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Review data to scheme return 74563709 for PSR 10965738</a></td>
              <td class="govuk-table__cell">System</td>
              <td class="govuk-table__cell" style="text-align:right;">17/08/23</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="reviewer_new_submission_page_1.html" style="text-decoration: none;color:#1d70b8;">Review data to scheme valuation data 75634528 for PSR 10965738</a></td>
              <td class="govuk-table__cell">John Smith</td>
              <td class="govuk-table__cell" style="text-align:right;">17/09/23</td>
            </tr>
          </tbody>
        </table>

        <h3 class="govuk-heading-m" style="margin-bottom: 5px;margin-top: 35px;">Team collaborating working </h1>

        <table class="govuk-table" style="margin-bottom: 20px;margin-top: 0px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="330">Task</th>
              <th scope="col" class="govuk-table__header" width="160">Assigned to </th>
              <th scope="col" class="govuk-table__header" width="100" style="text-align: right;">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Upload data in valuation data 94673358</a></td>
              <td class="govuk-table__cell">Peter Coward</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Review data in valuation data 61780354</a></td>
              <td class="govuk-table__cell">Ann Douglas</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--red">DELAYED</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--red">REJECTED</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Assign tasks to Emma Steward</a></td>
              <td class="govuk-table__cell">John Smith</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--green">COMPLETED</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--green">RESPONDED</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Upload data in valuation data 43568027</a></td>
              <td class="govuk-table__cell">Peter Coward</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Review data in valuation data 30278354</a></td>
              <td class="govuk-table__cell">Ann Douglas</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--red">DELAYED</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag govuk-tag--red">REJECTED</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Sign and submit scheme return 76457342</a></td>
              <td class="govuk-table__cell">Michael Sumerfield</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>-->
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="admin_pension_landingpage_1.html" style="text-decoration: none;color:#1d70b8;">Upload valuation data to 87454207</a></td>
              <td class="govuk-table__cell">Peter Coward</td>
              <td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>
              <!--<td class="govuk-table__cell" style="text-align:right;"><strong class="govuk-tag">IN PROGRESS</strong></td>-->
            </tr>
          </tbody>
        </table>

        <h3 class="govuk-heading-m" style="margin-bottom: 5px;margin-top: 35px;">My enquiries </h1>

        <table class="govuk-table" style="margin-bottom: 20px;margin-top: 0px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="330">Enquiry</th>
              <th scope="col" class="govuk-table__header" width="160">Date </th>
              <th scope="col" class="govuk-table__header" width="120" style="text-align: right;">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" colspan="3">You do not have enquiries</a></td>
            </tr>
          </tbody>
        </table>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 30px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Quick actions</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Report breaches of law</a></p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Report a concern</a></p>
          </div>
        </div>

    </div>

</div>




{% endblock %}
