{% extends "includes/layout_signator_new_submission_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <div class="govuk-width-container">
          <a href="#0" class="govuk-back-link" style="margin-top: 0px;margin-bottom: 20px;">Back</a>
        </div>
                
        <span class="govuk-caption-m" style="margin-top: 20px;">PSR 10965738</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 0px;">Submission overview</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete: <span class="govuk-body">You have completed 3 of 4 sections.</span></h2>

        <!--<p class="govuk-body" style="margin-bottom: 10px;">You have completed 4 of 6 sections.</p>-->

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">1. Submission framework</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420">Submission creator </a></td>
                    <td class="govuk-table__cell">John Smith - Pension Consultants Limited</td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Submission effective date </a></td>
                    <td class="govuk-table__cell">19/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Data ingestion format</a></td>
                    <td class="govuk-table__cell">Spreadsheets </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Fast track</a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">2. Upload data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Actuarial Data (AC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Covenant Data (CD)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Recovery Plan (RP)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Funding and Investment Strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Actuarial Valuation (AV)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Schedule of Contribution (SC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Review data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Actuarial Data (AC)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Covenant Data (CD)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Recovery Plan (RP)</a></td>
                    <td class="govuk-table__cell">Ann Douglas</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Funding and Investment Strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Actuarial Valuation (AV)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review Schedule of Contribution (SC)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <!--
        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">5. Approve </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Approve AD, CD, RP</a></td>
                    <td class="govuk-table__cell">Jonathan Sinclair </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Approve FIS, AV, SC</a></td>
                    <td class="govuk-table__cell">Maria Sutherland </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>
        -->

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">4. Sign & submit</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420"><a href="signator_new_submission_page_2.html" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Sign declaration</td>
                    <td class="govuk-table__cell">Michael Sumerfield (Chair of Trustees)</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <p><a href="#0" style="color:#1d70b8;">Return to SVD Dasboard</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
