{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Upload your actuarial data</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          You must use our template to upload your data and upload it in ODS format. <br><a href="#0" target="blank" style="color:#1d70b8;">Download the template </a>.
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1">
            <strong>Upload a file</strong>
          </label>
          <!--
          <div id="signIn-hint" class="govuk-hint" style="margin-top: 10px">
            The file must be a ODS using our template.
          </div>
          -->
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1" style="margin-bottom: 10px;">
            <strong>Enter any comments about this file (optional)</strong>
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        <form action="mvp1_submit_task_list_2.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

    <!--

    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 30px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Upload guidance</h2>

        <p>The file must be a ODS using our template. <br><br>Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Lorum ipsum est
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias sim acuas populare sempre asquates doloris.
            <br>
            <br>
            <p><a href="#0" style="color:#1d70b8;">Lorum ipsum est</a></p>
          </div>
        </details>

    </div>

    -->

</div>




{% endblock %}
