{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Submit your scheme valuation information</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">You have completed 1 of 3 sections.</h2>

        <!--<p class="govuk-body" style="margin-bottom: 10px;">You have completed 4 of 6 sections.</p>-->

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">1. Submission details</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Submission effective date </a></td>
                    <td class="govuk-table__cell" width="730">19/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell" width="140"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Fast track in this submission?</a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">2. Upload your scheme’s valuation information </h2>

        <div class="govuk-inset-text" style="margin-bottom: 10px;margin-top: 20px;">
          You must use the relevant template to upload your scheme’s information. Doing so enables us to check your information automatically.           
          <ol class="govuk-list govuk-list--number" style="margin-top: 10px;">
            <li>Download the relevant template.</li>
            <li>Use it to gather the required information.</li>
            <li>Save the template in the same format.</li>
            <li>When you are ready, upload your information.</li>
          </ol>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                    <!--
                    <td class="govuk-table__cell"><strong>Dataset</strong></td>
                    <td class="govuk-table__cell"><strong>Template</strong></td>
                    <td class="govuk-table__cell"><strong>Upload</strong></td>
                    <td class="govuk-table__cell"><strong>File details</strong></td>
                    <td class="govuk-table__cell"><strong>Status</strong></td>
                    -->
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Actuarial data </td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="320"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell" width="150"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant data </a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="320"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell" width="150"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Recovery plan </a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="320"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell" width="150"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Funding and Investment Strategy</a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="320"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell" width="150"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Actuarial valuation</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="mvp1_submit_upload_5.html" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"> </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Schedule of contribution</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"> </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <!--
        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="360">Actuarial Data </td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="350">Actuarial_Data_November23.xlsx </td>
                    <td class="govuk-table__cell" width="140"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant Data </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell">Covenant_Data_November23.xlsx </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Recovery Plan </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell">Recovery_Plan_for_Deficit_v4.xlsx </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Funding and Investment Strategy</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell">F&I-Strategy.xlsx </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Actuarial Valuation</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell">ActuarialValuationNovember23Vers... </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Schedule of Contribution</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download template</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell">Schedule_Contribution_2023.pdf</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>
        -->

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Submit</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Sign the declaration </td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;"></a></td>
                    <td class="govuk-table__cell" width="120"><a href="#0" style="text-decoration: none;color:#1d70b8;"></a></td>
                    <td class="govuk-table__cell" width="250"><a href="#0" style="text-decoration: none;color:#1d70b8;"></a></td>
                    <td class="govuk-table__cell" width="140"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="1200" colspan="4">Submit the scheme valuation data</td>
                    <td class="govuk-table__cell" width="220"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <p><a href="admin_pension_landingpage_2.html" style="color:#1d70b8;">Save and return to pension scheme landingpage</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
