{% extends "includes/layout.html" %}

{% block pageTitle %}

Find an address{% endblock %}
{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="select-address" method="POST">

  <div class="govuk-width-container">
        {% include "includes/psr-number.html" %}
<h1 class="govuk-heading-l">Find an address</h1>

<div class="govuk-form-group">
<label class="govuk-label" for="searchString">
    Building number or name
</label>
<div id="searchString-hint" class="govuk-hint">
    For example, 15 or Prospect Cottage.
</div><input class="govuk-input govuk-!-width-two-thirds" id="searchString" name="searchString" type="text" aria-describedby="searchString-hint">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="postcode">
      Postcode
  </label>
  <div id="postcode-hint" class="govuk-hint">
      For example, AA3 1AB.
  </div><input class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" aria-describedby="postcode-hint">
  </div>

 <input class="govuk-button" type="submit" value="Find address">
<p class="govuk-body govuk-!-margin-bottom-0"><a href="address-manual" class="govuk-link">Enter address manually</a></p>
</div>

<br>

      <p><a href="../tasklist.html" class="govuk-link">Save and return</a></p>

</form>

</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
