{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Do you want to use fast Fast track Track in this submission? </h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          Fast Track is a possible approach to DB funding to provide trustees with a simpler path to demonstrating compliance.
          <br>
          It represents our view of tolerated risk for a scheme and sets out a series of quantitative parameters that need to be met. If a scheme meets all the Fast Track parameters, we are unlikely to scrutinise the valuation submission further.
          <br>
          For more information and Fast Track, read the <a href="#0" style="color: #1d70b8">[guidance not yet published]</a>.
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in">
                  Yes, I want to use fast track
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in-2">
                  No, I do not want to use fast track
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <form action="mvp1_submit_task_list_1.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
