{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Is the scheme in deficit?</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          [Guidance here]
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in">
                  Yes, the scheme is in deficit
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in-2">
                  No, the scheme is in surplus
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <form action="mvp1_submit_fast_track_question.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
