{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">View submitted details </h1>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Details</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Submitted date </a></td>
                    <td class="govuk-table__cell" width="440">22/12/2023 <!--(elegible for SYSVD)--></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Submission effective date </a></td>
                    <td class="govuk-table__cell" width="440">19/11/2023 <!--(elegible for SYSVD)--></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">Yes </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Fast track in this submission?</a></td>
                    <td class="govuk-table__cell">Yes </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Actuarial Data </td>
                    <td class="govuk-table__cell"><a href="mvp1_submit_submitted_file_2.html" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant Data </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Recovery Plan </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Funding and Investment Strategy</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Actuarial Valuation</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Schedule of Contribution</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Sign declaration </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted declaration</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Submitter </td>
                    <td class="govuk-table__cell">John Smith</td>
                </tr>

            </tbody>
        </table>

        <!--
        <p><a href="mvp1_submit_view_submissions_2.html" style="color:#1d70b8;">Return to view scheme valuation data submissions</a></p>
        -->

        <form action="mvp1_submit_view_submissions_2.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Back to submissions</button>
            <!--<a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>-->
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third">

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 25px;">

          <h2 class="govuk-heading-m">Update your submission</h2>

          <div class="govuk-panel__body" style="margin-bottom: 20px;">
            <p style="margin-bottom: 10px;">You can update the data of a submitted scheme valuation data and enter the reason to update after submission.</p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="color:#1d70b8;">Update submitted data</a></p>
          </div>

        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 25px;">

          <h2 class="govuk-heading-m">Contact TPR</h2>

          <div class="govuk-panel__body" style="margin-bottom: 20px;">
            <p style="margin-bottom: 10px;">You can contact TPR anytime if you have questions about your scheme valuation data or about the submission.</p>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="color:#1d70b8;">Make an enquiry</a></p>
          </div>

        </div>


    </div>

</div>




{% endblock %}
