{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Trustee Assessment questionnaire</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          You must respond to these questions as part of the upload valuation data process.
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
          <div class="govuk-form-group">
            <h3 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="with-hint-1">
                To what extent does the Funding and Investment Strategy remain appropriate and why?
              </label>
            </h3>
            <!--
            <div id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information like your National Insurance number or credit card details.
            </div>
            -->
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint-1" name="withHint-1" rows="5" aria-describedby="with-hint-1-info with-hint-1-hint" style="width: 800px"></textarea>
          </div>
          <div id="with-hint-1-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 1000 characters
          </div>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
          <div class="govuk-form-group">
            <h3 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="with-hint-2">
                To what extent is the Funding and Investment Strategy being successfully implemented?
              </label>
            </h3>
            <!--
            <div id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information like your National Insurance number or credit card details.
            </div>
            -->
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint-2" name="withHint-2" rows="5" aria-describedby="with-hint-2-info with-hint-2-hint" style="margin-top:15px;width: 800px;"></textarea>
          </div>
          <div id="with-hint-2-info" class="govuk-hint-2 govuk-character-count__message">
            You can enter up to 1000 characters
          </div>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="1000">
          <div class="govuk-form-group">
            <h3 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="with-hint-3" style="margin-top:15px;width: 800px;">
                If the Funding and Investment Strategy is not being successfully implemented, what steps do you propose to take to remedy the position, including timing?
              </label>
            </h3>
            <!--
            <div id="with-hint-hint" class="govuk-hint">
              Do not include personal or financial information like your National Insurance number or credit card details.
            </div>
            -->
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint-3" name="withHint-3" rows="5" aria-describedby="with-hint-3-info with-hint-3-hint" style="margin-top:15px;width: 800px;"></textarea>
          </div>
          <div id="with-hint-3-info" class="govuk-hint-3 govuk-character-count__message">
            You can enter up to 1000 characters
          </div>
        </div>

        <form action="mvp1_submit_task_list_9.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

    <!--

    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 30px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Upload guidance</h2>

        <p>The file must be a ODS using our template. <br><br>Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Lorum ipsum est
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias sim acuas populare sempre asquates doloris.
            <br>
            <br>
            <p><a href="#0" style="color:#1d70b8;">Lorum ipsum est</a></p>
          </div>
        </details>

    </div>

    -->

</div>




{% endblock %}
