{% extends "includes/mvp1_support_layout.html" %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Help and support</h1>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;margin-top: 30px;">
             <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Make an enquiry</h2>
             <p style="margin-bottom: 20px;">Lorum ipsum est pensare sempre capitas et tendorium supra dolore aliquam.</p>
             <div class="govuk-button-group">
               <button class="govuk-button" data-module="govuk-button" style="margin-bottom: 0px;">Make an enquiry</button>
               <a class="govuk-link" href="#0" style="margin-bottom: 0px;">Colabra divinas</a>
            </div>
        </div>

        <h2 class="govuk-heading-m" style="margin-bottom: 20px;margin-top: 30px;">Frequently asked questions</h2>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Lorum ipsum est pendamium totalia sempre?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Vinculas tentare aluquam perpetuas?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Colabra erasmus et dolori vinculas sempre vinculare toramus?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Caesar dolore provocas et pensare?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Roman senatus censuras et dolore provocas ultima?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Sensitivas et cautivares?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Sonas colaboras sempre et vinculas rotare?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Vinculas sempre vinculare toramus?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Provocas pensare inducta supra?</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;">Senatus censuras et dolore provocas estimae ultima?</a></p>

        <br>
        <br>

        <div class="app-back-to-top app-back-to-top--fixed" data-module="app-back-to-top">
          <a class="govuk-link govuk-link--no-visited-state app-back-to-top__link" href="#top">
            <svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg> Back to top
          </a>
        </div>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 100px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;margin-bottom: 20px;">Guidance</h2>

        <!--
        <p>Text</p>
        -->

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Lorum ipsum est</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Vinculas tentare aluquam</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Colabra erasmus et dolori vinculas sempre</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Caesar romanus</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Roman senatus censuras et dolore provocas</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Corintias persuas</a></p>

        <p style="margin-bottom: 10px;"><a href="#0" style="color:#1d70b8;margin-bottom: 10px;">Aliquam seramute pensare</a></p>

    </div>

</div>




{% endblock %}
