<html lang="en-gb">
<head id="ctl00_headerSection">
    <title>Scheme options</title>
<meta id="ctl00_viewport" name="viewport" content="width=device-width, initial-scale=1">

     <script async="true" type="text/javascript" src=https://www.google-analytics.com/analytics.js></script>
     <script async="" src=https://www.googletagmanager.com/gtm.js?id=GTM-N38LTWD&amp;l=tprDataLayer></script>
     <script type="text/javascript" src="https://exchange.thepensionsregulator.gov.uk/Resources/Scripts/jquery-1.7.1.min.js"></script>

    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/AccessibleControls.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/ConsentToElectronicDetails.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/HorizontalMenu.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/Layout.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/LogInPanel.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/MainOptions.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/Pagination.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/RegisterPanel.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/SmallSelfAdministeredScheme.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Default/TopMenu.css" type="text/css" rel="stylesheet">
    <link href="https://exchange.thepensionsregulator.gov.uk/App_Themes/Responsive.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','tprDataLayer','GTM-N38LTWD');</script>
</head>

<body>

    <noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-N38LTWD height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

    <div id="top_anchor">

    </div>



<div>

<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="">

<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="">

<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="GYJD9zRDpQZN1oWNauPoPOqVUmXsnqmRm4q6c8MwVtsu4iXqo8MaOpmiFMjZvMYVzFn1Tc/hYTa/se4vDs3bWxls1S8Fg/IhJZfhRjBDZ4JrzehWMjs4LQIFWMi1nS3m83GUP072MjSytLeoiC0hAlFfLxmB9aSRozyBkRB4WsisFZP5N9Gm72BhEv1E5KNXsoLIm1/nP3086F+0zTp1qNWyiho/nvzBV3MhH6oOPP6M/6pVDrjeUE+UUSEsXaA0IsyAUJ8XE9O7sFwJxmdXVtP9uexbyZYxJ+T09r3YDIN7qf3era5sd0CHm06JWEYP7OSuEIYrw6q+LctZs6OT3mesv79cz9twbhIfu2c5TPCSl3Fg5SGkSkTJ4SBNuPGpdHatwWRyyl40ZVylKitLzhgxbgCsF4OtFRX+Qyfoi5p6S1oKJaChtbDgdJBQWxSVX+Zh115g0m9td2jl361PHgZK0dEo4ssfoLpc/DKLWr7ptn+SfgusawwOm7xQM5qE7Kofm75EDtzQSid5/FeUZ3u31+57bI9k5TVJteiUEhynMvG2GaIAM3xZ4tgAmVxTENNVWg1WdYqoVFjs0DuwKYb4rrCVCM7NLWBc3ZSLx3rdg4qjLUxHx+o62KP4Bx9uBVuI+WKQz5cyMUC713hgtryWW25J/lrUoRqIsLXjTloDbcHbgIUG16mi/JX9VtgOoyWEUEZsyyrxwH4TeHkQ4HeCsuM=">

</div>

 

<script src="/WebResource.axd?d=K3G6jXlkPat_j1847ewgDLBN7ps8vU4NYeVdJcPG2jKc8bHFegsLFno2h7WgbDik5YH4ogpedR74yjZ-2WJBMyUiw7s1&amp;t=638240379755514788" type="text/javascript"></script>

 

<script type="text/javascript">

var bypassfocusfirstfield=false;

 </script>

 

<div>

 

              <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="D268D841">

              <input type="hidden" name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0">

              <input type="hidden" name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0">

              <input type="hidden" name="__VIEWSTATEENCRYPTED" id="__VIEWSTATEENCRYPTED" value="">

              <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="mXwW1wmQVlJEDunYfp1f8fBvmfmd79eHpAYyjdSiNRw2rsJOWlBsxUj4xmaGIIFKqbgp/Hcm9DWu9S6Nr35LDxqOY9Xr6Zsm3K2lrJfms7xZbuuR9s6lvIBF2W9CUVf4l/4k62c/wViVnKH8IJGz2Tj1gV0FdeFey9ltw6FtJv2rjZIMOp6FWcwGuQq5nEGlznv3NdnSWbsSRFjhoxFlJdguU1xVTHNA9TOFKJDBtw5r4acPqgK8fpnqZpwcavDHndg1Z3V8R0mp7WNfT1jymkVD5phaz9aZaSEO/lhcHUfk8vbby5SmMxO7oR0OZFdR+mmtAZriA4cRk+kZef1SgoJ4zFF6A6TFV1yJ6eSAf0U7R4cOq25aSpMmxb/u3XgQFhh9oQ/kwJX/xUXj8cDrr30oMCWMPTj5FbNLsxHc9o5GHC+JNzA5aNXVXGNjBIC+FUqiOxyJFsd5SLKWQRWIz7GRhz9k45tIaVNpG8Ye8jx+BDqe">

</div>

    <input type="hidden" id="PSR_CHECK" name="PSR_CHECK" value="10010021">

    <header id="wrapper">

        <div id="heading">

            <div id="header" onclick="location.href='../../index.html';">

                    <div id="ctl00_topMenuControl">

              <ul><li><span><a href="#0">My Profile</a></span></li><li><a href="#0">What's available</a></li><li><a href="#0">FAQs</a></li><li><a href="#0">Contact us</a></li><li><a href="#0">T&amp;Cs</a></li><li class="last"><span><a href="#0">Logout</a></span></li></ul>

</div>

                    <h1>

                        Exchange

                    </h1>

            </div>

            <div id="schemeListingPanel">

                <div id="">

                   

                </div>

                <input type="button" name="ctl00$mainOptions" value="Main options" onclick="javascript:__doPostBack('ctl00$mainOptions','')" id="ctl00_mainOptions" class="Default_Button">

                <input type="button" name="ctl00$schemeListingButton" value="My schemes" onclick="javascript:__doPostBack('ctl00$schemeListingButton','')" id="ctl00_schemeListingButton" class="Default_Button">

            </div>

            <div class="clear">

                &nbsp;</div>

        </div>

        <div id="ctl00_schemeTitle_schemeTitlePanel" class="SchemeTitlePanel">

             

    <span id="ctl00_schemeTitle_psrNo" class="SchemeTitleSection">PSR: 10010021 </span>

    <span id="ctl00_schemeTitle_schemeName" class="SchemeTitle">Dummy scheme for testing</span>

    <div class="clear">&nbsp;</div>

 

</div>

 

        <div id="schemePanel" style="height: 80%;">

            <div id="menu" class="clearfix">

                <div id="navlist">

                    <div id="ctl00_menuControl">

              <ul><li><span class="current">Scheme options</span></li></ul>

</div>

                </div>

            </div>

            <div class="clear">

                &nbsp;</div>

            <div id="content">

                <div>

                   

                </div>               

                <h2 class="pagetitle">

                   

    Scheme options

 

                </h2>

                <main id="mainDiv">

                   

    <p>

        <span id="ctl00_Main_preambleText"></span>

    </p>

    <p id="ctl00_Main_instructionText">The following are the options available to you for a scheme of this type.</p>

   

 

    <table cellspacing="0" cellpadding="5" rules="all" border="1" style="color:#051636;border-color:#B6AACF;border-width:1px;border-style:solid;font-size:1em;width:100%;border-collapse:collapse;">

              <tbody><tr>

                             <th align="left" style="color:#333366;background-color:#E2DEEC;font-weight:bold;white-space:nowrap;">Please select the option you require:</th><th align="left" style="color:#333366;background-color:#E2DEEC;font-weight:bold;white-space:nowrap;"></th>

              </tr><tr id="ctl00_Main_taskCompleteSchemeRow">

                             <td>Update scheme details</td><td><input type="submit" name="ctl00$Main$completeSRorSMButton" value="Select" id="ctl00_Main_completeSRorSMButton" class="Default_Button" aria-label="Complete scheme return"></td>

              </tr><tr id="ctl00_Main_taskLevyAndPaymentsRow">

                             <td>Maintain / view scheme levy</td><td><input type="submit" name="ctl00$Main$levyAndPaymentsButton" value="Select" id="ctl00_Main_levyAndPaymentsButton" class="Default_Button" aria-label="Maintain / view scheme levy"></td>

              </tr><tr id="ctl00_Main_taskWindupRow">

                             <td>Winding or wound up information (including section 72A reports)</td><td><input type="submit" name="ctl00$Main$windupButton" value="Select" id="ctl00_Main_windupButton" class="Default_Button" aria-label="Winding or wound up information"></td>

              </tr><tr id="ctl00_Main_taskNotifiableEventsRow">

                             <td>Submit / view a notifiable event report</td><td><input type="submit" name="ctl00$Main$notifiableEventsButton" value="Select" id="ctl00_Main_notifiableEventsButton" class="Default_Button" aria-label="Submit / view a notifiable event report"></td>

              </tr><tr id="ctl00_Main_taskBreachOfLawRow">

                             <td>Submit / view a breach of law report</td><td><input type="submit" name="ctl00$Main$breachesOfLawButton" value="Select" id="ctl00_Main_breachesOfLawButton" class="Default_Button" aria-label="Submit / view a breach of law report"></td>

              </tr><tr id="ctl00_Main_taskContingentAssetRow">

                             <td>

   Submit / view contingent asset certificates

    </td><td><input type="submit" name="ctl00$Main$contingentAssetsButton" value="Select" id="ctl00_Main_contingentAssetsButton" class="Default_Button" aria-label="

   Submit / view contingent asset certificates

    "></td>

              </tr><tr id="ctl00_Main_taskDeficitReductionContributionsAssetRow">

                             <td>

   Submit / view deficit reduction contribution details

    </td><td><input type="submit" name="ctl00$Main$deficitReductionContributionsAssetButton" value="Select" id="ctl00_Main_deficitReductionContributionsAssetButton" class="Default_Button" aria-label="

   Submit / view deficit reduction contribution details

    "></td>

              </tr><tr id="ctl00_Main_taskTransfersRow">

                             <td>

   Submit / view transfer information

    </td><td><input type="submit" name="ctl00$Main$transfersButton" value="Select" id="ctl00_Main_transfersButton" class="Default_Button" aria-label="

   Submit / view transfer information

    "></td>

              </tr>

              <tr>
                 <td>Submit / view scheme return</td>
                 <td>
                    <a href="#0">
                        <input type="submit" name="" value="Select" class="Default_Button" aria-label="Submit / view a recovery plan">
                    </a>
                </td>
              </tr>

              <tr>

                 <td>Submit / view a recovery plan</td>
                 <td>
                    <input type="submit" name="" value="Select" class="Default_Button" aria-label="Submit / view a recovery plan">
                </td>

              </tr>

              <tr>
                 <td>Submit / view scheme valuation data (New)</td>
                 <td>
                    <a href="mvp1_submit_start_page.html">
                        <input type="submit" name="" value="Select" class="Default_Button" aria-label="Submit / view a recovery plan">
                    </a>
                </td>
              </tr>

              <tr id="ctl00_Main_taskSegSecRequestRow">

                             <td>Submit / view a segregation request</td><td><input type="submit" name="ctl00$Main$segSecRequestButton" value="Select" id="ctl00_Main_segSecRequestButton" class="Default_Button" aria-label="Submit / view a segregation request"></td>

              </tr><tr id="ctl00_Main_taskManageUserAccess">

                             <td id="ctl00_Main_TableCell1">Manage who can access this scheme online</td><td id="ctl00_Main_TableCell2"><input type="submit" name="ctl00$Main$manageUserAccess" value="Select" id="ctl00_Main_manageUserAccess" class="Default_Button" aria-label="Manage who can access this scheme online"></td>

              </tr><tr id="ctl00_Main_taskRemoveSchemeRow">

                             <td>Remove this scheme from my list</td><td><input type="submit" name="ctl00$Main$removeSchemeButton" value="Select" id="ctl00_Main_removeSchemeButton" class="Default_Button" aria-label="Remove this scheme from my list"></td>

              </tr><tr id="ctl00_Main_taskPensionsDashboardRow">

                             <td id="ctl00_Main_TableCell3">Manage pensions dashboards nominated contact details</td><td id="ctl00_Main_TableCell4"><input type="submit" name="ctl00$Main$btnManagePensionsDashboard" value="Select" id="ctl00_Main_btnManagePensionsDashboard" class="Default_Button" aria-label="Manage who can access this scheme online"></td>

              </tr>

</tbody></table>

 

                </main>

                <div class="clear">

                </div>

            </div>

        </div>

    </header>

   

 



        <div id="surveyouter" class="media-wide survey" style="display: none">

                <h2 id="surveyinvitetitle">

                    Please help us improve Exchange

                </h2>

                <div id="surveyInnerDiv" class="content">

                   <p id="surveyinvitetext">

                        We'd really like to hear what you think about Exchange and your experience on

                        the site today.

                        <br>

                        <br>

                        To take part in this quick 5 minute survey, please click the correct button below.

                    </p>

                    <p id="outerbuttonwrapper">

                        <span class="buttonwrapper" id="yesbuttonwrapper"><a name="surveylinklater" id="surveylinklater" href=https://survey.euro.confirmit.com/wix/p1285555483.aspx>Yes, I'll give feedback</a>

                        </span>

                    </p>

                </div>

            </div>

</body>

</html>


