{% extends "includes/mvp1_submit_layout_3.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--<a href="#" class="govuk-back-link">Back</a>-->
                
        <!--<span class="govuk-caption-m" style="margin-top: 20px;">Pension scheme: 10010021 - Dummy scheme for testing</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 30px;">Submit your scheme valuation data</h1>

        <p>Use this service to submit valuation information for your defined benefit (DB) scheme. We use the information you provide us to check that your scheme is appropriately funded and meets your statutory funding objectives. </p>

        <h2 class="govuk-heading-m">How to use this service</h2>

        <p>You'll need to submit: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>a trustee assessment</li>
          <li>actuarial information</li>
          <li>investment information</li>
          <li>covenant information</li>
          <li>a copy of the actuarial valuation</li>
          <li>the signed statement of strategy</li>
        </ul>

        <p>If your scheme is in deficit at the valuation effective date, you must also submit a:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>copy of the schedule of contributions</li>
          <li>copy of the recovery plan</li>
        </ul>

        <!--

        <h2 class="govuk-heading-m">Download and use correct data file</h2>

        <p class="govuk-body">We will provide specific files for you to download and use them to upload the data.</p>

        <p class="govuk-body">The files enable us to automatically check the data you have provided. Therefore you will not be able to upload data that does not sit within the files.</p>

        -->
    
        <p style="margin-top: 30px;margin-bottom: 0px;">
            <a href="mvp1_submit_effective_date.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
            </a>
        </p>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 40px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Related content</h2>

        <!--
        <p>Your defined benefit (DB) scheme is subject to the statutory funding objective, which means it needs to have appropriate assets to cover its accrued liabilities (known as ‘technical provisions’). You must prepare and maintain a statement of funding principles setting out your policy for meeting the statutory funding objective and a schedule of contributions covering payments due to the scheme.</p>
        -->

        <p>You must regularly commission valuations by an actuary to check your scheme is appropriately funded. If your scheme doesn’t meet the statutory funding objective, you must put a recovery plan in place.</p>

        <p><a href="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/valuing-your-scheme" target="blank" style="text-decoration: none;color:#1d70b8;">Read the Valuing your scheme guidance</a></p>

    </div>

</div>




{% endblock %}
