{% extends "includes/mvp1_submit_layout_3_back.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Submit your scheme valuation data</h1>

        <!--
        <div class="govuk-inset-text" style="margin-bottom: 0px;margin-top: 20px;">
          In section 2, you will need to upload the mandatory data based on the answers provided in section 1 (valuation details). <br>The data provided in sections 2, 3 and 4 will be used in the statement of strategy that need to be uploaded in section 5. <br>You cannot complete section 5 until you complete section 2, 3 and 4.
          <br>
          You must use XLS files to upload the required information in section 2 and PDF files for section 3, 4 and 5.            
        </div>
        -->

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">1. Add valuation data information</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="700">Actuarial information</td>
                    <td class="govuk-table__cell" width="180"><a href="#0" style="color:#1d70b8;">Change details</a>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investment information</td>
                    <td class="govuk-table__cell" width="180"><a href="#0" style="color:#1d70b8;">Change details</a>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant information</td>
                    <td class="govuk-table__cell" width="180"><a href="#0" style="color:#1d70b8;">Change details</a>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Trustee Assessment information</td>
                    <td class="govuk-table__cell" width="180"><a href="mvp1_submit_form_4.html" style="color:#1d70b8;">Change details</a>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">2. Upload supporting documents </h2>

        <!--<p style="margin-top: 20px;margin-bottom: 10px;">Because your valuation data...</p>-->

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="700">Copy of the actuarial valuation </td>
                    <td class="govuk-table__cell" width="180"><a href="mvp1_submit_upload_1.html" style="color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the schedule of contributions (only if your scheme is in deficit)</td>
                    <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the recovery plan (only if your scheme is in deficit) </td>
                    <td class="govuk-table__cell"><a href="#0" style="color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">3. Upload signed statement of strategy </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="700">Signed statement of strategy  </td>
                    <td class="govuk-table__cell" width="180"><a href="#0" style="color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <div style="background-color: #f3f2f1;margin-top: 15px;padding: 30px 30px 5px 30px;">

            <h3 class="govuk-heading-m" style="margin-bottom: 20px;margin-top: 0px;">Submitting your scheme valuation data <!--&nbsp;&nbsp;&nbsp; <strong class="govuk-tag govuk-tag--red" id="a">CAN’T SUBMIT YET</strong>--></h3>

            <div class="govuk-warning-text" style="margin-bottom: 0px;">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This submission will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.
              </strong>
              <br>
              <p>By submitting your scheme valuation data, you are confirming that, to the best of your knowledge, the details you are providing are correct, and you understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.</p>
            </div>

            <form action="#0">
              <div class="govuk-button-group" style="margin-top: 0px;">
                <button class="govuk-button" data-module="govuk-button">Submit your scheme valuation data</button> <!--<span><a href="#0" style="color:#1d70b8;font-size: 1.1875rem;">Cancel</a></span>-->
              </div>
            </form>

        </div>
        
        <br>
        <br>

        <p><a href="#0" style="color:#1d70b8;">Cancel and return to pension scheme landingpage</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
