

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://www.thepensionsregulator.gov.uk/Content/collapse.min.css" />
    
    <link rel="stylesheet" href="https://www.thepensionsregulator.gov.uk/styles/TPR-Main.css?v=C5B4111E2D6CCDF8CA0D5DAD8A23EDC4250E16028EAFF556713B4D51F41C418F" media="screen" />
    <link rel="stylesheet" href="https://www.thepensionsregulator.gov.uk/styles/TPR-MainPrint.css?v=3B4EFCE1885989A070621F177BFA425AF978512A513FA44B01CAF548429EB66A" media="print" />


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <link href="https://www.thepensionsregulator.gov.uk/styles/TPR-Print.css?v=6150749C0FF7D73D79F4CDF6285AACCCB186639391413C5B716A63A19D2975A5" media="print" rel="stylesheet" />

    <script>
    tprDataLayer = [];
    dataLayer = [];
</script>
    <!-- Google Tag Manager -->
    <script>
(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','tprDataLayer','GTM-5LQRPBS');</script>
    <!-- End Google Tag Manager -->


        <meta name="og:site_name" content="The Pensions Regulator"/>
        <meta name="twitter:site" content="@TPRgovuk"/>

    <title>Investment strategy | DB pension | Trustees | The Pensions Regulator</title>
    <meta name="description" content="The Pensions Regulator is the regulator of work-based pension schemes in the UK" />
    <meta name="og:title" content="Investment strategy | DB pension | Trustees" />
    <meta name="og:description" content="The Pensions Regulator is the regulator of work-based pension schemes in the UK" />
    <meta name="og:type" content="article" />

<meta name="robots" content="follow, index" />




    <link rel="canonical" href="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/investment" />



    <link rel="alternate" href="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/investment" hreflang="x-default" />



    
</head>
<body id="pagetop" class="govuk-template__body">
    

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5LQRPBS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>
<div>
    <div id="outdated" class="warningcontainer">
        <div class="container">
            <div class="warning">
                <div class="warningmessage">
                    <p>Your browser is out of date, and unable to use many of the features of this website</p><p><a href="https://browser-update.org/update-browser.html">Please upgrade your browser.</a></p>
                    <p><span id="btnCloseUpdateBrowser" class="defaultbutton">Ignore</span></p>
                </div>
                <div class="warningicon">
                    <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g transform="translate(1.000000, 0.000000)" fill="#a21310">
                                <path d="M13.646,2.371 C10.535,-0.739 5.469,-0.74 2.358,2.371 C-0.753,5.483 -0.752,10.548 2.358,13.66 C5.469,16.77 10.534,16.771 13.646,13.66 C16.758,10.547 16.757,5.483 13.646,2.371 L13.646,2.371 Z M3.587,12.431 C1.148,9.993 1.146,6.028 3.58,3.594 C6.014,1.159 9.979,1.162 12.418,3.6 C14.856,6.038 14.857,10.004 12.424,12.438 C9.988,14.872 6.024,14.869 3.587,12.431 L3.587,12.431 Z" class="si-glyph-fill"></path>
                                <path d="M10.164,11.063 C9.982,11.063 9.845,10.991 9.776,10.922 L8.009,9.157 L6.314,10.852 C6.248,10.918 6.095,10.998 5.891,10.998 C5.738,10.998 5.507,10.952 5.288,10.733 C5.067,10.513 5.018,10.295 5.017,10.153 C5.013,9.965 5.086,9.823 5.157,9.753 L6.881,8.028 L5.201,6.35 C5.049,6.197 4.922,5.723 5.321,5.325 C5.546,5.1 5.767,5.053 5.914,5.053 C6.097,5.053 6.234,5.125 6.301,5.194 L8.009,6.9 L9.705,5.204 C9.773,5.137 9.925,5.058 10.129,5.058 C10.283,5.058 10.514,5.104 10.733,5.324 C11.111,5.703 11.035,6.134 10.864,6.304 L9.138,8.03 L10.875,9.766 C10.942,9.834 11.021,9.986 11.021,10.19 C11.021,10.344 10.976,10.573 10.756,10.792 C10.531,11.016 10.311,11.063 10.164,11.063 L10.164,11.063 L10.164,11.063 Z" class="si-glyph-fill"></path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
        <noscript>
            <div id="javascriptmessage" class="warningcontainer">
                <div class="container">
                    <div class="warning">
                        <div class="warningmessage">
                            <p>This website requires javascript. Your browser currently has javascript disabled.</p><p>Please enable javascript to ensure you can use this website to its full extent</p>
                        </div>
                        <div class="warningicon">
                            <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g transform="translate(1.000000, 0.000000)" fill="#a21310">
                                        <path d="M13.646,2.371 C10.535,-0.739 5.469,-0.74 2.358,2.371 C-0.753,5.483 -0.752,10.548 2.358,13.66 C5.469,16.77 10.534,16.771 13.646,13.66 C16.758,10.547 16.757,5.483 13.646,2.371 L13.646,2.371 Z M3.587,12.431 C1.148,9.993 1.146,6.028 3.58,3.594 C6.014,1.159 9.979,1.162 12.418,3.6 C14.856,6.038 14.857,10.004 12.424,12.438 C9.988,14.872 6.024,14.869 3.587,12.431 L3.587,12.431 Z" class="si-glyph-fill"></path>
                                        <path d="M10.164,11.063 C9.982,11.063 9.845,10.991 9.776,10.922 L8.009,9.157 L6.314,10.852 C6.248,10.918 6.095,10.998 5.891,10.998 C5.738,10.998 5.507,10.952 5.288,10.733 C5.067,10.513 5.018,10.295 5.017,10.153 C5.013,9.965 5.086,9.823 5.157,9.753 L6.881,8.028 L5.201,6.35 C5.049,6.197 4.922,5.723 5.321,5.325 C5.546,5.1 5.767,5.053 5.914,5.053 C6.097,5.053 6.234,5.125 6.301,5.194 L8.009,6.9 L9.705,5.204 C9.773,5.137 9.925,5.058 10.129,5.058 C10.283,5.058 10.514,5.104 10.733,5.324 C11.111,5.703 11.035,6.134 10.864,6.304 L9.138,8.03 L10.875,9.766 C10.942,9.834 11.021,9.986 11.021,10.19 C11.021,10.344 10.976,10.573 10.756,10.792 C10.531,11.016 10.311,11.063 10.164,11.063 L10.164,11.063 L10.164,11.063 Z" class="si-glyph-fill"></path>
                                    </g>
                                </g>

                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </noscript>

        <div id="cookiemessage" class="warningcontainer">
            <div class="container">
                <div class="warning">
                    <div class="warningmessage">
                        <p>This website requires cookies. Your browser currently has cookies disabled.</p>
                    </div>
                    <div class="warningicon">
                        <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(1.000000, 0.000000)" fill="#a21310">
                                    <path d="M13.646,2.371 C10.535,-0.739 5.469,-0.74 2.358,2.371 C-0.753,5.483 -0.752,10.548 2.358,13.66 C5.469,16.77 10.534,16.771 13.646,13.66 C16.758,10.547 16.757,5.483 13.646,2.371 L13.646,2.371 Z M3.587,12.431 C1.148,9.993 1.146,6.028 3.58,3.594 C6.014,1.159 9.979,1.162 12.418,3.6 C14.856,6.038 14.857,10.004 12.424,12.438 C9.988,14.872 6.024,14.869 3.587,12.431 L3.587,12.431 Z" class="si-glyph-fill"></path>
                                    <path d="M10.164,11.063 C9.982,11.063 9.845,10.991 9.776,10.922 L8.009,9.157 L6.314,10.852 C6.248,10.918 6.095,10.998 5.891,10.998 C5.738,10.998 5.507,10.952 5.288,10.733 C5.067,10.513 5.018,10.295 5.017,10.153 C5.013,9.965 5.086,9.823 5.157,9.753 L6.881,8.028 L5.201,6.35 C5.049,6.197 4.922,5.723 5.321,5.325 C5.546,5.1 5.767,5.053 5.914,5.053 C6.097,5.053 6.234,5.125 6.301,5.194 L8.009,6.9 L9.705,5.204 C9.773,5.137 9.925,5.058 10.129,5.058 C10.283,5.058 10.514,5.104 10.733,5.324 C11.111,5.703 11.035,6.134 10.864,6.304 L9.138,8.03 L10.875,9.766 C10.942,9.834 11.021,9.986 11.021,10.19 C11.021,10.344 10.976,10.573 10.756,10.792 C10.531,11.016 10.311,11.063 10.164,11.063 L10.164,11.063 L10.164,11.063 Z" class="si-glyph-fill"></path>
                                </g>
                            </g>

                        </svg>
                    </div>
                </div>
            </div>
        </div>
    <script>
        //event listener form DOM ready
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function () {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        //call function after DOM ready
        addLoadEvent(function () {
            outdatedBrowser({
                lowerThan: 'IE11',
                languagePath: ''
            });
        });
    </script>
    <header>
        <div class="logo-search-bar">
    <div class="container">
        <div class="logo-search">
                <div class="logo">
        <a href="/" id="logo" title="The Pensions Regulator">

                <img src="https://www.thepensionsregulator.gov.uk/-/media/thepensionsregulator/images/logo/tpr-logo-header.ashx" alt="The Pensions Regulator home page" width="200" height="72" id="desktoplogo"><img src="https://www.thepensionsregulator.gov.uk/-/media/thepensionsregulator/images/logo/tpr-logo-footer.ashx" alt="The Pensions Regulator (TPR) logo footer" width="200" height="72" id="printlogo" style="display: none;">
        </a>
            <div class="strapline">
                Making workplace pensions work
            </div>
    </div>


<div class="search">
    <form action="#0" id="form-globalsearch" method="get">
        <label for="GlobalSearchInputBox">Search</label>
        
        <div class="searchFieldWithButton">
            <input aria-label="Search" autocomplete="off" class="searchbox" id="GlobalSearchInputBox" name="query" placeholder="Search" type="text" value="" />
            <button type="submit" class="searchbutton" aria-label="Search">
                <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(1.000000, 0.000000)" fill="#434343">
                            <path d="m 15.176041,6.8528646 c 0,-3.289 -2.683,-5.95400005 -5.9910002,-5.95400005 -3.311,0 -5.993,2.66500005 -5.993,5.95400005 0,3.2870004 2.683,5.9520004 5.993,5.9520004 3.3080002,0 5.9910002,-2.665 5.9910002,-5.9520004 z m -11.0660002,0.065 c 0,-2.806 2.279,-5.076 5.092,-5.076 2.8110002,0 5.0880002,2.271 5.0880002,5.076 0,2.804 -2.277,5.0750004 -5.0880002,5.0750004 -2.813,0 -5.092,-2.2720004 -5.092,-5.0750004 z" class="si-glyph-fill"></path>
                            <path d="m 2.1965269,15.514568 -1.822,-1.822 4.037,-4.0380003 c 0,0 0.096,0.7650003 0.58,1.2470003 0.482,0.484 1.242,0.576 1.242,0.576 z" class="si-glyph-fill"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </form>
</div>            <div class="mobile-menu-toggle">
    <div class="icon">
        <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(1.000000, 1.000000)" fill="#434343">
                    <path d="M16,0.938 C16,1.456 15.58,1.876 15.062,1.876 L0.98,1.876 C0.462,1.876 0.042,1.456 0.042,0.938 L0.042,0.938 C0.042,0.42 0.462,0 0.98,0 L15.062,0 C15.58,0 16,0.42 16,0.938 L16,0.938 L16,0.938 Z" class="si-glyph-fill"></path>
                    <path d="M16,12.938 C16,13.456 15.58,13.876 15.062,13.876 L0.98,13.876 C0.462,13.876 0.042,13.456 0.042,12.938 L0.042,12.938 C0.042,12.42 0.462,12 0.98,12 L15.062,12 C15.58,12 16,12.42 16,12.938 L16,12.938 L16,12.938 Z" class="si-glyph-fill"></path>
                    <path d="M16,6.938 C16,7.456 15.58,7.876 15.062,7.876 L0.98,7.876 C0.462,7.876 0.042,7.456 0.042,6.938 L0.042,6.938 C0.042,6.42 0.462,6 0.98,6 L15.062,6 C15.58,6 16,6.42 16,6.938 L16,6.938 L16,6.938 Z" class="si-glyph-fill"></path>
                </g>
            </g>
        </svg>
    </div>
    <button class="closed" aria-haspopup="true">Menu</button>
    <button class="open" aria-label="Close menu">Close</button>
</div>

        </div>
    </div>
</div>
<div>
    <div class="cookie-topbannercontainer">
    <div class="cookie-container">
        <div class="cookie-topbanner container">
            <div class="cookie-topbanner__text">
                <p><span><strong>Set your privacy preferences</strong></span></p>
<p><span></span>We use necessary cookies to make our website work. Cookies are small files stored on your device. We also use optional cookies to improve our services and tell us if you have seen our advertising. The data we collect is anonymised. Are you happy to accept these cookies?</p>
            </div>
            <div class="cookie-links">
                <div class="cookie-links__link">
                    <div>
                        <a href="#0" class="defaultbutton cookie-button cookie-accept" id="cookie-accept" >Accept</a>
                    </div>
                </div>
                <div class="cookie-links__link">
                    <div>
                        <a href="#0" class="defaultbutton cookie-button cookie-reject" id="cookie-reject" >Reject</a>
                    </div>
                </div>
                <div class="cookie-links__link">
                    <div>
                        <a href="#0" class="defaultbutton cookie-button cookie-more-info" id="cookie-more-info" >Cookie preferences</a>
                    </div>
                </div>
            </div>
            <div><input id="RedisplayIfDismissedBefore" name="RedisplayIfDismissedBefore" type="hidden" value="25/11/2030 10:57:00" /></div>
        </div>
    </div>
</div>
</div>


    <nav id="nav">
        <div class="container">
            <div class="navigation">
                
                <ul aria-label="Use alt + down arrow to open menu and alt + up arrow to close menu.">
                    <li>
                        
<div class="search">
    <form action="#0" id="form-globalsearch" method="get">
        <label for="GlobalSearchInputBox">Search</label>
        
        <div class="searchFieldWithButton">
            <input aria-label="Search" autocomplete="off" class="searchbox" id="GlobalSearchInputBox" name="query" placeholder="Search" type="text" value="" />
            <button type="submit" class="searchbutton" aria-label="Search">
                <svg viewBox="0 0 17 16" xmlns="http://www.w3.org/2000/svg" version="1.1" focusable="false">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(1.000000, 0.000000)" fill="#434343">
                            <path d="m 15.176041,6.8528646 c 0,-3.289 -2.683,-5.95400005 -5.9910002,-5.95400005 -3.311,0 -5.993,2.66500005 -5.993,5.95400005 0,3.2870004 2.683,5.9520004 5.993,5.9520004 3.3080002,0 5.9910002,-2.665 5.9910002,-5.9520004 z m -11.0660002,0.065 c 0,-2.806 2.279,-5.076 5.092,-5.076 2.8110002,0 5.0880002,2.271 5.0880002,5.076 0,2.804 -2.277,5.0750004 -5.0880002,5.0750004 -2.813,0 -5.092,-2.2720004 -5.092,-5.0750004 z" class="si-glyph-fill"></path>
                            <path d="m 2.1965269,15.514568 -1.822,-1.822 4.037,-4.0380003 c 0,0 0.096,0.7650003 0.58,1.2470003 0.482,0.484 1.242,0.576 1.242,0.576 z" class="si-glyph-fill"></path>
                        </g>
                    </g>
                </svg>
            </button>
        </div>
    </form>
</div>
                    </li>
                        <li class="navigation__menu-item">
                            <a id="24883c180ee949bb97174f8998c64be5" href="#" aria-expanded="false">
                                Employers
                            </a>
                                <div class="navigation__sub-menu" aria-hidden="true">
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="960c62346b074cd1993e018cb2e81b0a" href="/en/employers/new-employers" tabindex="-1">
                                                    Automatic enrolment - employing staff for the first time
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="f9232acb712f4b22a60af117aa58d16b" href="#" tabindex="-1">
                                                    Re-enrolment
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="ba87b5d87e934a75adbbe166a0e67859" href="#" tabindex="-1">
                                                    Warnings, notices and payment of fines
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="7eb56a01084c4180879b20c35a42cda6" href="#" tabindex="-1">
                                                    Find out your letter code
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="1296f638efc147a3b1c504f29a4ae8d5" href="#" tabindex="-1">
                                                    Managing a scheme
                                                </a>
                                            </div>
                                        </div>
                                </div>
                        </li>
                        <li class="navigation__menu-item">
                            <a id="bc50955cfbe245bc84f576a290736570" href="#" aria-expanded="false">
                                Business advisers
                            </a>
                                <div class="navigation__sub-menu" aria-hidden="true">
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="7580b18d82344597b92e6b6eaf11e426" href="#" tabindex="-1">
                                                    Automatic enrolment guide for business advisers
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="e07aee237f4a44099985a1a0ce93de33" href="#" tabindex="-1">
                                                    DB benefits management
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="cb05d2e284b84dd8b9d06c299ec7368b" href="#" tabindex="-1">
                                                    DC benefits management
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="5e4b798e2d7b4ae1bcb58280ac4992be" href="#" tabindex="-1">
                                                    Mixed benefit scheme management
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="ea626232b0d34e2d9da16e429f78f6ad" href="#" tabindex="-1">
                                                    Reporting and registering
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="2b1dba249d714d089d24689343bc73c4" href="#" tabindex="-1">
                                                    Setting up a scheme
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="bbd9de4afe82440eb3efd033da0a437b" href="#" tabindex="-1">
                                                    Closing a scheme
                                                </a>
                                            </div>
                                        </div>
                                </div>
                        </li>
                        <li class="navigation__menu-item navigation__menu-item__selected">
                            <a id="e67da255973b4737b7a69759c19481a5" href="#" aria-expanded="false">
                                Trustees
                            </a>
                                <div class="navigation__sub-menu" aria-hidden="true">
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="812df9b487e541d1bfdcdbf42cc21442" href="#" tabindex="-1">
                                                    Understanding your role
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="348e0b9b5cae48048aaab565e4b91cb6" href="#" tabindex="-1">
                                                    Governing the scheme
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="0e43cce49575450f964d6069711df768" href="#" tabindex="-1">
                                                    Communicate to members
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="3c0d7ae25cd5439588af240b7c917870" href="#" tabindex="-1">
                                                    Investment and DB scheme funding
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="d63a6a6bf3c142598137844c4149f2e1" href="#" tabindex="-1">
                                                    Contributions, dashboards, data and transfers
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="fd8eb1f22e7749dfa79f6f2069a3c4f2" href="#" tabindex="-1">
                                                    Submit reports, payments and requests to us
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="8d550a6eb58f42dc98d53390a04f7a09" href="#" tabindex="-1">
                                                    Penalty notices
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="ca78506c92794dc9ba88b7bf58a8ba09" href="#" tabindex="-1">
                                                    Wind up or transfer your scheme
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="5deff2d0fec040a39bfcf86abd21f12e" href="#" tabindex="-1">
                                                    Independent trustee register
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="3c65778aa611495e9767e47529091e03" href="#" tabindex="-1">
                                                    Professional trustee standards
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="e81f735f25c24f9c871a3556e9596bf1" href="#" tabindex="-1">
                                                    Employer related investments
                                                </a>
                                            </div>
                                        </div>
                                </div>
                        </li>
                        <li class="navigation__menu-item">
                            <a id="25bea60293bc4e23af2febd81a222b14" href="/en/about-us" aria-expanded="false">
                                About us
                            </a>
                                <div class="navigation__sub-menu" aria-hidden="true">
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="f087d3f7976b42cab2c3951e5939a7d4" href="#" tabindex="-1">
                                                    What we do and who we are
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="317e5290ff0d4eb8962e984071dd53cd" href="#" tabindex="-1">
                                                    Work for us
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="42157bba19d24118b9a58813779e5653" href="#" tabindex="-1">
                                                    The Board
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="783c4670209d46dea52a6f9da650f13c" href="#" tabindex="-1">
                                                    How we regulate and enforce
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="540b0706b44a43f4aec4bf0659c9b798" href="#" tabindex="-1">
                                                    Complain about TPR
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="52550de961ed4433b37905b754c604cc" href="#" tabindex="-1">
                                                    Doing business with us
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="008f32c3cbdc47a0a1b25429551eac67" href="#" tabindex="-1">
                                                    Freedom of information
                                                </a>
                                            </div>
                                        </div>
                                </div>
                        </li>



                        <li class="navigation__menu-item navigation__final-item">
                            <a id="3219d774174d42e6941841a94ffe628e" href="#" aria-expanded="false">
                                Document library
                            </a>

                                <div class="navigation__sub-menu">
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="e22a68be27fa4da68cccb72dd7be171e" href="#" tabindex="-1">
                                                    Automatic enrolment detailed guidance
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="759d768f22514e03a9c133d2d9054c64" href="#" tabindex="-1">
                                                    Codes of practice
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="e06bb71e645a4d60837d816908b7140b" href="#" tabindex="-1">
                                                    Scheme management detailed guidance
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="719af516eac74bfbb438ae472ce33ea6" href="#" tabindex="-1">
                                                    Consultations
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="527d85c921974f53ac44b27c56ab8ad9" href="#" tabindex="-1">
                                                    Statements
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="eb96c92a21414f01a77c098ee92845d8" href="#" tabindex="-1">
                                                    Research and analysis
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="1589382cd69d4f109e69289dacf10470" href="#" tabindex="-1">
                                                    Regulatory and enforcement policies
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="538244bbc9954ea5913fb8485db1170e" href="#" tabindex="-1">
                                                    Corporate information
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="38c7c04407564937a2d5ca2a43029366" href="#" tabindex="-1">
                                                    Enforcement activity
                                                </a>
                                            </div>
                                        </div>
                                        <div class="navigation__sub-menu-item">
                                            <div class="navigation__sub-menu-item-title">
                                                <a id="d6d69af1dcb440d2bdc23b968a392fc3" href="#" tabindex="-1">
                                                    Forms
                                                </a>
                                            </div>
                                        </div>
                                </div>
                        </li>
            </ul>
        </div>
    </div>
</nav>

        
        
    </header>
    <main>
        
        <nav class="breadcrumbcontainer" aria-label="Breadcrumbs">
            <div class="container">
                <ol class="breadcrumb">
                        <li >
                                <a href="#" title="Home">
                                    Home
                                </a>
                        </li>
                        <li >
                                <a href="#" title="Trustees">
                                    Trustees
                                </a>
                        </li>
                        <li >
                                <a href="#" title="Investment and DB scheme funding">
                                    Scheme valuation data
                                </a>
                        </li>
                        <li aria-current="page">
Submit scheme valuation data                        </li>
                </ol>
            </div>
        </nav>
<span id="main"></span>
    <div class="pagetitlecontainer">
        <div class="container">
                <h1>Submit scheme valuation data</h1>
                    </div>
    </div>
<div class="container">
    <div class="inner2colwidenarrow">
        <article class="left-column">
                <div class="pagecontentsummary">
        <p>An overview of what to consider when you look at the scheme valuation data and governance for a pension scheme offering defined benefits.</p>
    </div>
<nav class="anchorlocation pageanchornavigation" aria-labelledby="page-anchor-nav">
    <h2 id="page-anchor-nav">On this page</h2>
    <ul class="pageanchornavigation__list">
                <li><a href="#anchor1" style="color: #006ebc;">Submition process</a></li>
                <li><a href="#anchor2" style="color: #006ebc;">Using TPR templates to share your data</a></li>
                <li><a href="#anchor3" style="color: #006ebc;">Generating a statement of strategy</a></li>
                <li><a href="#anchor4" style="color: #006ebc;">The role of Chair of Trustee</a></li>
    </ul>
</nav>

<div class="anchorlocation section contentbreak" id="anchor1">
    <h2>Submition process</h2>
    <div class="standardinformation">
        <p>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla...</p>
        <p><a href="mvp1_login.html" style="color: #006ebc;">Submit your scheme valuation data</a></p>
    </div>
</div>

<div class="anchorlocation section contentbreak" id="anchor2">
    <h2>Using TPR templates to share your data</h2>
    <div class="standardinformation">
        <p>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla...</p>
        <p><a href="#0" style="color: #006ebc;">Download data spreadsheet template</a></p>
        <p><a href="#0" style="color: #006ebc;">Download Chair Trustee Signature template</a></p>
    </div>
</div>

<div class="anchorlocation section contentbreak" id="anchor3">
    <h2>Generating a statement of strategy</h2>
    <div class="standardinformation">
        <p>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla...</p>
    </div>
</div>

<div class="anchorlocation section contentbreak" id="anchor4">
    <h2>The role of the Chair of Trustee</h2>
    <div class="standardinformation">
        <p>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla...</p>
    </div>
</div>

 
    
        </article>
        <aside class="right-column">
            

    <div class="relatedcontent">
        <ul>
    <li><a href="#0" style="color: #006ebc;">Scheme valuation data guidance<br />
    </a>Bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla...</li>
</ul>
    </div>

        </aside>
    </div>
</div>


        <div class="backToTop">
            <div class="container">
                <a href="#pagetop">Back to top</a>
            </div>
        </div>

        <section class="feedback">
    <div class="container">
        <div class="feedback__container" data-error-400="There&#39;s a problem with your form. Please check you have completed all fields correctly." data-error-500="Could not send a message at this time - please try again later.">
            <div class="feedback__yesno">
                <span class="feedback__prompt">Is this page useful?</span>

                <form action="#0" method="post" class="feedback__positive">
                    <input name="__RequestVerificationToken" type="hidden" value="66Nq7gh9uI4w1QHCQllw4AUmerX1c582r0vMPrv7Cp6CYySyniGlL1U9ejdXomlcEqULnE0OUvxoG3iBq8ax1bbiC-z4aoZ1hL_Q-hM7y_g1" />
                    <input type="hidden" name="Url" value="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/investment" />
                    <button class="feedback__Button" type="submit">Yes</button>
                    / <button  id="negative_feedback" class="feedback__Button" data-module="govuk-button" type="button">No</button>
                </form>
            </div>
            <div class="feedback__problemsLink">
                <button id="problems_feedback" class="feedback__Button" type="button" data-module="govuk-button">
                    Problems with this page?
                </button>
            </div>
        </div>
        <div class="container feedback__negative">
            <div class="inner2colwidenarrow">
                <div class="left-column">
<form action="#0" method="post" id="negativeFeedbackForm">
    <div class="form__tpr">
        <h2>Page not useful?</h2>
        <input name="__RequestVerificationToken" type="hidden" value="V7DMtXYNc-usBVQ8LScCheZPHAaljpkuj917GL-HsbCGRoENtB8IY7AX-0ns3MZgwUR4wwCSQqOrPyDLiAiDZUc1kOqUPxjzrK0dKRS5sNA1" />
        <input id="pageNotUsefulUrl" name="Url" type="hidden" value="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/investment" />

        <label class="form__label label__required" for="Feedback">Why not?</label>
        <textarea class="form-control form__element" cols="20" id="Feedback" name="Feedback" required="required" rows="2">
</textarea>

        <input type="submit" class="btn btn-primary btn-lg" value="Send comment" />
    </div>
</form>
                </div>
                <div class="right-column feedback__closeContainer">
                    <button id="close_negative_form" class="feedback__closeButton" type="button" data-module="govuk-button">Close</button>
                </div>
            </div>
        </div>
        <div class="container feedback__problems">
            <div class="inner2colwidenarrow">
                <div class="left-column">
<form action="#0" method="post" id="pageProblemForm">
    <div class="form__tpr">
        <h2>
            Problems with this page?
        </h2>
        <input name="__RequestVerificationToken" type="hidden" value="Pt3uBYG60U1kdVCkQOjFpvGW-8qwLDu8qiuy3-VH2hNIfrwT8JcmeHFjqCsNzSwTQtHzj4BqHrTZ540c_s45ZVfv13I96VuKNQAjzoVYyHw1" />

        <input id="pageProblemUrl" name="Url" type="hidden" value="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/investment" />

        <label class="form__label label__required" for="Activity">What were you doing?</label>

        <textarea class="form-control form__element" cols="20" id="Activity" name="Activity" required="required" rows="2">
</textarea>

        <label class="form__label label__required" for="Fault">What went wrong?</label>

        <textarea class="form-control form__element" cols="20" id="Fault" name="Fault" required="required" rows="2">
</textarea>

        <label class="form__label label__required" for="EmailAddress">What is your email?</label>

            <div class="form__label-hint">Your email address will only be used to reply to your comment.</div>

        <input class="form-control form__element email__required" id="EmailAddress" name="EmailAddress" pattern="[a-z0-9!#$%&amp;&#39;*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;&#39;*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" placeholder="name@example.com" required="required" type="email" value="" />
        <div>
            <input type="submit" class="btn btn-primary btn-lg" value="Report problem" />
        </div>

    </div>
</form>


                </div>
                <div class="right-column feedback__closeContainer">
                    <button id="close_problem_form" type="button" class="feedback__closeButton">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>

    </main>

    <footer>
<div class="container footer-top">
    <div class="footer">
        <div class="first-column">
        <div class="logo">
        <img src="https://www.thepensionsregulator.gov.uk/-/media/thepensionsregulator/images/logo/tpr-logo-footer.ashx" alt="The Pensions Regulator (TPR) logo footer" width="200" height="72">
    </div>

</div>
<div class="column">
    
<ul>
        <li>
            <a href="#" title="Public service pension schemes">
                Public service pension schemes
            </a>
        </li>
        <li>
            <a href="#" title="Master trust pension schemes">
                Master trust pension schemes
            </a>
        </li>
        <li>
            <a href="#" target="_blank" title="Exchange">
                Exchange
            </a>
        </li>
        <li>
            <a href="#" target="_blank" title="Trustee toolkit">
                Trustee toolkit
            </a>
        </li>
        <li>
            <a href="#" target="_blank" title="Public service toolkit">
                Public service toolkit
            </a>
        </li>
</ul>
</div>
<div class="column">
    
<ul>
        <li>
            <a href="#" title="Contact us">
                Contact us
            </a>
        </li>
        <li>
            <a href="#" title="Media hub">
                Media hub
            </a>
        </li>
        <li>
            <a href="#" title="Work for us">
                Work for us
            </a>
        </li>
</ul>
</div>
<div class="last-column">
    
<ul>
        <li>
            <a href="#" title="Facebook">
                Facebook
            </a>
        </li>
        <li>
            <a href="#" title="Twitter">
                Twitter
            </a>
        </li>
        <li>
            <a href="#" title="LinkedIn">
                LinkedIn
            </a>
        </li>
        <li>
            <a href="#" title="YouTube">
                YouTube
            </a>
        </li>
</ul>
</div>
    </div>
</div>
<div class="sectionbreak-wide"></div>
<div class="container">
    <div class="footer subfooter">
        <ul>
            
    <li>
        <a href="#" title="Website policies">
            Website policies
        </a>
    </li>
    <li>
        <a href="#" title="Accessibility">
            Accessibility
        </a>
    </li>
    <li>
        <a href="#" title="Cookies">
            Cookies
        </a>
    </li>
    <li>
        <a href="#" title="Privacy">
            Privacy
        </a>
    </li>
    <li>
        <a href="#" title="Terms and conditions">
            Terms and conditions
        </a>
    </li>

            
            
        </ul>
            <div class="copyright">
        &copy; 2023  The Pensions Regulator
    </div>

    </div>
</div>    </footer>
</div>
<div class="modalbg"></div>


    <script src="/Scripts/outdatedbrowser.min.js"></script>
        <script type="text/javascript">
  var appInsights=window.appInsights||function(a){
    function b(a){c[a]=function(){var b=arguments;c.queue.push(function(){c[a].apply(c,b)})}}var c={config:a},d=document,e=window;setTimeout(function(){var b=d.createElement("script");b.src=a.url||"https://az416426.vo.msecnd.net/scripts/a/ai.0.js",d.getElementsByTagName("script")[0].parentNode.appendChild(b)});try{c.cookie=d.cookie}catch(a){}c.queue=[];for(var f=["Event","Exception","Metric","PageView","Trace","Dependency"];f.length;)b("track"+f.pop());if(b("setAuthenticatedUserContext"),b("clearAuthenticatedUserContext"),b("startTrackEvent"),b("stopTrackEvent"),b("startTrackPage"),b("stopTrackPage"),b("flush"),!a.disableExceptionTracking){f="onerror",b("_"+f);var g=e[f];e[f]=function(a,b,d,e,h){var i=g&&g(a,b,d,e,h);return!0!==i&&c["_"+f](a,b,d,e,h),i}}return c
    }({
        instrumentationKey:"d594a410-5811-470e-b7d9-db46aa3db663"
    });

  window.appInsights=appInsights,appInsights.queue&&0===appInsights.queue.length&&appInsights.trackPageView();
    </script>

    <script src="/Scripts/chosen.jquery.min.js" defer></script>
    <script src="/Scripts/umd/popper.min.js"></script>
    <script src="/Scripts/collapse.min.js"></script>
    <script src="/Scripts/jquery.easy-autocomplete.min.js" defer></script>
    <script src="/Scripts/govuk-frontend-all.min.js"></script>
    <script src="/scripts/TPR.js?v=D96F5BA0B970D458F4CC1CA9AB883BF2317B00A852E365BEA384B49375EB1EF6" defer></script>

</body>
</html>