{% extends "includes/mvp1_submit_layout_3_back.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Covenant information</h1>

        <!--
        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          You must use our template to upload your data in ODS format. <br><a href="#0" style="color:#1d70b8;">Download template </a>.
        </div>
        -->

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" width="300">Covenance advice</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_2.html" style="text-decoration: none;color:#1d70b8;">View and update form</a><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Sources of information</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_4.html" style="text-decoration: none;color:#1d70b8;">View and update form</a><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Risk test</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_6.html" style="text-decoration: none;color:#1d70b8;">View and update form</a><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Cash flow generation</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_8.html" style="text-decoration: none;color:#1d70b8;">View and update form</a><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Covenant outlook</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_10.html" style="text-decoration: none;color:#1d70b8;">View and update form</a><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Employer liquidity</td>
              <td class="govuk-table__cell"><a href="mvp1_submit_upload_3_form_12.html" style="text-decoration: none;color:#1d70b8;">Complete form</a><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Contingent assets</td>
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Complete form</a><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Guarantor details</td>
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Complete form</a><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Alternative uses of cash</td>
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
          </tbody>
        </table>

        <form action="mvp1_submit_upload_3_error.html">
          <div class="govuk-button-group" style="margin-top: 30px;">
            <a class="govuk-link" href="mvp1_submit_task_list_4b.html" style="color: #1d70b8">Return to submission</a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
