{% extends "includes/mvp1_submit_layout_3_back.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">Covenant information</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          Lorum iopsum est...
        </div>

        <div class="govuk-form-group" style="margin-bottom: 20px;">
          <label class="govuk-label" for="sort" style="margin-bottom: 15px;">
            <strong>Question 
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="none" selected></option>
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="event-name">
            <strong>Question  </strong>
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="event-name" name="eventName" type="text">
        </div>

        <div class="govuk-form-group" style="margin-bottom: 20px;">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <label class="govuk-label" for="event-name">
            <strong>Question  </strong>
          </label>
            <div id="contact-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Option 1
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-email">
                    Additional details
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-email" name="contactByEmail" type="email" spellcheck="false" autocomplete="email">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Option 2
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-phone">
                    Additional details
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contactByPhone" type="tel" autocomplete="tel">
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="text" data-aria-controls="conditional-contact-3">
                <label class="govuk-label govuk-radios__label" for="contact-3">
                  Option 3
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="contact-by-text">
                    Additional details
                  </label>
                  <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contactByText" type="tel" autocomplete="tel">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label" for="event-name">
            <strong>Question  </strong>
          </label>
          </h1>
          <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information.
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        <div style="background-color: #f8f5ff; background-color: opacity 50%; padding: 20px 20px 1px 20px; margin-top: 40px;">
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-1" style="margin-bottom: 20px">
              Alternatively, you can provide all these details uploading an spreadsheet in XLS format using the <a href="#0">TPR template</a>.
            </label>
              <!--
              <strong>Upload file</strong>
            </label>
            <div id="signIn-hint" class="govuk-hint" style="margin-top: 10px">
              The file must be a XLS.
            </div>
            -->
            <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
          </div>
        </div>

        <!--
        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1" style="margin-bottom: 10px;">
            <strong>Enter any comments about this file (optional)</strong>
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
        -->

        <form action="mvp1_submit_task_page_4.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
