{% extends "includes/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>

        <h1 class="govuk-heading-l" style="margin-bottom: 30px;">Define the collaborative working environment</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          This allow you to select what people from the your list of SVD collaborators, will be assigned to complete the differents role tasks in this submission. <br>You can change later the assigned prople at any time.
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort" style="margin-bottom: 10px;">
            <strong>Uploader 1 </strong>
            <br>
            Select who will upload data
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="1" selected></option>
            <option value="2">Peter Coward</option>
            <option value="3">Sonia Kowasky</option>
            <option value="4">Anne Douglas</option>
            <option value="5">Mark Green</option>
            <option value="6">Sebastian Tower</option>
            <option value="7">Jonathan Sinclair</option>
            <option value="8">Maria Sutherland</option>
            <option value="9">Michael Sumerfield</option>
            <option value="10">Alison Prichard</option>
            <option value="11">Viktor Orkasita</option>
            <option value="12">Rafael Gonzalez</option>
            <option value="13">John Riley</option>
            <option value="14">Tara Columbus</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort" style="margin-bottom: 10px;">
            <strong>Uploader 2 </strong>
            <br>
            Select who will upload data
          </label>
          <select class="govuk-select" id="sort" name="sort">
            <option value="1" selected></option>
            <option value="2">Peter Coward</option>
            <option value="3">Sonia Kowasky</option>
            <option value="4">Anne Douglas</option>
            <option value="5">Mark Green</option>
            <option value="6">Sebastian Tower</option>
            <option value="7">Jonathan Sinclair</option>
            <option value="8">Maria Sutherland</option>
            <option value="9">Michael Sumerfield</option>
            <option value="10">Alison Prichard</option>
            <option value="11">Viktor Orkasita</option>
            <option value="12">Rafael Gonzalez</option>
            <option value="13">John Riley</option>
            <option value="14">Tara Columbus</option>
          </select>
        </div>


                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        

        <form action="page_7.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
