{% extends "includes/layout2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>

        <h1 class="govuk-heading-l" style="margin-bottom: 30px;">Sign the declaration and submit</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          [legal warning goes here]
        </div>

        <div class="govuk-form-group" style="margin-bottom: 20px;">
            <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                  I, Michael Sumerfield, confirm that... [legal long chorizo declaration goes here]
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <p class="govuk-body">By submitting this scheme valuation data you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <!--
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="padding-bottom: 50px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              I confirm that all details ptovided are correct.
            </label>
          </div>
        </div>
        -->

        <form action="page_18.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and submit</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
