
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-l">Scheme Validation Data</span>

    <p class="govuk-heading-xl" style="margin-top: 10px; margin-bottom: 10px;">Start a new submission</p>

    <table class="govuk-table" style="margin-top: 0px;margin-bottom: 10px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Version 1</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_1/login_1.html" style="text-decoration: none;color:#1d70b8;">Initial concept for SVD submission</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-bottom: 10px;"><a href="version_1/design_history_version_1.html" style="text-decoration: none;color:#1d70b8;">Design history</a></p>

    <table class="govuk-table" style="margin-top: 0px;margin-bottom: 10px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Version 2</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_2/login_1.html" style="text-decoration: none;color:#1d70b8;">Improved concept for SVD submission</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-bottom: 10px;"><a href="version_2/design_history_version_2.html" style="text-decoration: none;color:#1d70b8;">Design history</a></p>

    <table class="govuk-table" style="margin-top: 0px;margin-bottom: 10px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Version 3</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_3/admin_login_1.html" style="text-decoration: none;color:#1d70b8;">Admin create a  submission framework</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_3/uploader_login_1.html" style="text-decoration: none;color:#1d70b8;">Junior actuary upload data</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_3/reviewer_login_1.html" style="text-decoration: none;color:#1d70b8;">Senior actuary review uploaded data</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_3/signator_login_1.html" style="text-decoration: none;color:#1d70b8;">Chair Trustee sign declaration and submit</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-bottom: 10px;"><a href="version_3/design_history_version_3.html" style="text-decoration: none;color:#1d70b8;">Design history</a></p>

    <table class="govuk-table" style="margin-top: 0px;margin-bottom: 10px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Version 4</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_4/admin_login_1.html" style="text-decoration: none;color:#1d70b8;">Admin create a  submission framework</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_4/uploader_login_1.html" style="text-decoration: none;color:#1d70b8;">Junior actuary upload data</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_4/reviewer_login_1.html" style="text-decoration: none;color:#1d70b8;">Senior actuary review uploaded data</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_4/signator_login_1.html" style="text-decoration: none;color:#1d70b8;">Chair Trustee sign declaration and submit</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
      </tbody>
    </table>

    <p style="margin-bottom: 300px;"><a href="version_4/design_history_version_4.html" style="text-decoration: none;color:#1d70b8;">Design history</a></p>

  </div>
</div>

<br>
<br>
<br>

{% endblock %}
