{% extends "includes/layout_new_submission.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-l" style="margin-bottom: 20px;margin-top: 10px;">Define the quality ansurance process for the data that the team will upload in this submission</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          This allow you to set how many people will be involve reviewing and approving the uploaded data for quality ansurance purposes. <br>You can select and assign people in the next section.
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort" style="margin-bottom: 10px;">
            <strong>Select how many people will be uploading data  </strong>
          </label>
          <select class="govuk-select" id="sort" name="sort" style="min-width: 5em;">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort" style="margin-bottom: 10px;">
            <strong>Select how many people will be reviewing data  </strong>
          </label>
          <select class="govuk-select" id="sort" name="sort" style="min-width: 5em;">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sort" style="margin-bottom: 10px;">
            <strong>Select how many people will be approving data   </strong>
          </label>
          <select class="govuk-select" id="sort" name="sort" style="min-width: 5em;">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>

        <form action="page_7.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
