{% extends "includes/mvp1_submit_layout_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation" style="margin-top: 40px;">
          <h1 class="govuk-panel__title">
            Submission complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number is<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We’ve sent your submission to our actuarial team.
        </p>
        <p class="govuk-body">
          They will contact you to confirm your submission has been accepted or ask for more information.
        </p>
        <p class="govuk-body">
          If we need more information, we will send you an email. You will then be able to update the data, supply more information or attach additional support documents. 
        </p>
        <p class="govuk-body">
          <a href="mvp1_submit_view_submissions_3.html" style="color:#1d70b8;">View your submitted scheme valuation data </a>
        </p>
        <p class="govuk-body">
          <a href="mvp1_scheme_details.html" style="color:#1d70b8;">Return to your pension scheme’s landing page</a>
        </p>

        <br>
        <br>
        <br>

        <p class="govuk-body">
          <a href="#" class="govuk-link" style="color:#1d70b8;">What did you think of this service?</a> (takes 30 seconds)
        </p>

    </div>
</div>



{% endblock %}
