{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">View submitted details </h1>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Valuation details</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="470">Submitter </td>
                    <td class="govuk-table__cell">John Smith</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Submission date </a></td>
                    <td class="govuk-table__cell">22/12/2023 <!--(elegible for SYSVD)--></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Valuation effective date </a></td>
                    <td class="govuk-table__cell">01/11/2023 <!--(elegible for SYSVD)--></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Scheme relevant date</a></td>
                    <td class="govuk-table__cell">15/11/2023 </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Number of members at the scheme relevant date</a></td>
                    <td class="govuk-table__cell">Fewer than 100 members </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Was the scheme in deficit at the valuation effective date?</a></td>
                    <td class="govuk-table__cell">Yes </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Is the valuation submission fast track or bespoke?</a></td>
                    <td class="govuk-table__cell">Yes</td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">Uploaded valuation data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="470">Trustee Assessment </td>
                    <td class="govuk-table__cell"><a href="mvp1_submit_questionnaire_3.html" style="text-decoration: none;color:#1d70b8;">View submitted details</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Actuarial information </td>
                    <td class="govuk-table__cell"><a href="mvp1_submit_submitted_file_2.html" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investment information </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant information </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted data</a></td>
                </tr>
            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">Upload supporting documents</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="470">Copy of the actuarial valuation </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted file</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the schedule of contributions</td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted file</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the recovery plan </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted file</a></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reasons recovery plan revision </td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted file</a></td>
                </tr>
                -->
            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 40px;">Statement of Strategy</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="2"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="470">Statement of strategy</td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View submitted file</a></td>
                </tr>
            </tbody>
        </table>

        <form action="#0">
          <div class="govuk-button-group" style="margin-top: 20px;">
            <a class="govuk-link" href="#0" style="color: #1d70b8">Download all this submission details in a PDF</a>
          </div>
        </form>

        <form action="mvp1_submit_view_submissions_3.html">
          <div class="govuk-button-group" style="margin-top: 20px;">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">Back to submissions</button>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

    <!--

    <div class="govuk-grid-column-one-third">

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 28px;">

          <h2 class="govuk-heading-m">About this submission</h2>

          <div class="govuk-panel__body" style="margin-bottom: 20px;">

            <p style="margin-bottom: 10px;"><strong>Download submission </strong></p>
            <p style="margin-bottom: 10px;">You can <a href="#0" target="blank" style="color:#1d70b8;">download in a PDF the submission details</a> in this page.</p>

            <hr style="margin-bottom: 18px; margin-top: 20px;border-top: 1px solid #b1b4b6;border-bottom: none;">

            <p style="margin-bottom: 10px;"><strong>Updating data</strong></p>
            <p style="margin-bottom: 10px;">You will be able to update the submitted data in future versions of Exchange.<a href="#0" target="blank" style="color:#1d70b8;">Read more</a></p>

            <hr style="margin-bottom: 18px; margin-top: 20px;border-top: 1px solid #b1b4b6;border-bottom: none;">

            <p style="margin-bottom: 10px;"><strong>Making an enquiry</strong></p>
            <p style="margin-bottom: 10px;">You can <a href="#0" target="blank" style="color:#1d70b8;">make an enquiry</a> to TPR if you have questions about your submission.</p>

          </div>

        </div>

    </div>

    -->

</div>




{% endblock %}
