{% extends "includes/mvp1_submit_layout_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                
        <!--<span class="govuk-caption-m" style="margin-top: 20px;">PSR 10965738</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 30px;">View scheme valuation data submissions </h1>

        <!--<h2 class="govuk-heading-m" style="margin-bottom: 10px;margin-top: 20px;">My submissions</h2>-->
            
        <table class="govuk-table" style="margin-bottom: 20px;margin-top: 0px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="180">Effective date </th>
              <th scope="col" class="govuk-table__header" width="120">Fast track</th>
              <th scope="col" class="govuk-table__header" width="200">Status</th>
              <th scope="col" class="govuk-table__header" width="90">Action </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">27 October 2023</td>
              <td class="govuk-table__cell">Yes</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag">SUBMITTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="mvp1_submit_submission_details.html" style="text-decoration: none;color:#1d70b8;">View details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">14 August 2023</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag">SUBMITTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="text-decoration: none;color:#1d70b8;">View details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">27 September 2022</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag govuk-tag--orange">CHANGES REQUESTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="text-decoration: none;color:#1d70b8;">Update</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">19 August 2021</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag govuk-tag--green">ACCEPTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="text-decoration: none;color:#1d70b8;">View details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">06 July 2020</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag govuk-tag--green">ACCEPTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="text-decoration: none;color:#1d70b8;">View details</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">15 October 2019</td>
              <td class="govuk-table__cell">No</td>
              <td class="govuk-table__cell" style="text-align:left;"><strong class="govuk-tag govuk-tag--green">ACCEPTED</strong></td>
              <td class="govuk-table__cell" style="text-align: right;"><a href="#0" style="text-decoration: none;color:#1d70b8;">View details</a></td>
            </tr>
          </tbody>
        </table>

        <p><a href="#0" style="color:#1d70b8;">View previous submissions</a></p>

        <a href="#0"><button class="govuk-button" data-module="govuk-button" style="margin-top: 10px;margin-bottom: 60px;">Submit new scheme valuation data</button></a>

    </div>
</div>



{% endblock %}
