{% extends "includes/layout_products_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                
        <!--
        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>
        -->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">Products </h1>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">PRODUCT</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Scheme Validation Data (SVD)</h2>
          <span class="govuk-caption-m">Registered by Anne Summerville on 25/02/2020</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">3 SUBMISSIONS</strong>
          <a href="svd_dashboard_1.html" target="blank" style="text-decoration: none;color:#1d70b8;">Manage product</a>
        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #f3f2f1;text-align: left;padding: 20px;">
          <span class="govuk-caption-m">PRODUCT</span>
          <h2 class="govuk-heading-m" style="margin-bottom: 0px;">Scheme Return (SR)</h2>
          <span class="govuk-caption-m">Registered by Stuart Corvett on 13/11/2021</span>
          <strong class="govuk-tag govuk-tag" style="margin-top: 10px;margin-bottom: 10px;margin-right: 10px;">2 SUBMISSION</strong>
          <a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage product</a>
        </div>

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #ffffff;text-align: left;padding: 0px 0px 0px 20px;border: 3px dashed #f3f2f1;">
            <a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;font-size: 1.5rem;margin-bottom: 20px;"><span style="color:#1d70b8; font-size: 50px;vertical-align: middle;">+ </span> Add a new product</a>
        </div>

        <!--
        <a href="page_1.html"><button class="govuk-button" data-module="govuk-button" style="margin-top: 10px;">Register a new product</button></a>
        -->

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <!--<div style="border-top: 4px solid #1d70b8;margin-top: 10px;"></div>-->

        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 70px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Other available products</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Lorum ipsum est</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Vinculas tentare sempre</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Supra aditonal caesar romanus</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Mandolian dolore provocas</a>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Colabra divinas</a>
          </div>
        </div>

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 70px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Acme Limited</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 5px;">PSR 12010256 </p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage account</a></p>
            <hr style="margin-bottom: 20px;margin-top: 20px;">
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Pay the levy</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Make a transfer request</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Request an appointment</a>
            <p style="margin-bottom: 10px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Other</a>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Other</a>
          </div>
        </div>
        -->

        <!--
        <div style="border-top: 4px solid #483b8b;margin-top: 30px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Help and support</h2>

        <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View tutorials</a></p>
        
        <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View FAQs</a></p>
        
        <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Make an enquiry</a></p>
        -->

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 20px;margin-top: 70px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Acme Limited</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 5px;">PSR 12010256 </p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Manage account</a></p>
          </div>
        </div>
        -->

        <!--
        <div class="govuk-panel govuk-panel--confirmation" style="background-color: #FFF6FE;text-align: left;padding: 20px;margin-top: 15px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Help and support</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View tutorials</a></p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">View FAQs</a></p>
            <p style="margin-bottom: 0px;"><a href="#0" target="blank" style="text-decoration: none;color:#1d70b8;">Make an enquiry</a></p>
          </div>
        </div>
        -->

    </div>

</div>




{% endblock %}
