
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <span class="govuk-caption-m">Manage products: Scheme Validation Data</span>

    <p class="govuk-heading-l" style="margin-top: 10px; margin-bottom: 0px;">Concepts</p>

    <table class="govuk-table" style="margin-top: 0px;">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Version 1</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_1/progress_empty.html" style="text-decoration: none;color:#1d70b8;">New submission overview - Empty</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_1/progress_populated_basic.html" style="text-decoration: none;color:#1d70b8;">New submission overview - Basic</a> </td>
          <td class="govuk-table__cell">  </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="version_1/progress_populated_complex.html" style="text-decoration: none;color:#1d70b8;">New submission overview - Complex</a> </td>
          <td class="govuk-table__cell">  </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<br>
<br>
<br>

{% endblock %}
