{% extends "includes/layout_admin_new_submission_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
                
        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Add new scheme valuation data submision</h1>

        <p>Use this service to submit your defined benefit pension scheme that meet the statutory funding objective. If your scheme doesn’t meet the statutory funding objective, you can add a recovery plan.</p>

        <h2 class="govuk-heading-m">Introducing a new service</h2>

        <p class="govuk-body">Based on your last scheme funding (Part 3) valuation date of 01 October 2023, you need to use our new service to submit your valuation.</p>

        <p>The new service improves the submission process introducing: </p>

        <ul class="govuk-list govuk-list--bullet">
          <li>automatically checks of your actuarial and covenant data.</li>
          <li>quality ansurance process so you can add multiple reviewers and approvers before trustee sign-off the submission.</li>
          <li>collaborative working so you can assign the tasks of upload, review or approve the data to different members of your team or providers.</li>
          <li>post-submission data updates, add additional information or attach supporting documents.</li>
          <li>exchange with TPR comunications related to your submission.</li>
        </ul>

        <p>If your submission is efective from 1/10/2023, you will use the new service automatically, otherwise you will submit your scheme valuation data using Exchange. <a href="#0" style="text-decoration: none;color:#1d70b8;">Read more about the new service (opens in new tab)</a></p>

        <p class="govuk-body">You will be able to upload your data using specific spreadsheet templates or use our new web forms. The spreadsheets templates will be available for a while until the use of web forms become mandatory to allow us to automitise the process, checks and validations. </p>

        <p class="govuk-body">The spreadsheet templates are available in <a href="https://www.gov.uk/guidance/using-open-document-formats-odf-in-your-organisation" target="blank">OpenDocument format (opens in new tab)</a>, which can be opened with a wide range of spreadsheet programs.</p>

        <p class="govuk-body">When you start a new submission, your full name and your organisation will be displayed in the submission process (this cannot undo). As submission creator, you will be able to set the submission framework incuding assign roles and tasks to the members of your team so they can collaborate with the submission.</p>
    
        <p style="margin-top: 30px;margin-bottom: 0px;">
            <a href="admin_new_submission_page_2.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Start now a new submission
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false"><path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg>
            </a>
        </p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">If you are going to use spreadsheets, you’ll need to download:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="/public/downloads/cashflow-template-v2.ods" download  class="govuk-link">the actuarial data template (ODS, 41KB).</a></li>
          <li><a href="/public/downloads/cashflow-template-v2.ods" download  class="govuk-link">the covenant data template (ODS, 32KB).</a></li>
          <li><a href="/public/downloads/statement-of-strategy1.ods" download  class="govuk-link"> Alt version: data template (ODS, 32KB).</a></li> 
        </ul>

        <p class="govuk-body">We cannot automatically check any documents that do not match the templates, and you will not be able to upload them.
        </p>

        <p class="govuk-body">You’ll also need your:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>funding and investment strategy</li>
            <li>actuarial valuation</li>
            <li>schedule of contributions</li>
            <li>recovery plan if the scheme is in deficit</li>
        </ul>

        <br>
        <br>
        <br>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 30px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Related content</h2>

        <!--
        <p>Your defined benefit (DB) scheme is subject to the statutory funding objective, which means it needs to have appropriate assets to cover its accrued liabilities (known as ‘technical provisions’). You must prepare and maintain a statement of funding principles setting out your policy for meeting the statutory funding objective and a schedule of contributions covering payments due to the scheme.</p>
        -->

        <p>You need to commission actuarial valuations periodically (at least every three years) to check your scheme meets the statutory funding objective. If the scheme doesn’t meet the objective, you need to put in place a recovery plan.</p>

        <p><a href="https://www.thepensionsregulator.gov.uk/en/trustees/investment-and-db-scheme-funding/valuing-your-scheme" target="blank" style="text-decoration: none;color:#1d70b8;">Read more about valuing your scheme</a></p>

    </div>

</div>




{% endblock %}
