{% extends "includes/layout_reviewer_notifications_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;margin-top: 20px;">Notifications </h1>

        <!--
        <table class="govuk-table" style="margin-bottom: 20px;margin-top: 10px;">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="100">Notification</th>
              <th scope="col" class="govuk-table__header" width="100">Date </th>
              <th scope="col" class="govuk-table__header" width="600">Description</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">46558927</a></td>
              <td class="govuk-table__cell">17/08/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">75635092</a></td>
              <td class="govuk-table__cell">24/08/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">52437726</a></td>
              <td class="govuk-table__cell">12/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">90674683</a></td>
              <td class="govuk-table__cell">14/09/23</td>
              <td class="govuk-table__cell">Lorum</td>
            </tr>
          </tbody>
        </table>

        <nav class="govuk-pagination" role="navigation" aria-label="results">
          <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                1
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2" style="color:#1d70b8;">
                2
              </a>
            </li>
            <li class="govuk-pagination__item">
              <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3" style="color:#1d70b8;">
                3
              </a>
            </li>
          </ul>
          <div class="govuk-pagination__next">
            <a class="govuk-link govuk-pagination__link" href="#" rel="next" style="color:#1d70b8;"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
          </div>
        </nav>

        -->


        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
