{% extends "includes/layout_signator_new_submission_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Submission complete
          </h1>
          <div class="govuk-panel__body">
            Your reference number is<br><strong>HDJ2123F</strong>
          </div>
        </div>
        <p class="govuk-body">We have sent you a confirmation email.</p>
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
          We’ve sent your submission to the TPR actuarial team.
        </p>
        <p class="govuk-body">
          They will review your submission and contact you either to confirm your data is accepted, or to ask for more information. In that case, you will be notified by email and you will be able to update you data, add additional information or attach supporting documents when applies.
        </p>
        <p class="govuk-body">
          You can now <a href="signator_pension_landingpage_2.html" style="color:#1d70b8;">return to your SVD Dashboard</a>.
        </p>

        <br>
        <br>
        <br>

        <p class="govuk-body">
          <a href="#" class="govuk-link" style="color:#1d70b8;">What did you think of this service?</a> (takes 30 seconds)
        </p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
