{% extends "includes/layout_uploader_new_submission_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-width-container">
          <a href="#0" class="govuk-back-link" style="margin-top: 0px;margin-bottom: 20px;">Back</a>
        </div>

        <span class="govuk-caption-m" style="margin-top: 10px;">Investment risk: Current level</span>

        <h1 class="govuk-heading-l" style="margin-bottom: 20px;margin-top: 0px;">Part 2 of 2</h1>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
            <strong>What is the scheme's current level of investment risk expressed as a percentage reduction in funding level, based on the method detailed in previous page?</strong>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
              <strong>What do the trustees intend to de-risk the scheme's investment strategy by the relevant date?</strong>
            </label>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Time based
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Funding based
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Other
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
            <strong>What will the intended investment risk be at the relevant date?</strong>
          </label>
          <div class="govuk-input__wrapper"><input class="govuk-input govuk-input--width-5" id="weight" name="weight" type="text" spellcheck="false">
            <div class="govuk-input__suffix" aria-hidden="true">%</div>
          </div>
        </div>

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
              <strong>Explain how the level of investment risk anticipated in the journey plan is appropriate for the scheme.</strong>
            </label>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 200 characters
          </div>
        </div>

        <!--

        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
              <strong>Where asset breakdown date provided via your most recent scheme return is prior to valuation effective date on a TPs basis, please update with the most recently available asset breakdown.</strong>
            </label>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>
          <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
            You can enter up to 200 characters
          </div>
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <label class="govuk-label" for="width-4" style="margin-bottom: 10px;">
              <strong>In which tier does this scheme fall based on total scheme liabilities recorded in the last s179 valuation?</strong>
            </label>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                  Tier 1
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                  Tier 2
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
                <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                  Tier 3
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="width-20">
            <strong>Lorum</strong>
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div> 

        -->

        <form action="uploader_new_submission_page_15.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="uploader_new_submission_page_16.html" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>


        <br>
        <br>
        <br>

    </div>

    <!--
    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 20px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Upload guidance</h2>

        <p>Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Lorum ipsum est
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias sim acuas populare sempre asquates doloris.
            <br>
            <br>
            <p><a href="#0" style="color:#1d70b8;">Lorum ipsum est</a></p>
          </div>
        </details>

    </div>
    -->

</div>




{% endblock %}
