{% extends "includes/layout_uploader_new_submission_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-width-container">
          <a href="#0" class="govuk-back-link" style="margin-top: 0px;margin-bottom: 20px;">Back</a>
        </div>

        <h1 class="govuk-heading-l" style="margin-bottom: 20px;margin-top: 10px;">Enter Funding and Investment Strategy data</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          The funding and investment strategy data has 5 sections, each with different part. All fields are mandatory.
        </div>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="500">Section</th>
              <th scope="col" class="govuk-table__header" width="117" style="text-align: left;">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Funding and investment strategy</a></td>
              <td class="govuk-table__cell" style="text-align: left;"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="uploader_new_submission_page_13.html" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Inverstment risk: Current level</a></td>
              <td class="govuk-table__cell" style="text-align: left;"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Inverstment risk: Scheme's current investment strategy</a></td>
              <td class="govuk-table__cell" style="text-align: left;"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Inverstment risk: Journey plan</a></td>
              <td class="govuk-table__cell" style="text-align: left;"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Inverstment risk: Liquidity</a></td>
              <td class="govuk-table__cell" style="text-align: left;"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
            </tr>
          </tbody>
        </table>

        <a class="govuk-link" href="uploader_new_submission_page_10.html" style="color: #1d70b8;font-size:19px;">Return to submission overview </a>

        <!--
        <form action="uploader_new_submission_page_10.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>
        -->

        <br>
        <br>
        <br>

    </div>

    <!--
    <div class="govuk-grid-column-one-third-from-desktop">

        <div style="border-top: 4px solid #483b8b;margin-top: 20px;"></div>

        <h2 class="govuk-heading-m" style="margin-top: 20px;">Upload guidance</h2>

        <p>Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias.</p>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Lorum ipsum est
            </span>
          </summary>
          <div class="govuk-details__text">
            Lorum ipsum est colabra tentare sempre et romaanus dolore provocas sempre aliquam asertarum calabrias doloratus populus sequias sim acuas populare sempre asquates doloris.
            <br>
            <br>
            <p><a href="#0" style="color:#1d70b8;">Lorum ipsum est</a></p>
          </div>
        </details>

    </div>
    -->

</div>




{% endblock %}
