{% extends "includes/layout.html" %}

{% block page_title %}You need to contact us{% endblock %}

{% block backHidden %}{% endblock %}


{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}
{% block content %}

    <main id="content" role="main">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% include "includes/psr-number.html" %}
                <h1 class="govuk-heading-l">You need to contact us</h1>

                <p class="govuk-body">If we hold the wrong details for the chair of trustees, you will need to contact us to change this.</p>

                <p class="govuk-body">You can contact us in the following ways:</p>

                <ul class="govuk-list govuk-list--bullet">
<li>Phone: 0345 600 5666</li>
<li>Email: <a href="mailto:prototypetest@tpr.gov.uk">prototypetest@tpr.gov.uk</a></li>
                </ul>


            <p><a href="https://login.thepensionsregulator.gov.uk/" class="govuk-link">Save and exit</a></p>
            </div>
        </div>
    </main>
</body>
{% endblock %}
