{% extends "includes/layout_admin_new_submission_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-l" style="margin-bottom: 20px;margin-top: 10px;">Do you want to use fast track in this submission?</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          Fast Track allow you to lorum ipsum est coabra tentare sempre et aliquam romanus dolori causare perpetuas.
        </div>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in">
                  Yes, I want to use fast track
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="sign-in-2">
                  No, I do not want to use fast track
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <form action="admin_new_submission_page_9.html" style="margin-top: 40px;">
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
