{% extends "includes/layout_uploader_new_submission_1.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 10px;">Submission overview</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete: <span class="govuk-body">You have completed 2 of 4 sections.</span></h2>

        <!--<p class="govuk-body" style="margin-bottom: 10px;">You have completed 4 of 6 sections.</p>-->

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">1. Submission framework</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420">Submission creator </a></td>
                    <td class="govuk-table__cell">John Smith - Pension Consultants Limited</td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Submission effective date </a></td>
                    <td class="govuk-table__cell">19/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Data ingestion format</a></td>
                    <td class="govuk-table__cell">Spreadsheets </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Fast track</a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">2. Upload data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Actuarial Data (AC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Covenant Data (CD)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Recovery Plan (RP)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Funding and Investment Strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Actuarial Valuation (AV)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload Schedule of Contribution (SC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Review data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420">Review Actuarial Data (AC)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review Covenant Data (CD)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review Recovery Plan (RP)</a></td>
                    <td class="govuk-table__cell">Ann Douglas</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review Funding and Investment Strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review Actuarial Valuation (AV)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Review Schedule of Contribution (SC)</a></td>
                    <td class="govuk-table__cell">Ann Douglas </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <!--
        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">5. Approve </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Approve AD, CD, RP</a></td>
                    <td class="govuk-table__cell">Jonathan Sinclair </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Approve FIS, AV, SC</a></td>
                    <td class="govuk-table__cell">Maria Sutherland </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

            </tbody>
        </table>
        -->

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">4. Sign & submit</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="420">Sign declaration</td>
                    <td class="govuk-table__cell">Michael Sumerfield (Chair of Trustees) </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <p><a href="uploader_pension_landingpage_2.html" style="color:#1d70b8;">Return to SVD Dasboard</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
