{% extends "includes/layout.html" %}

{% block pageTitle %}

  Check your scheme information is up-to-date
{% endblock %}
{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" action="" method="POST">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Submit your scheme valuation for ABC Scheme
          </h1>
        </legend>
        <p>By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct</p>
        <div class="govuk-form-group">


        <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="nationality-2" name="nationality" type="checkbox" value="irish">
                <label class="govuk-label govuk-checkboxes__label" for="nationality-2">
                  I understand my obigations.
                </label>
              </div>
  </div>


      <button type="submit" class="govuk-button" data-module="govuk-button">Save and continue</button>
  </fieldset>
    </form>

  </div>

</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
