<html lang="en-gb"><head>

        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://administration.thepensionsregulator.gov.uk/Content/Themes/Exchange/Layout.css" rel="stylesheet" type="text/css">

        <link href="https://administration.thepensionsregulator.gov.uk/Content/Themes/Exchange/LogInPanel.css" rel="stylesheet" type="text/css">

 

       

        <script async="true" type="text/javascript" src=https://www.google-analytics.com/analytics.js></script><script async="" src=https://www.googletagmanager.com/gtm.js?id=GTM-N38LTWD></script><script type="text/javascript" src="../../Scripts/jquery-1.3.2.min.js"></script>

        <script src="/Scripts/gtm.js"></script>

        <title> What's available </title>

    </head>

    <body class="responsive responsive-razor">

<noscript><iframe src=https://www.googletagmanager.com/ns.html?id=GTM-N38LTWD height="0" width="0" class="gtm-noscript"></iframe></noscript>        <div id="top_anchor">

        </div>

        <div id="visitorWrapper">

            <header id="heading">

                <div id="header" onclick="location.href='../../index.html';">

                    <div id="topNavList">

                        <div>

                            <div>

 

                                <ul>

                                    <li><a href="" target="_blank">Help</a></li>

                                    <li class=""><a href="#0">Contact us</a></li>

                                        <li><a href="#0">T&amp;Cs</a></li>

                                        <li class="last"><a href="#0">Logout</a></li>

                                </ul>

                            </div>

                        </div>

                    </div>

                </div>

            </header>

            <main id="visitorContent">

                <h1 class="pagetitle">

                     What's available

                </h1>

                <div id="visitorMain">

                   

 

<div class="StartPageContainer">

    <div class="StartPageHeaderText">

        You've successfully logged in with the Pensions Regulator. The following options

        are now available to you - simply select the one you want to use.

    </div>

        <div class="StartPageButtonContainer">

            <div class="StartPageButtonText">

                <h2 class="StartPageTitle"><a href="mvp1_my_schemes.html">Exchange</a></h2>

                <a href="#0">Share important scheme information with us – scheme registration, scheme return and more</a>

            </div>

            <div class="StartPageImageButton">

                <a href="mvp1_my_schemes.html">

                    <img src="https://administration.thepensionsregulator.gov.uk/Images/Themes/Exchange/tprExchange.jpg" alt="Exchange" class="noborder">

                </a>

            </div>

        </div>

        <div class="StartPageButtonContainer">

            <div class="StartPageButtonText">

                <h2 class="StartPageTitle"><a href="#0">Master Trust</a></h2>

                <a href="#0">To submit a Master Trust authorisation application</a>

            </div>

            <div class="StartPageImageButton">

                <a href="#0">

                    <img src="https://administration.thepensionsregulator.gov.uk/Images/Themes/MaintainingContriibutions/tprMaintainingContributions.jpg" alt="Exchange" class="noborder">

                </a>

            </div>

        </div>

        <div class="StartPageButtonContainer">
            <div class="StartPageButtonText">
                <h2 class="StartPageTitle"><a href="#0">Manage my profile</a></h2>
                <a href="#0">Update your password or email address</a>
            </div>
            <div class="StartPageImageButton">
                <a href="#0">
                    <img src="https://administration.thepensionsregulator.gov.uk/Images/Themes/Exchange/BigMyProfile.gif" alt="Manage profile" class="noborder">
                </a>
            </div>
        </div>

</div>

                </div>

                <div class="clear">

                </div>

            </main>

        </div>

   

</body>

</html>

