{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#">Incorrect data format entered in cell F30. The data must be a numeric value.</a>
                </li>
                <li>
                  <a href="#">Missing data in cell D6. Please populate this cell and re-upload.</a>
                </li>
                <li>
                  <a href="#">Character length has been exceeded in cell T67. Please do not exceed 1000 characters.</a>
                </li>
                <li>
                  <a href="#">Correct the details in the file and upload the file again.</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Upload your covenant information</h1>

        <div class="govuk-inset-text" style="margin-bottom: 30px;">
          You must use our template to upload your data in ODS format. <br><a href="#0" style="color:#1d70b8;">Download template </a>.
        </div>

        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="file-upload-1">
            <strong>Upload a file</strong>
          </label>
          <p class="govuk-error-message" style="margin-bottom: 10px;">
            <span class="govuk-visually-hidden">Error:</span> Incorrect data format entered in cell F30. The data must be a numeric value. <br>Missing data in cell D6. Please populate this cell and re-upload. <br>Character length has been exceeded in cell T67. Please do not exceed 1000 characters. <br>Correct the details in the file and upload the file again.
          </p>
          <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="file-upload-1" style="margin-bottom: 10px;">
            <strong>Enter any comments about this file (optional)</strong>
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

        <form action="mvp1_submit_task_list_5.html">
          <div class="govuk-button-group" style="margin-top: 40px;">
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
            <a class="govuk-link" href="#0" style="color: #1d70b8">Cancel and return </a>
          </div>
        </form>

        <br>
        <br>
        <br>

    </div>

</div>




{% endblock %}
