{% extends "includes/mvp1_submit_layout_2.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <!--<span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>-->

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;margin-top: 20px;">Submit your scheme valuation data</h1>

        <!--<h2 class="govuk-heading-s govuk-!-margin-bottom-2">You have completed 1 of 4 sections.</h2>-->

        <!--<p class="govuk-body" style="margin-bottom: 10px;">You have completed 4 of 6 sections.</p>-->

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 10px;">1. Valuation details</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="550"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Valuation effective date </a></td>
                    <td class="govuk-table__cell" width="400">01/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell" width="150"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Scheme relevant date </a></td>
                    <td class="govuk-table__cell">15/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Number of members at the valuation effective date</a></td>
                    <td class="govuk-table__cell">Fewer than 100 members<!--.<br>Do not wish to provide full yield curve information. <br>Do not wish to provide benefit cashflows.--></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Was the scheme in deficit at the valuation effective date? </a></td>
                    <td class="govuk-table__cell">Yes </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Is the valuation submission fast track or bespoke? </a></td>
                    <td class="govuk-table__cell">Fast Track <!--. <br>Technical Provisions (TPs) test and conditions have been met. <br>Valuation meets all Fast Track parameters. <br>Funding and investment stress test has been met <br>Recovery plan conditions have been met.--></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 50px;">2. Upload valuation data </h2>

        <div class="govuk-inset-text" style="margin-bottom: 10px;margin-top: 20px;">
          <strong>In section 2, you will need to upload the mandatory data based on the answers provided in section 1 (valuation details). <br>The data provided in section 2 will generate a Statement of Strategy in section 5. <br>You cannot complete section 5 until you complete section 2, 3 and 4.</strong>
          <br>
          <br>
          You must use the relevant files to upload the required information. How to use the files:           
          <ol class="govuk-list govuk-list--number" style="margin-top: 5px;">
            <li>Download the relevant files.</li>
            <li>Use it to gather the required information.</li>
            <li>Save the file in the ODS format.</li>
            <li>When you are ready, upload the completed files.</li>
          </ol>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="360">Trustee Assessment</td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell" width="170"><a href="#0" style="text-decoration: none;color:#1d70b8;">Complete form </a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">View provided details </a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="360">Actuarial information </a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download file</a></td>
                    <td class="govuk-table__cell" width="170"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data </a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investment information </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Covenant information </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded data</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 50px;">3. Upload supporting documents</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="360">Copy of the actuarial valuation</td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell" width="170"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded file</a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the schedule of contributions </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded file</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Copy of the recovery plan</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded file</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Reasons for the recovery plan revision</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell"><a href="#0" style="text-decoration: none;color:#1d70b8;">View uploaded file</a></td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                -->

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 50px;">4. Complete Trustee Assessment </h2>

        <!--
        <div class="govuk-inset-text" style="margin-bottom: 10px;margin-top: 20px;">
          <strong>Lorum.</strong>
        </div>
        -->

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="350">Trustee Assessment</td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell" width="170"><a href="#0" style="text-decoration: none;color:#1d70b8;">Complete form </a></td>
                    <td class="govuk-table__cell" width="200"><a href="mvp1_submit_questionnaire_2.html" style="text-decoration: none;color:#1d70b8;">View provided details   </a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;margin-top: 50px;">5. Upload Statement of Strategy </h2>

        <div class="govuk-inset-text" style="margin-bottom: 10px;margin-top: 20px;">
          Based on the information provided in section 2, the relevant template has been prepared on behalf of the trustees. This is the trustees’ Statement of Strategy. How to use the file:
          <br>    
          <ol class="govuk-list govuk-list--number" style="margin-top: 5px;">
            <li>Download the Statement of Strategy.</li>
            <li>Provide the prepared Statement of Strategy to the chair of trustees to review and sign.</li>
            <li>When signed, scan and save a copy in .pdf format, and upload the signed file.</li>
          </ol>
        </div>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="5"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Statement of strategy</td>
                    <td class="govuk-table__cell" width="200"><a href="#0" style="text-decoration: none;color:#1d70b8;">Download file </a></td>
                    <td class="govuk-table__cell" width="170"><a href="mvp1_submit_upload_8.html" style="text-decoration: none;color:#1d70b8;">Upload file</a></td>
                    <td class="govuk-table__cell" width="210"><a href="#0" style="text-decoration: none;color:#1d70b8;"> </a></td>
                    <td class="govuk-table__cell" width="190"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <div style="background-color: #f3f2f1;margin-top: 15px;padding: 30px 30px 10px 30px;">

            <h3 class="govuk-heading-m" style="margin-bottom: 20px;margin-top: 0px;">Submitting your scheme valuation data &nbsp;&nbsp;&nbsp; <strong class="govuk-tag govuk-tag--red" id="a">CAN’T SUBMIT YET</strong></h3>

            <div class="govuk-warning-text" style="margin-bottom: 10px;">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This submission will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.
              </strong>
            </div>

            <!--
            <p class="govuk-body">This submission will be regarded by us as fully complying with the requirements referred to in Appendix 1, page 44 of the funding code of practice and the statutory requirement under regulation 8(7)(a) of the Scheme Funding Regulations (SI 2005/3377) and Occupational Pensions Schemes (Funding and investment Strategy and Amendment) Regulations 2023.</p>
            -->

            <div class="govuk-form-group" style="margin-bottom: 20px;">
                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email" data-aria-controls="conditional-contact" disabled>
                    <label class="govuk-label govuk-checkboxes__label" for="contact">
                      I'm confirming that, to the best of my knowledge, the details I'm providing are correct, and I understand it is a criminal offence under section 80 of the Pensions Act 2004 to knowingly or recklessly supply false or misleading information to The Pensions Regulator.
                    </label>
                  </div>
                  <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-contact">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="event-name" style="padding-bottom: 0px;">
                        <strong>Enter your full name</strong>
                      </label>
                      <div id="signIn-hint" class="govuk-hint" style="margin-top: 0px">
                        Your name will be added to this submission for records purposes.
                      </div>
                      <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text">
                    </div>
                  </div>
                </div>
            </div>

            <form action="mvp1_submit_confirmation.html">
              <div class="govuk-button-group" style="margin-top: 20px;">
                <button class="govuk-button" data-module="govuk-button" disabled>Submit your scheme valuation data</button>
                <!--<a class="govuk-link" href="mvp1_submit_view_submissions_2.html" style="color: #1d70b8">Cancel and to pension scheme landingpage </a>-->
              </div>
            </form>

        </div>
        
        <br>
        <br>

        <p><a href="#0" style="color:#1d70b8;">Save and return to pension scheme landingpage</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
