{% extends "includes/layout.html" %}

{% block pageTitle %}

Who is submitting the valuation?{% endblock %}
{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



<form class="form" action="find-an-address/find-an-address" method="POST">

    <div class="govuk-form-group">
<fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% include "includes/psr-number.html" %}
      <h1 class="govuk-fieldset__heading">
    Who is submitting the valuation?
      </h1>
    </legend>

<p class="govuk-body">Enter the name of the person submitting the valuation, who is authorised to do so by the scheme trustees/scheme manager.</p>

    <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Full name
    </label>
<input class="govuk-input" id="event-name" name="scheme-trustees-name" type="text">
</div>




</fieldset>
</div>

      <input class="govuk-button" type="submit" value="Save and continue"  />

      <p><a href="../tasklist.html" class="govuk-link">Save and return</a></p>

</form>

</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
