
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Design history </h1>

        <p class="govuk-body" style="margin-bottom: 30px;">
          This page is a public record of our prototype designs and it tells the progress of what we’ve designed and why. The updates published below describe the development of new features to address user needs or changes in the legislation, iterations of existing features, or findings from user research. 
        </p>

        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">TBU</h3>

        <p class="govuk-body" style="margin-bottom: 30px;">
          <strong>TBU</strong>
          <br>
          &#8226; tbu
        </p>


    </div>

</div>


{% endblock %}
