
{% extends "includes/layout3.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-heading-xl" style="margin-bottom: 20px;">Protoypes</p>

    <table class="govuk-table" style="margin-top: 40px;">
      <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Registration</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Register a TPR account</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Login to TPR</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">TPR landing page</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Manage my TPR account</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table" style="margin-top: 40px;">
      <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Enroll to products</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Enrol to Scheme Validation Data</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Enrol to Scheme Return</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table" style="margin-top: 40px;">
      <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Manage products</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Scheme Validation Data</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="concepts/index.html" style="text-decoration: none;color:#1d70b8;">Concepts</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">SVD dashboard</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Manage collaborators</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="new_svd_submission/index.html" style="text-decoration: none;color:#1d70b8;">Start a new submissions</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Manage submission updates</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">View historical submissions</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Notifications</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">Get support</a> </td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" style="border: 0px;"> </td>
          <td class="govuk-table__cell" style="border: 0px;"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><strong>Scheme Return</strong></td>
          <td class="govuk-table__cell"> </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">tbd </td>
          <td class="govuk-table__cell"> </td>
        </tr>
      </tbody>
    </table>

    <!--
    <table class="govuk-table" style="margin-top: 40px;">
      <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Manage Scheme Return</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400">tbd</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>
    -->

    <table class="govuk-table" style="margin-top: 40px;">
      <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Old prototypes</caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" colspan="2"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" width="400"><a href="old_prototypes/index.html" style="text-decoration: none;color:#1d70b8;">Submit your scheme validation data</a> </td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<br>
<br>
<br>

{% endblock %}
