
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Data validation document
      </h1>
      
      <h2><a href="version-3/new-service.html">Version 3</a></h2>
      <p class="govuk-body">Based on finding from UR in sprint 2 and work done around current data items</p>

      <a href="">Design history</a>

      <hr>

      <h2><a href="version-2/tasklist.html">Version 2</a></h2>
      <p class="govuk-body"><a href="https://miro.com/app/board/uXjVPzesnzk=/?share_link_id=643883757591">new flow</a> which breaks down the long up to date pages </p>

      <a href="https://tpr-dvd-design-history.onrender.com/sprint-1/">Design history</a>

  <hr>

      <h2><a href="version-1-0-1-1/tasklist.html">Version 1.0.1.1</a></h2>
      <p class="govuk-body">content changes to version 1.0.1</p>

      <a href="https://tpr-dvd-design-history.onrender.com/sprint-1/">Design history</a>

  <hr>

      <h2><a href="version-1-1/tasklist.html">Version 1.0.1</a></h2>
      <p class="govuk-body">updated patterns and dynamic version of verison 1</p>

      <a href="https://tpr-dvd-design-history.onrender.com/sprint-1/">Design history</a>

  <hr>
       <h2><a href="version-1/tasklist.html">Version 1.0</a></h2>
       <p class="govuk-body">based on the orginal '<a href="assets/images/marcflow.jpeg">Data capture - Shared patterns (Shopping basket)</a>' flow created by Marc Belle</p>
       <div class="govuk-warning-text">
       <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
       <strong class="govuk-warning-text__text">
         <span class="govuk-warning-text__assistive">Warning</span>
         This prototype is not dynamic
       </strong>
     </div>
       <a href="https://tpr-dvd-design-history.onrender.com/sprint-1/">Design history</a></p>
        <hr>
    </div>
  </div>

{% endblock %}
