
{% extends "includes/layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Data validation documents
      </h1>

      <h2><a href="version-1-0-1-1/tasklist.html">Version 1.0.1.1</a></h2>
      <p class="govuk-body">content changes to version 1.0.1</p>

      <a href="">Design history</a></p>

  <hr>

      <h2><a href="version-1-1/tasklist.html">Version 1.0.1</a></h2>
      <p class="govuk-body">updated patterns and dynamic version of verison 1</p>

      <a href="">Design history</a></p>

  <hr>
       <h2><a href="version-1/tasklist.html">Version 1.0</a></h2>
       <p class="govuk-body">based on the orginal '<a href="assets/images/marcflow.jpeg">Data capture - Shared patterns (Shopping basket)</a>' flow created by Marc Belle</p>
       <div class="govuk-warning-text">
       <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
       <strong class="govuk-warning-text__text">
         <span class="govuk-warning-text__assistive">Warning</span>
         This prototype is not dynamic
       </strong>
     </div>
       <a href="">Design history</a></p>
        <hr>
    </div>
  </div>

{% endblock %}
