
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">Prototype backlog </h1>

        <p class="govuk-body" style="margin-bottom: 30px;">
          <!--
          This page is a public record of our designs and it tells the story of what we’ve designed and why for MVP1. The updates published below describe the development of new features to address user needs or changes in the legislation, iterations of existing features, or findings from user research. 
          -->
          This page is a private record of our prototype designs and it tells the progress of what we’ve designed and why. The updates published below describe the development of new features to address user needs or changes in the legislation, iterations of existing features, or findings from user research. 
        </p>

        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Prototype scope</h3>

        <p class="govuk-body" style="margin-bottom: 30px;">
          <strong>Design and test end-to-end journeys for external users to: </strong>
          <br>
          &#8226; Register an accont with TPR.
          <br>
          &#8226; Login to TPR.
          <br>
          &#8226; Register a scheme.
          <br>
          &#8226; Manage a scheme including submissions.
          <br>
          &#8226; Submit scheme valuation data.
          <br>
          <br>
          <strong>Design and test end-to-end journeys for internal users to: </strong>
          <br>
          &#8226; Create and manage business rules for submissions.
          <br>
          &#8226; Create and manage content.
          <br>
          &#8226; Assess scheme submissions. 
        </p>

        <!--<hr style="border: 0.5px solid grey;">-->

        <br>

        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Prototype evolution (see backlog for details) </h3>

        <p class="govuk-body" style="margin-bottom: 30px;">
          <span style="color: #666666;">2022 - April 23 </span>
          <br>
          &#8226; Introducing Submit Scheme Valuation Data as new service.
          <br>
          <br>
          <span style="color: #666666;">April 23 - June 23 </span>
          <br>
          &#8226; Improvements in Submit Scheme Valuation Data to collect quality scheme data.
          <br>
          &#8226; Introduce role-base process to manage schemes (collaborative working).
          <br>
          &#8226; Introduce dashboard to manage role-base tasks and activities.
          <br>
          &#8226; Introduce a mechanism to review and sigh a submission.
          <br>
          &#8226; Introduce view and manage submitted submissions.
          <br>
          &#8226; Introduce a diferent way to view and manage schemes
          <br>
          &#8226; Introduce TPR new brand in the different end-to-end journeys
          <br>
          &#8226; General customer experience improvements
          <br>
          <br>
          <span style="color: #666666;">June 23 - August 23 </span>
          <br>
          &#8226; Improvement to different roles manage different aspects of a scheme.
          <br>
          &#8226; Improvement Submit Scheme Valuation Data process.
          <br>
          &#8226; Improvement for collaborative working.
          <br>
          &#8226; Reflect in the submission process some of the changes in the legislation
          <br>
          &#8226; Introduce navigation to access to new sections.
          <br>
          &#8226; Introduce notifications and help & support sections.
          <br>
          &#8226; General customer experience improvements
          <br>
          <br>
          <span style="color: #666666;">August 23 - November 23 </span>
          <br>
          &#8226; Focus to simplifly the process of Submit Scheme Valuation Data for MVP1.
          <br>
          &#8226; Improvements in Submit Scheme Valuation Data without role-base.
          <br>
          &#8226; Improvements in Submit Scheme Valuation Data content.
          <br>
          &#8226; Improvements in Submit Scheme Valuation Data upload process.
          <br>
          &#8226; Introduce web forms to upload data instead spreadsheets.
          <br>
          &#8226; General customer experience improvements
          <br>
          <br>
          <span style="color: #666666;">November 23 - December 23 </span>
          <br>
          &#8226; Simplify final version of Submit Scheme Valuation Data for MVP1 Beta.
          <br>
          &#8226; Update final content
          <br>
          &#8226; Final customer experience improvements
          <br>
          <br>
          <span style="color: #666666;">January 24 (to be confirmed) </span>
          <br>
          &#8226; Improve scheme registration process 
          <br>
          &#8226; Improve manage schemes process including re-brand existing functionality
          <br>
          &#8226; Improve Submit Scheme Valuation Data process (MVP2)
          <br>
          &#8226; Improve backoffice features to support submissions (MVP2)
        </p>

        <!--
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">About MVP prototype</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="200"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Prototype scope</th>
              <td class="govuk-table__cell">Reflect the initial end-to-end journey for users to submit a new scheme valuation data.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Value proposition</th>
              <td class="govuk-table__cell">Introduce SYSVD new service as well as improvements in existing services related to valuation data, integrate changes in the legislation, and introcude new brand and general customer experience improvments. </td>
            </tr>
          </tbody>
        </table>
        -->

        <!--<hr style="border: 0.5px solid grey;">-->

        <br>

        <h3 class="govuk-heading-l" style="margin-bottom: 30px;">Backlog details</h3>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Initial concepts version 1</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Introduce for first time the TPR new brand in the prototype. 
                <br>
                &#8226; Introduce 'notifications'.
                <br>
                &#8226; Introduce 'client list' idea for organisations managing multiple schemes for multiple clients.
                <br>
                &#8226; Introduce 'contextual help and support' as soon user login.
                <br>
                &#8226; Introduce 'widgets' to display schemes with some details to facilitate users pick the one they are looking for.
                <br>
                &#8226; Introduce 'submission' tag with number of submissions in each scheme.
                <br>
                &#8226; Introduce 'add new scheme' in schemes pages to initiate the process to register a new scheme.
                <br>
                &#8226; Introduce 'quick actions' to facilitate access to popular user tasks.
                <br>
                &#8226; Introduce 'Scheme Valuation Data' landingpage to manage submissions.
                <br>
                &#8226; Introduce 'scheme collaborators' widget to support the idea of collaborative working.
                <br>
                &#8226; Introduce 'scheme activity log' to document team activities as part of collaborative working concept.
                <br>
                &#8226; Introduce 'document templates' managing submissions for user view and use later in submissions.
                <br>
                &#8226; Integrate role-base initial concepts in the task page for manage contributors to the submission and data quality ansurance purposes.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; N/A 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Introduce the concept of login to the patform using GDS and new brand.
                <br>
                &#8226; Introduce the concept of access and select a pension using GDS and new brand.
                <br>
                &#8226; Introduce the concept of manage a scheme including Valuation Data using GDS and new brand.
                <br>
                &#8226; Introduce the concept of submit Scheme Valuation Data for first time using GDS and new brand.
                <br>
                &#8226; Design end-to-end journey to submit Scheme Valuation Data.
                <br>
                &#8226; Introduce 'document templates' in submission start page for user view and use later in submissions.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; Introduce initial legal disclaimers as part of the submission of valuation data.
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; Re-use user feedback from researches from early stages in the project.
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Initial concepts version 2 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Updates in the UI design to combine some of the TPR new styleguide design patterns as well the GDS design system.
                
                <br>
                &#8226; Introduce 'manage payment' widget with access to all payment features.
                <br>
                &#8226; Introduce 'manage collaborators' widget at scheme level (not just for submissions).
                <br>
                &#8226; Introduce 'other actions' widget with links to most popular features in Exchange.
                <br>
                &#8226; Introduce 'select type of submission' to the submission process.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; General improvenments in the customer experience. 
                <br>
                &#8226; Improve content across the end-to-end journey. 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Remove clients page.
                <br>
                &#8226; Remove manage contributors in the submission as part of the task list.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Vision version 1 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Introduce 4 roles to access to the prototype (role base access reflected in the prototype).
                <br>
                &#8226; Update content across the prototype. 
                <br>
                &#8226; Redesign the sections in the task page.  
                <br>
                &#8226; Limit access to functionality to specific roles contributing in submission. 
                <br>
                &#8226; Transfer the limitations to the data upload process.
                <br>
                &#8226; Personalise the end-to-end journey to each role (no all users will view the same details or access to specific functionality in a scheme).
                <br>
                &#8226; Design a mechanism for users to view previous submissions.
                <br>
                &#8226; Add status and some details for each previous submissions.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; General improvenments in the customer experience.  
                <br>
                &#8226; Improve content across the end-to-end journey. 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Remove 'payments' widget from schemes page.
                <br>
                &#8226; Remove 'collaborators' widget from schemes page.
                <br>
                &#8226; Remove 'select type of submission' in the submission process.
                <br>
                &#8226; Move some rows in different sections. 
                <br>
                &#8226; Create a section with all guide questions.
                <br>
                &#8226; Rename some sections. 
                <br>
                &#8226; Make sections dependant to section 1 responses (dynamic content and data to collect).
                <br>
                &#8226; Allow user to manage submissions (old, in progress and new submissions).
                <br>
                &#8226; Update content in start page. 
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Vision version 2 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Introduce 'dashboard' with personalised details: My tasks, team collaborative working, and my enquiries.
                <br>
                &#8226; Introduce navigation to make more easy to users to access and manage different funtionality and content across Exchange.
                <br>
                &#8226; The new navigation allow users to navigate to 'dashboard', 'notifications' and 'help and support' sections. This new sections need content and functionality to be defined by the product team and introduced in future versions of the prototype. 
                <br>
                &#8226; Access to scheme details via navigation.
                <br>
                &#8226; Expand view of schemes list page to accomodate more details of each scheme. 
                <br>
                &#8226; Move 'quick actions' widget to dashboard. 
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; General improvenments in the customer experience.  
                <br>
                &#8226; Improve content across the end-to-end journey. 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Introduce web form to upload trustees assessment details.
                <br>
                &#8226; Introduce the option to choose spreadsheet or UI form when uploading data. 
                <br>
                &#8226; Introduce error mesages to test a variety of failures from buisness and technical's rules.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 1 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Prototype existing exchange journey to user reach the options in a scheme.
                <br>
                &#8226; Introduce an option to select 'submit/view scheme valuation data'. 
                <br>
                &#8226; Remove the entire secion to manage 'submissions' 
                <br>
                &#8226; Introduce a page to manage scheme valuation data submissions only (view, update and create).
                <br>
                &#8226; Introduce functionality in rows to add data 
                <br>
                &#8226; Redesign task page to improve the sections simplyfiying the process. 
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; Remove the dashboard until we have a role-base task solution. 
                <br>
                &#8226; Remove tabs when managing submissions.  
                <br>
                &#8226; Remove 'my pension schemes' from navigation.
                <br>
                &#8226; Improve content in start page.
                <br>
                &#8226; Improve content in guide questions. 
                <br>
                &#8226; Improve content in task list page.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                <br>
                &#8226; Re-use existing pages from Exchange until user select 'submit/view scheme valuation data'.  
                <br>
                &#8226; Keep 'recovery plan' even if this details are now part of SVD.
                <br>
                &#8226; Keep existing pages in Exchange to manage schemes.
                <br>
                &#8226; Introduce link in Exchange to access to SVD.
                <br>
                &#8226; Remove concept to manage submissions to focus on SVD only.  
                <br>
                &#8226; Improve the questions to filter the right spreadsheet template to use to upload data.
                <br>
                &#8226; Update content in start page.
                <br>
                &#8226; Update content in guide questions page including descriptions.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 2 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Redesign the sections in the task list to integrate legal requirements.  
                <br>
                &#8226; Separate upload data from supporting documents. 
                <br>
                &#8226; Introduce  Statement of Strategy section.
                <br>
                &#8226; Introduce legal statemets in the task page. 
                <br>
                &#8226; Introdcue the submission call to action in the task page. 
                <br>
                &#8226; Remove page with legal statement. 
                <br>
                &#8226; Add legal statement in task list page. 
                <br>
                &#8226; Collect user name for submission purposes asuming their a using a corp account.
                <br>
                &#8226; Disable submission green call to action in task list until user complete all the sections.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; Improve content across the end to end journey.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Update status and some details for each previous submissions. 
                <br>
                &#8226; Update content in guide questions page including descriptions.
                <br>
                &#8226; Add two more guide pages. 
                <br>
                &#8226; Update task list page with new guide questions. 
                <br>
                &#8226; Split upload process in two sections: Upload data and upload supporting documents.
                <br>
                &#8226; Introduce a new section: Statement of Strategy.
                <br>
                &#8226; Introduce instructions for Statement of Strategy section. 
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; Redesign the task list page base on the Statement of Strategy requirements
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 3 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Fix some issues with the border in the scheme details page.
                <br>
                &#8226; Introduce 'new' in 'submit/view scheme valuation data'. 
                <br>
                &#8226; Update task list page with new section. 
                <br>
                &#8226; Update content for the explanations in the sections.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Introduce web form to upload trustees assessment details.
                <br>
                &#8226; Update content in guide questions pages including adding descriptions.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 4 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Improve the content in the index page.
                <br>
                &#8226; Improve the content in the guide pages. 
                <br>
                &#8226; Improve the content in the task list page. 
                <br>
                &#8226; Update task list pages with new business requirements. 
                <br>
                &#8226; Update 'Statement of Strategy' section to make visible the actions.
                <br>
                &#8226; Add user account name in header.
                <br>
                &#8226; Remove funtionality to collect user name from legal statement. 
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Introduce web form to upload trustees assessment details.
                <br>
                &#8226; Introduce error mesages to test a variety of failures from buisness and technical's rules.
                <br>
                &#8226; Improve guide questions and descriptions. 
                <br>
                &#8226; Relocate 'covenant information' from 'upload data' section to 'supporting documents' section. 
                <br>
                &#8226; Transform upload covenant information spreadsheet in to a web form. 
                <br>
                &#8226; Introduce the option to upload all the 'supporting documents' at the same time in one file. 
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>


        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 5 </caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Relocate sections explanation to the top of the task list page.
                <br>
                &#8226; Remove guide questions links from task list.
                <br>
                &#8226; Add 'change' link to update guide questions' responses.
                <br>
                &#8226; Remove 'checkbox' from legal disclaimer.
                <br>
                &#8226; Upload legal disclaimer.
                <br>
                &#8226; Remove 'navigation' from header.
                <br>
                &#8226; Update header to relocate link to 'my pension schemes'.
                <br>
                &#8226; Remove most of funtionality in the task list page: Download, view uploaded details, and web forms.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Convert web forms into documents to be uploaded.
                <br>
                &#8226; Remove the submission history page.
                <br>
                &#8226; Remove the 'notifications' and 'help and supprt' sections from navigation.
                <br>
                &#8226; Introduce the option to edit the guide questions' responses.
                <br>
                &#8226; In the valuation data upload section, only have one row to upload one spreadsheet.
                <br>
                &#8226; Remove 'download' file option from sections when apply.
                <br>
                &#8226; Remove 'view uploaded data' links from vakuation data upload section.
                <br>
                &#8226; Remove 'comments text box' on upload screen of the valution data.
                <br>
                &#8226; Add 'trustee assessment' as one of the supporting document upload.
                <br>
                &#8226; Remove 'view uploaded file' link on each supporting document row.
                <br>
                &#8226; Remove the comments box on the upload screen for each supporting document.
                <br>
                &#8226; Remove 'trustee assessment' question/section.
                <br>
                &#8226; Remove 'doenload file' link from the statement of strategy section.
                <br>
                &#8226; Remove the 'view uploaded file' link from the statement of strategy section.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 6 (alternative to version 5)</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Update 'start page' content with description and table of templates available to download before start the submission.
                <br>
                &#8226; Update 'start page' content to reflect changes after remove the task list and its sections. 
                <br>
                &#8226; Remove task list page.
                <br>
                &#8226; Remove all sections to upload data and documents.
                <br>
                &#8226; Introduce two upload document pages after start page to upload 'statement of strategy' and 'supporting document'.
                <br>
                &#8226; Introduce review answers page after upload pages
                <br>
                &#8226; Introduce dropdown to select type of template used to upload 'statement of strategy' document containing all the requested data.
                <br>
                &#8226; Introduce 'description' for the type of documents.
                <br>
                &#8226; Introduce 'checkboxes' to select the content including in the 'supporting document'.
                <br>
                &#8226; Introduce 'description' for what can be included in the 'supporting document'.
                <br>
                &#8226; Pending to add validations after checkboxes matching type of template used to upload 'statement of strategy'.
                <br>
                &#8226; Update 'review page' with all the details from the upload pages with option to make changes.
                <br>
                &#8226; Introdcue the functionality to view PDF with details to review but also download when needed.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; Redesign the end to end journey to simplyfied the process removing task list page and having two type of document to upload.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">MVP version 7</caption>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" style="border: none">
                <hr style="border: 0.5px solid grey;margin-top: 0px;margin-bottom: 20px;">
                <strong>Changes from Design team</strong>
                <br>
                &#8226; Create guidance pages with link to start the submission.
                <br>
                &#8226; Add place holders in guidance to access to templates.
                <br>
                &#8226; Update 'start page' content removing references to templates.
                <br>
                &#8226; Introduce 3 types of documents to upload.
                <br>
                &#8226; Update content in upload pages
                <br>
                &#8226; Update review page
                <br>
                &#8226; Remove dropdown to select type of template used to upload 'statement of strategy'.
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                &#8226; None
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                &#8226; None
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>
        <br>
        <br>

        <p style="margin-bottom: 300px;"></p>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 0px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Contact details</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;"><strong>About the service <br></strong> Kat  Chartrand <br>Service Owner <br>kat.chartrand@tpr.gov.uk  <br><br>
          <strong>About the product <br></strong> Vimal Patel <br>Product Owner<br>vimal.patel@tpr.gov.uk <br><br>
          <strong>About user research <br></strong> Marta Baigorri<br>User Researcher <br>marta.baigorri@tpr.gov.uk <br><br>
          <strong>About content <br></strong>Chris Smith<br>Content Designer <br>chris.smith@tpr.gov.uk <br><br>
          <strong>About the prototype <br></strong> Ramon Delgado <br>Interaction Designer <br>ramon.delgado@tpr.gov.uk</p>

          </div>
      </div>

    </div>

</div>


{% endblock %}
