{% extends "includes/layout_new_submission.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">New submission overview</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete: <span class="govuk-body">You have completed 4 of 6 sections.</span></h2>

        <!--<p class="govuk-body" style="margin-bottom: 10px;">You have completed 4 of 6 sections.</p>-->

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">1. Submission method</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Effective date </a></td>
                    <td class="govuk-table__cell">19/03/2021 (elegible for SYSVD)</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">2. Submission framework</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Person setting the submission framework </a></td>
                    <td class="govuk-table__cell">John Smith</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Type of valuation Surplus or deficit?</a></td>
                    <td class="govuk-table__cell">Deficit</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Quality ansurance process after upload data</a></td>
                    <td class="govuk-table__cell">3 reviewers<br>2 approvers</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Collaborative working </a></td>
                    <td class="govuk-table__cell">
                        <strong>Assigned uploaders:</strong><br> Peter Coward & Sonia Kowasky <br>
                        <strong>Assigned reviewers:</strong><br> Anne Douglas, Mark Green & Sebastian Tower <br>
                        <strong>Assigned approvers:</strong><br> Jonathan Sinclair & Maria Sutherland <br>
                        <strong>Assigned trustee:</strong><br> Michael Sumerfield</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Collaborative working </a></td>
                    <td class="govuk-table__cell">
                        <strong>Uploaders:</strong> Peter Coward & Sonia Kowasky <br>
                        <strong>Reviewers:</strong> Anne Douglas, Mark Green & Sebastian Tower <br>
                        <strong>Approvers:</strong> Jonathan Sinclair & Maria Sutherland <br>
                        <strong>Trustee:</strong> Michael Sumerfield</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Data ingestion format</a></td>
                    <td class="govuk-table__cell">Spreadsheet</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Fast track</a></td>
                    <td class="govuk-table__cell">Yes</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <!--

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Manage collaborative working</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Role asignations</a></td>
                    <td class="govuk-table__cell"><strong>Uploaders:</strong> P Coward & S Kowasky <br><strong>Reviewers:</strong> A Douglas, M Green & S Tower <br><strong>Approvers:</strong> J Sinclair & M Sutherland <br><strong>Trustee:</strong> M Sumerfield</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        -->

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Upload files</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload actuarial data (AC)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload covenant data (CD)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload recovery plan (RP)</a></td>
                    <td class="govuk-table__cell">Sonia Kowasky</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload funding and investment strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload actuarial valuation (AV)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload schedule of contribution (SC)</a></td>
                    <td class="govuk-table__cell">Peter Coward</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>


            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">4. Review </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review AD, CD, RP, FIS, AV, SC </a></td>
                    <td class="govuk-table__cell">Anne Douglas</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review RP</a></td>
                    <td class="govuk-table__cell">Mark Green</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review FIS, AV, SC</a></td>
                    <td class="govuk-table__cell">Sebastian Tower</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">5. Approve </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Approve submission</a></td>
                    <td class="govuk-table__cell">Jonathan Sinclair</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Approve submission</a></td>
                    <td class="govuk-table__cell">Maria Sutherland</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">6. Sign & submit</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="400">Sign declaration</td>
                    <td class="govuk-table__cell">Michael Sumerfield</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Submit valuation</td>
                    <td class="govuk-table__cell">Michael Sumerfield</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>
                -->

            </tbody>
        </table>

        <br>
        <br>
        <br>

        <!--

        <h2 class="govuk-heading-m">Submit your scheme valuation data</h2>

        <p class="govuk-body">By submitting this scheme valuation data you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes" style="padding-bottom: 50px;">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="organisation" name="organisation" type="checkbox" value="hmrc">
            <label class="govuk-label govuk-checkboxes__label" for="organisation">
              I confirm that all details ptovided are correct.
            </label>
          </div>
        </div>

        <br>

        <div class="govuk-button-group" style="align-items: flex-start;">
          <a class="button button-start" href="#0" role="button">
            <button class="govuk-button" data-module="govuk-button" disabled="disabled">
              Submit scheme
            </button>
          </a>

        </div>

        -->

    </div>
</div>




{% endblock %}
