{% extends "includes/layout_new_submission.html" %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
                
        <span class="govuk-caption-m">Acme Limited (PSR 12010256)</span>

        <h1 class="govuk-heading-xl" style="margin-bottom: 20px;">New submission overview</h1>

        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Submission incomplete: <span class="govuk-body">You have completed 3 of 6 sections.</span></h2>

        <br>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">1. Submission creation</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380">Submission creator </a></td>
                    <td class="govuk-table__cell">John Smith - Pension Consultants Limited</td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Submission effective date </a></td>
                    <td class="govuk-table__cell">19/11/2023 <!--(elegible for SYSVD)--></td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">2. Submission framework</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <!--
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Person setting the submission framework </a></td>
                    <td class="govuk-table__cell">John Smith </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                -->
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Is the scheme in deficit? </a></td>
                    <td class="govuk-table__cell">No </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Quality ansurance process </a></td>
                    <td class="govuk-table__cell">1 reviewer<br>1 approver </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Collaborative working </a></td>
                    <td class="govuk-table__cell">
                        <strong>Uploader:</strong> Peter Coward <br>
                        <strong>Reviewer:</strong> Michael Sumerfield <br>
                        <strong>Approver:</strong> Michael Sumerfield <br>
                        <strong>Trustee:</strong> Michael Sumerfield </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Data ingestion format</a></td>
                    <td class="govuk-table__cell">Spreadsheet </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Fast track</a></td>
                    <td class="govuk-table__cell">No </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">3. Upload data</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload actuarial data (AC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload covenant data (CD)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload funding and investment strategy (FIS)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload actuarial valuation (AV)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Upload schedule of contribution (SC)</a></td>
                    <td class="govuk-table__cell">Peter Coward </td>
                    <td class="govuk-table__cell"><strong class="govuk-tag app-task-list__tag">COMPLETED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">4. Review </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Review AD, CD, RP, FIS, AV, SC </a></td>
                    <td class="govuk-table__cell">Michael Sumerfield</td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag">NOT STARTED</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">5. Approve </h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Approve AD, CD, RP, FIS, AV, SC</a></td>
                    <td class="govuk-table__cell">Michael Sumerfield</td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

            </tbody>
        </table>

        <h2 class="govuk-heading-m" style="margin-bottom: 0px;">6. Sign & submit</h2>

        <table class="govuk-table">
            <tbody class="govuk-table__body">

                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3"></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell" width="380"><a href="#0" aria-describedby="a" style="text-decoration: none;color:#1d70b8;font-weight: 400;">Sign declaration</td>
                    <td class="govuk-table__cell">Michael Sumerfield </td>
                    <td class="govuk-table__cell" width="160"><strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="a">CAN’T START YET</strong></td>
                </tr>

            </tbody>
        </table>

        <br>

        <p><a href="#0" style="color:#1d70b8;">Return to SVD Dasboard</a></p>

        <br>
        <br>
        <br>

    </div>
</div>




{% endblock %}
