{% extends "includes/layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
{% include "includes/psr-number.html" %}
    <h1 class="govuk-heading-l">Check your answers before completing this section</h1>
    </div>
      <div class="govuk-grid-column-full">
        <table class="govuk-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Year</th>
          <th scope="col" class="govuk-table__header">Pay increases </th>
            <th scope="col" class="govuk-table__header">RPI  </th>
              <th scope="col" class="govuk-table__header">  CPI assumptions   </th>
              <th scope="col" class="govuk-table__header"> Low Dependency   </th>
                  <th scope="col" class="govuk-table__header">TP (Technical Provisions)  </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">1</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">2</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">3</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">4</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">5</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">6</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">7</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">9</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">10</th>
          <td class="govuk-table__cell">0.3</td>
            <td class="govuk-table__cell">0.3</td>
              <td class="govuk-table__cell">0.3</td>
                <td class="govuk-table__cell">0.3</td>
                  <td class="govuk-table__cell">0.3</td>
        </tr>
      </tbody>
    </table>
    <nav class="govuk-pagination" role="navigation" aria-label="results">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">Previous</span></a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link govuk-pagination__item--current" href="#" aria-label="Page 1"  aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        4
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        5
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        6
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        7
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        8
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        9
      </a>
    </li>
    <li class="govuk-pagination__item ">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        10
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg></a>
  </div>
</nav>

    <form action="../tasklist" method="post" novalidate>

      <input type="hidden" name="cashflow-completed" value="true">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>
  <p><a href="../tasklist.html" class="govuk-link">Save and return</a></p>
  </div>
</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
