{% extends "includes/layout.html" %}

{% block pageTitle %}
We have received your data
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
{% include "includes/psr-number.html" %}
    <h1 class="govuk-heading-l">We have received your data</h1>

</div>
<div class="govuk-grid-column-full">
<p class="govuk-body">You can review the graphs below before completing this section.</p>
</div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Non-discounted Cashflow</h2>
      <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
</div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Discount Rate</h2>
    <canvas id="myChart1" style="width:100%;max-width:700px"></canvas>
</div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Assumed RPI Inflation curve</h2>
    <canvas id="myChart2" style="width:100%;max-width:700px"></canvas>
</div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Assumed CPI Inflation curve</h2>
        <canvas id="myChart3" style="width:100%;max-width:700px"></canvas>
</div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">Assumed Pay Increase curve</h2>
      <canvas id="myChart4" style="width:100%;max-width:700px"></canvas>
</div>


<div class="govuk-grid-column-two-thirds-from-desktop">
        <script>
          var xyValues = [
          {x:50, y:7},
          {x:60, y:8},
          {x:70, y:8},
          {x:80, y:9},
          {x:90, y:9},
          {x:100, y:9},
          {x:110, y:10},
          {x:120, y:11},
          {x:130, y:14},
          {x:140, y:14},
          {x:150, y:15}
        ];

        new Chart("myChart", {
          type: "scatter",
          data: {
            datasets: [{
              pointRadius: 4,
              pointBackgroundColor: "rgb(0,0,255)",
              data: xyValues
            }]
          },
          options: {
            legend: {display: false},
            scales: {
              xAxes: [{ticks: {min: 40, max:160}}],
              yAxes: [{ticks: {min: 6, max:16}}],
            }
          }
        });
    new Chart("myChart1", {
      type: "scatter",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });

    new Chart("myChart2", {
      type: "scatter",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });

    new Chart("myChart3", {
      type: "scatter",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    new Chart("myChart4", {
      type: "scatter",
      data: {
        datasets: [{
          pointRadius: 4,
          pointBackgroundColor: "rgb(0,0,255)",
          data: xyValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          xAxes: [{ticks: {min: 40, max:160}}],
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });


        </script>

<br>
<br>
    <form action="../tasklist" method="post" novalidate>

      <input type="hidden" name="cashflow-completed" value="true">

      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>
  <p><a href="../tasklist.html" class="govuk-link">Save and return</a></p>


    <p>Alternative version: <a href="check-your-answers-alt" class="govuk-link">Data table</a></p>

  </div>
</div>
<script src="/public/javascripts/radio-to-hidden.js"></script>
{% endblock %}
