
{% extends "includes/layout_index.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/backlink.html" %}
{% endblock %}

{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl" style="margin-bottom: 30px;">MVP 1 backlog </h1>

        <p class="govuk-body" style="margin-bottom: 30px;">
          This page is a public record of our designs and it tells the story of what we’ve designed and why for MVP1. The updates published below describe the development of new features to address user needs or changes in the legislation, iterations of existing features, or findings from user research. 
          <br>
          <!--
          Contact details about the design history: <br>
          <strong>&#8226; Service:</strong> Kat  Chartrand, Product Owner, kat.chartrand@tpr.gov.uk  <br>
          <strong>&#8226; Prototype:</strong> Ramon Delgado, Interaction Designer, ramon.delgado@tpr.gov.uk
          -->
        </p>

        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Prototype scope</h3>

        <p class="govuk-body" style="margin-bottom: 30px;">
          Reflect a basic end-to-end journey for users to submit scheme valuation data.
        </p>

        <h3 class="govuk-heading-m" style="margin-bottom: 10px;">Prototype value proposition</h3>

        <p class="govuk-body" style="margin-bottom: 30px;">
          &#8226; Introduce Submit Scheme Valuation Data as new service to collect quality scheme data
          <br>
          &#8226; Improvements in existing services linked to valuation data (recovery plan)
          <br>
          &#8226; Reflect changes in the legislation
          <br>
          &#8226; Implement TPR new brand 
          <br>
          &#8226; General customer experience improvements
        </p>

        <!--
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">About MVP prototype</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="200"></th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Prototype scope</th>
              <td class="govuk-table__cell">Reflect the initial end-to-end journey for users to submit a new scheme valuation data.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Value proposition</th>
              <td class="govuk-table__cell">Introduce SYSVD new service as well as improvements in existing services related to valuation data, integrate changes in the legislation, and introcude new brand and general customer experience improvments. </td>
            </tr>
          </tbody>
        </table>
        -->

        <br>

        <h3 class="govuk-heading-l" style="margin-bottom: 30px;">Prototype updates</h3>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Initial concept</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                Introduce for first time the new brand in Scheme Valuation Data prototype 
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                N/A 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                Introduce the concept of login to the patform using GDS and new brand
                <br>
                Introduce the concept of access and select a pension using GDS and new brand
                <br>
                Introduce the concept of manage a scheme including Valuation Data using GDS and new brand
                <br>
                Introduce the concept of submit Scheme Valuation Data for first time using GDS and new brand
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                Introduce the concept for user read and agrees with legal disclaimers
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Lorum</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Changes from users feedback in usability testing</strong>
                <br>
                N/A 
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Lorum</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                General improvements from version 1.
                <br>
                <br>
                <strong>Changes from users feedback in version 1 usability testing</strong>
                <br>
                N/A because we didn't test with users.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Lorum</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                General improvements from version 2.
                <br>
                <br>
                <strong>Changes from users feedback in version 2 usability testing</strong>
                <br>
                N/A because we didn't test with users.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Lorum</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                The proposed UI design combines some of the new styleguide design patterns as well the GDS design system.
                <br>
                The new design introcuded navigation to make more easy to users to access and manage different funtionality and content across Exchange.
                <br>
                The new navigation introduces 'dashboard', 'notifications' and 'help and support' sections. This new sections need content and functionality to be defined by the product team and introduced in the prototype version 5.
                <br>
                <br>
                <strong>Changes from users feedback in version 3 usability testing</strong>
                <br>
                N/A because no usability testing with users in previous prototype versions.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                Introduce web form to upload data.
                <br>
                Introduce error mesages to test a variety of failures from buisness and technical rules.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <br>
        
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" style="margin-bottom: 0px;">Version 1</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>Changes from Design team</strong>
                <br>
                The proposed UI design combines some of the new styleguide design patterns as well the GDS design system.
                <br>
                The new design introcuded navigation to make more easy to users to access and manage different funtionality and content across Exchange.
                <br>
                The new navigation introduces 'dashboard', 'notifications' and 'help and support' sections. This new sections need content and functionality to be defined by the product team and introduced in the prototype version 5.
                <br>
                <br>
                <strong>Changes from users feedback in version 3 usability testing</strong>
                <br>
                N/A because no usability testing with users in previous prototype versions.
                <br>
                <br>
                <strong>Changes from business requirements</strong>
                <br>
                Introduce web form to upload data.
                <br>
                Introduce error mesages to test a variety of failures from buisness and technical rules.
                <br>
                <br>
                <strong>Changes from legal requirements</strong>
                <br>
                N/A
                <br>
                <br>
                <strong>Other changes</strong>
                <br>
                N/A
                <br>
                <br>
              </td>
            </tr>
          </tbody>
        </table>

        <p style="margin-bottom: 300px;"></p>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E9F8FF;text-align: left;padding: 10px 20px 5px 20px;margin-top: 0px;">
          <h2 class="govuk-heading-m" style="margin-bottom: 10px;">Contact details</h2>
          <div class="govuk-panel__body">
            <p style="margin-bottom: 10px;"><strong>About the service <br></strong> Kat  Chartrand <br>Service Owner <br>kat.chartrand@tpr.gov.uk  <br><br>
          <strong>About the product <br></strong> Vimal Patel <br>Product Owner<br>vimal.patel@tpr.gov.uk <br><br>
          <strong>About user research <br></strong> Marta Baigorri<br>User Researcher <br>marta.baigorri@tpr.gov.uk <br><br>
          <strong>About the prototype <br></strong> Ramon Delgado <br>Interaction Designer <br>ramon.delgado@tpr.gov.uk</p>

          </div>
      </div>

    </div>

</div>


{% endblock %}
